<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/assets/owl.carousel/assets/owl.carousel.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.1/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="/public/fonts/avenir/avenir.css">
<script type="text/javascript">
    var MTIProjectId='bce66408-ff39-49a3-89a4-8dfa6afb4e68';
    (function() {
        var mtiTracking = document.createElement('script');
        mtiTracking.type='text/javascript';
        mtiTracking.async='true';
        mtiTracking.src='/assets/js/mtiFontTrackingCode.js';
        (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild( mtiTracking );
    })();
</script>
