<div class="testimonials">
	<div class="container-fluid" id="testimonials">
  		
      <div class="row">
    		<div class="col-md-6 col-sm-6 image">
      			<img src="/public/hally.png" alt="Hally Knutsen"/>
    		</div><!-- END col-md-6 -->
    		<div class="col-md-6 col-sm-6 text-center">
      			<div class="quote">"What used to take 5 weeks now takes just 1 <br/>week with Syncano. <strong>You let developers be <br/>developers and not get stuck being<br/> middleware or database engineers.</strong>"</div>
      			<div class="source">Hally Knutsen <br/><span>New York Digital Labs</span></div>
            <div class="navBulletsWrapper visible-lg">
              <div rel="0" class="active">1</div>
              <div rel="1">2</div>
              <div rel="2">3</div>
            </div>
    		</div><!-- END col-md-6 -->
  		</div><!-- END row -->
      <div class="row">
        <div class="col-md-6 col-sm-6 image">
            <img src="/public/krystian.png" alt="Krystian"/>
        </div><!-- END col-md-6 -->
        <div class="col-md-6 col-sm-6 text-center">
            <div class="quote">"Hands-down the easiest way to build robust, <br/>advanced apps with real-time sync. CodeBox <br/>even lets me use third-party apps just like <br/>native ones. <strong>Finally I can build anywhere, <br/>anything, anytime on any device."</strong>
            </div>
            <div class="source">Krystian Sulek <br/><span>CHIMERA PRIME</span></div>
            <div class="navBulletsWrapper visible-lg">
              <div rel="0">1</div>
              <div rel="1" class="active">2</div>
              <div rel="2">3</div>
            </div>
        </div><!-- END col-md-6 -->
      </div><!-- END row -->
      <div class="row">
        <div class="col-md-6 col-sm-6 image">
            <img src="/public/patrick.png" alt="Patrick"/>
        </div><!-- END col-md-6 -->
        <div class="col-md-6 col-sm-6 text-center">
            <div class="quote">"Syncano's personal, responsive support was a <br/>difference maker for me. <strong>Syncano is the <br/>developers' champion."</strong>
            </div>
            <div class="source">Patrick DeVivo <br/><span>Fastack</span></div>
            <div class="navBulletsWrapper visible-lg">
              <div rel="0">1</div>
              <div rel="1">2</div>
              <div rel="2" class="active">3</div>
            </div>
        </div><!-- END col-md-6 -->
      </div><!-- END row -->
  
  	</div><!-- END container fluid -->
</div><!-- END testimonials -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
jQuery(document).ready(function($) {
    var $els = $('#testimonials > .row'),
        i = 0,
        len = $els.length;

    $els.slice(1).hide();
    setInterval(function () {
        $els.eq(i).fadeOut(function () {
            $els.eq(++i % len).fadeIn();
        })
    }, 7500)
});
</script>