<footer class="columns">
<div class="container">
	<div class="row">
		<div class="col-md-2 col-sm-2 logo">
			<img src="/assets/images/syncano-oval.png" alt="syncano logo small"/>
		</div>
		<div class="col-md-2 col-sm-2">
			<h4>Company</h4>
			<ul>
				<li><a href="/about">About Us</a></li>
				<li><a href="/jobs">Superstar Jobs</a></li>
				<!-- li><a href="/brand">Brand Resources</a></li -->
				<li><a href="/contact">Contact Us</a></li>
				<li><a href="/terms-of-service/">Terms and Legal</a></li>
			</ul>
		</div>
		<div class="col-md-2 col-sm-2 resources">
			<h4>Resources</h4>
			<ul>
				<li><a href="/blog">Blog</a></li>
				<li><a href="http://docs.syncano.com/v3.2.1/">Docs</a></li>
				<li><a href="/pricing">Pricing</a></li>
				<li><a href="/solutions">Solutions</a></li>
			</ul>
		</div>

		<div class="col-md-2 col-sm-2 no-header resources">
			<ul>
				<li><a href="/category/events">Meetups</a></li>
				<li><a href="/support/">Support</a></li>
				<li><a href="/category/how-tos">Tutorials</a></li>
				<li><a href="http://docs.syncano.com/v4/docs/syncano-libraries">Libraries</a></li>
			</ul>
		</div>

		<div class="col-md-3 col-sm-3">
			<h4>Latest Blog Post</h4>
			<ul>
				{% for post in site.posts limit:2 %}
					<li>
						{% if post.meetup_url %}
						<a href="{{post.meetup_url}}" target="_blank">
						{% else %}
						<a href="{{post.url}}">
						{% endif %}
							{{post.title}}
						</a>
					</li>
  				{% endfor %}
			</ul>
			<div class="newsletter">
				<h4>Join Our Newsletter</h4>
				<form class="form-inline" onsubmit="newsletterSubscribe();">
  					<div class="form-group">
    					<input type="email" class="form-control" id="subscribeEmail" placeholder="you@example.com">
    					<button type="submit" class="btn btn-default">Go</button>
  					</div>
				</form>
			</div><!-- END newsletter -->
		</div>
	</div><!-- END row -->
</div>

</footer>