<script src="/assets/owl.carousel/owl.carousel.min.js"></script>
<script src="/assets/js/bootstrap-without-jquery.min.js"></script>
<script type="text/javascript">
!function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
analytics.load("fLDtpYXRjFYnHlp1gvzl4I3Gv8gDoQ8m");
}}();
</script>
<script>
function newsletterSubscribe() {
  var subscribeEmail = document.getElementById('subscribeEmail').value;
  var emailField = document.getElementById('subscribeEmail');
  var success = document.getElementById('successful-subscribe');

  if (subscribeEmail == null || subscribeEmail == "") {
    emailField.className = emailField.className + " has-error";
    return false;
  } else {
    //regex for valid email
    if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(subscribeEmail))  {  
      if (emailField.classList.contains('has-error')) {
        emailField.className = 'form-control';
      }
      analytics.alias(subscribeEmail);
      analytics.identify(subscribeEmail, {'email':subscribeEmail, 'Lifecycle stage':'lead', 'source':'Newsletter'});
      analytics.track('Subscribed to newsletter', {'email':subscribeEmail}); 
      success.className = success.className + " show";
    } else {
      emailField.className = emailField.className + " has-error";
      return false
    }
  }
}
</script>
<!-- SEGMENT.IO TRACKING EVENTS -->
<script>
analytics.ready(function () {if (window.analytics.user().id()) {window.analytics.identify();}});
{% if page.id %}
analytics.page('Blog Post', {
	Post: "{{page.title}}",
});
{% else %}
analytics.page('Website', {
	Page: "{{page.mixpanel_title}}",
});
{% endif %}
</script>
<!-- END SEGMENT.IO TRACKING EVENTS -->

<script>

analytics.ready(function(){
  var unique_id = mixpanel.get_distinct_id();
  var signupBtns = document.getElementsByClassName('mixpanel-btn');
  var loginBtns = document.getElementsByClassName('mixpanel-login');
  if (unique_id) {
    for(var i = 0; i < signupBtns.length; i++){
      signupBtns[i].setAttribute("href", 'https://dashboard.syncano.io/#/signup?distinct_id=' + unique_id);
    }
    for(var x = 0; x < loginBtns.length; x++){
      loginBtns[x].setAttribute("href", 'https://dashboard.syncano.io/#/login?distinct_id=' + unique_id);
    }
  }
});
</script>