@font-face{
font-family:"Avenir";
src:url("../fonts/avenir/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix");
src:url("../fonts/avenir/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix") format("eot"),url("../fonts/avenir/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2") format("woff2"),url("../fonts/avenir/908c4810-64db-4b46-bb8e-823eb41f68c0.woff") format("woff"),url("../fonts/avenir/4577388c-510f-4366-addb-8b663bcc762a.ttf") format("truetype"),url("../fonts/avenir/b0268c31-e450-4159-bfea-e0d20e2b5c0c.svg#b0268c31-e450-4159-bfea-e0d20e2b5c0c") format("svg");
font-weight: 300;
font-style: normal;
}
