//@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&subset=latin-ext');

$font_default: 'Poppins', sans-serif;

$font_size_default: 19px;
$font_size_small: 15px;
// -25 = -0,025em

$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;

h1, h2 {
  @include font_big(-0.03em);

  @media (max-width: $desktop) {
    font-size: 30px;
  }
}
