<form action="//formspree.io/hello@syncano.com" method="POST" name="contact" class="contact">
	<input type="hidden" name="_subject" value="Contact Form Submission from syncano.com" />
	<input type="text" name="_gotcha" style="display:none" />
	<input type="hidden" name="_next" value="//syncano.com/thank-contacting-us" />
	
	<div class="form-group" id="name">
    	<input class="form-control" type="text" name="name" placeholder="Name" required>
  	</div>


  	<div class="form-group" id="email">
    	<input class="form-control" type="email" name="_replyto" placeholder="Email" required>
  	</div>
    	
    <div class="form-group">
    	<textarea class="form-control" rows="3" name="message" placeholder="Message"></textarea>
  	</div>
    	
    <input type="submit" value="Send" class="btn btn-dark-blue">
</form>