<div class="white">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 text-center location">
        <img src="/public/nyc.png" />
        <h2>USA</h2>
        <p><a href="https://www.google.com/maps/place/120+E+23rd+St,+New+York,+NY+10010/@40.739496,-73.98572,17z/data=!3m1!4b1!4m2!3m1!1s0x89c259a0de37a537:0x60b1997940b9a35f" target="_blank">120 East 23rd St.</a> <br/>5th Floor <br/>New York, NY 10010</p>
      </div>
      <div class="col-md-4 col-sm-4 text-center location">
        <img src="/public/poland.png" />
        <h2>POLAND</h2>
        <p><a href="https://www.google.com/maps/place/Aleje+Jerozolimskie+81,+Warszawa,+Poland/@52.2269719,21.001542,17z/data=!3m1!4b1!4m2!3m1!1s0x471ecc928b79810d:0xdfe2f37dc4130825" target="_blank">Al. Jerozolimskie 81</a> <br/>02-001 Warsaw <br/>Poland</p>
      </div>
      <div class="col-md-4 col-sm-4 text-center location">
        <img src="/public/norway.png" />
        <h2>NORWAY</h2>
        <p><a href="https://www.google.com/maps/place/Stortingsgata+30,+0161+Oslo,+Norway/@59.9147703,10.7317376,17z/data=!3m1!4b1!4m2!3m1!1s0x46416e7e12fff935:0xda8a78ba0761b31" target="_blank">Stortingsgata 30</a> <br/>0161 Oslo <br/>Norway</p>
      </div>
    </div>
  </div><!-- END container -->
</div><!-- END main -->