<div class="white">
  <div class="container">
    <div class="row">
      <div class="col-md-4 location">
        <h2>USA</h2>
        <p>120 East 23rd St. <br/>5th Floor <br/>New York, NY 10010 <br/>USA</p>
      </div>
      <div class="col-md-4 location">
        <h2>POLAND</h2>
        <p>Al. Jerozolimskie 81 <br/>02-001 Warsaw <br/>Poland</p>
      </div>
      <div class="col-md-4 location">
        <h2>NORWAY</h2>
        <p>Stortingsgata 30 <br/>0161 Oslo <br/>Norway</p>
      </div>
    </div>
  </div><!-- END container -->
</div><!-- END main -->