*~
.DS_Store
config.codekit
.divshot-cache/*
*.sublime-project
*.sublime-workspace
Gemfile.lock

# jekyll build
_site/*

node_modules/
/public/

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
=======
/old/
.idea/
_site/
.sass-cache/
