---
layout: default
title: Get Started
transparent_header: true
bg_color: "#323232"
body_class: ['get-started']
nav_class: 'dark'
permalink: /get-started/
keywords: syncano, how syncano works, using syncano, getting started with syncano
seo_description: "Learn how you can go from code to data storage in only 5 minutes with Syncano. Here's a demo for you to try for yourself!"
images: ['/assets/images/down-arrow.png', '/public/syncano-admin.png']
include_platforms: true
---

<div class="hero">
  <div class="container">
    <div class="info">
      <h1>Get Started</h1>
      <h2>From code to data storage in 5 minutes!</h2>
      <a href="https://login.syncano.com/sign_up" class="btn btn-success" id="getstarted-hero">GET STARTED FOR FREE</a>
      <div class="arrow">
        <img src="/assets/images/down-arrow.png" alt="Down"/>
      </div>
    </div>
  </div>
</div>

<div class="step step-1 odd">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h3 class="pull-right">1</h3>
      </div>
      <div class="col-md-10">
        <h2>Connect to Syncano</h2>
        <p>Initialize Sync Server in one line of code, passing your instance name and API key.</p>
        {% highlight javascript linenos %}
var syncano = SyncanoConnector.getInstance();
syncano.connect({instance:'YOUR-INSTANCE-NAME', api_key:'YOUR-API-KEY'},function(auth){
  console.log("Connected")
});
        {% endhighlight %}
      </div>
    </div>
  </div>
</div>

<div class="step step-2 even">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h3 class="pull-right">2</h3>
      </div>
      <div class="col-md-10">
        <h2>Save Data</h2>
        <p>Easily save data to your default collection.</p>
        {% highlight javascript linenos %}
syncano.Data.new( PROJECT-ID, 'Default', {title: "My title"}, function() {
  console.log("Saved!")
});
        {% endhighlight %}
      </div>
    </div>
  </div>
</div>

<div class="step step-3 odd">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h3 class="pull-right">3</h3>
      </div>
      <div class="col-md-10">
        <h2>Retrieve Data</h2>
        <p>Reading data is a snap!</p>
        {% highlight javascript linenos %}
syncano.Data.get( PROJECT-ID, 'Default', {order: 'DESC'}, function(list) {
  if (list.length) {
    console.log('Last object: ' + list[0].title);
  } else {
    console.log('No stored objects!');
  }
});
        {% endhighlight %}
      </div>
    </div>
  </div>
</div>

<div class="step step-4 even">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h3 class="pull-right">4</h3>
      </div>
      <div class="col-md-10">
        <h2>Subscribe to Real-Time Updates</h2>
        <p>Fresh data gets pushed automatically.</p>
        {% highlight javascript linenos %}
syncano.connect( {instance: 'YOUR-INSTANCE-NAME', api_key: 'YOUR-API-KEY'}, function(auth) {
  syncano.Subscription.subscribeProject(PROJECT-ID, function(result) {
    console.log("Subscribed");
  })
});
syncano.on('syncano:newdata:project-PROJECT-ID', function(data) {
  if (data) {
    console.log('Data: ' + data);
  }
});
        {% endhighlight %}
      </div>
    </div>
  </div>
</div>

<div class="step step-5 odd">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h3 class="pull-right">5</h3>
      </div>
      <div class="col-md-10">
        <h2>Manage Data and Users</h2>
        <p>Our Dashboard gives you control over data security and user permissions.</p>
        <img src="/public/syncano-admin.png" alt="Syncano admin panel"/>
      </div>
    </div>
  </div>
</div>

{% include platforms.html %}

<div class="container text-center">
{% include cta.html %}
</div>