---
layout: default
title: Real-time apps, simplified.
transparent_header: true
permalink: /
bg_color: transparent
custom_js: true
body_class: ['home']
nav_class: 'dark'
seo_description: "Our scalable backend helps developers build complex, real-time apps with only front-end code."
keywords: "real-time apps, real-time app, front-end code"
include_platforms: true
---

<div class="hero">

  <div class="container">
    <div class="info">
      <h1>Turning Developers into<br/>Superstars</h1>
      <a href="https://login.syncano.com/sign_up" class="btn btn-success" id="homepage-hero">START BUILDING NOW</a>
      <h2>Build real-time synchronized apps in minutes.</h2>
    </div>
  </div>

</div>

<div class="container text-center collision">
  <h2>Visit Us At The Collision Conference</h2>
  <h5>May 5-6, Las Vegas</h5>
  <img src="/public/collision.jpg" alt="collision" />
</div>

<div class="apps">
  <div class="container text-center">
    <h2>Evolution of Apps</h2>
    <h5>Lorem Ipsum</h5>
    <img src="/public/apps.png" alt="evolution of apps" />
  </div>
</div>

<div class="container highlights">
  <div class="row text-center">
    <div class="col-md-4 col-sm-6">
      <div class="">
        <img src="/public/game-controller.png" alt="game controller" height="50" />
        <h3>Data where you need it</h3>
        <p>Sync your data across devices and servers in real-time, subscribe to notifications, and more.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="">
        <img src="/public/chat.png" alt="chat bubble" height="50" />
        <h3>Data when you need it</h3>
        <p>Store your data temporarily or permanently. Our platform scales with your needs, so if you get a sudden burst in usage, you're covered.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="">
        <img src="/public/mobile.png" alt="mobile" height="50" />
        <h3>Data in the form you need it</h3>
        <p>Create any data structure using hierarchies and many-to-many relations.</p>
      </div>
    </div>   
  </div><!-- END row -->
</div><!-- END container -->

{% include platforms.html %}
{% include testimonials.html %}