---
layout: default
title: Real-time apps, simplified.
transparent_header: true
permalink: /
bg_color: "#2f353e"
custom_js: true
body_class: ['home']
nav_class: 'dark'
seo_description: "Our scalable backend helps developers build complex, real-time apps with only front-end code."
keywords: "real-time apps, real-time app, front-end code"
include_platforms: true
---

<div class="hero">
  <div class="container">
    <div class="info">
      <h1>Turning developers into <br/>superstars</h1>
      <h2>The First Data-as-a-Service (DaaS) Platform</h2>
      <h3>Build real-time synchronized apps - Connect to data anywhere, anytime</h3>
      <a href="https://login.syncano.com/sign_up" class="btn btn-success" id="homepage-hero">START BUILDING NOW</a>
    </div>
  </div>
</div>

<div class="apps">
  <div class="container text-center">
    <h2>The Evolution of Apps</h2>
    <h5><em>From the mainframe to the Internet of Everything (IoE)</em></h5>
    <img src="/public/apps.png" alt="evolution of apps" />
  </div>
</div>

<div class="container highlights">
  <div class="row text-center">
    <div class="col-md-4 col-sm-4">
      <div class="">
        <h2>WHERE</h2>
        <h3>Data <em>where</em> you need it</h3>
        <p>Syncano scales and syncs your data across devices and servers in real-time. Deploy anywhere.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="">
        <h2>WHEN</h2>
        <h3>Data <em>when</em> you need it</h3>
        <p>Syncano scales with your needs, so if you get a sudden burst in usage, you're covered.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="">
        <h2>HOW</h2>
        <h3>Data <em>in the form</em> you need it</h3>
        <p>Use hierarchies and many-to-many relations to create exactly the right data structure.</p>
      </div>
    </div>   
  </div><!-- END row -->
</div><!-- END container -->

{% include platforms.html %}
{% include testimonials.html %}