<div class="col-md-4 item-{{s.id}}">
	<div class="image">
	{% if s.metadata.screenshots[0] %}
		<img src="{{s.metadata.screenshots[0]}}" />
	{% else %}
		<div class="placeholder"><img class="light-version" src="/assets/images/syncano-white.png" alt="Syncano Logo white"></div>
	{% endif %}
	</div>
	<header>
		<div class="col-md-11">
			<h2>{{s.label}}</h2>
		</div>
		<div class="col-md-1">
			<div class="star pull-right">
				<a href="https://api.syncano.rocks/{{s.links.self}}" class="fa fa-star-o"></a>
				<a href="https://api.syncano.rocks/{{s.links.star}}" class="fa fa-star"></a>
			</div>
		</div>
	</header>
	<p>{{s.description}}</p>
	<div class="meta">
		<h5>Version: 4.1</h5>
		<h5>Updated: {{ s.updated_at | date: '%B %d, %Y' }}</h5>
		<h5>Tags:
		{% for tag in s.tags %}
			{{tag}}{% unless forloop.last %}, {% endunless %}
		{% endfor %}
		</h5>
	</div>
	<footer>
		<div class="pull-left">
			<span><strong>{{s.stars_count}}</strong> Activation(s)</span>
		</div>
		<div class="pull-right">
			<a href="https://api.syncano.rocks/{{s.links.self}}">See More</a>
		</div>
		<div style="clear: both;"></div>
	</footer>
</div><!-- END col-md-4 -->