<div class="col-md-4 item-{{s.id}}">
	<div class="solutions-item">
		<div class="solutions-item-header">
			<div class="solutions-item-header__column">
				<p class="solutions-item__title">{{s.label}}</p>
			</div>
			<div class="solutions-item-header__column">
				<div class="solutions-item__avatar" style="background-image:url('{{s.author.avatar_url}}')"></div>
			</div>
		</div>
		<div class="solutions-item__description">{{s.description}}</div>
		<div class="solutions-item__meta">
			<div class="solutions-item__meta__section">
				<div class="solutions-item__meta__section__column">
					<i class="zmdi zmdi-label solutions-item__meta__icon solutions-item__meta__icon--tags"></i>
				</div>
				<div class="solutions-item__meta__section__column solutions-item__meta__section__column--flex">
					{% if s.tags.size > 0 %}
					<ul>
						{% for tag in s.tags %}
							<li>{{tag}}{% unless forloop.last %}, {% endunless %}</li>
						{% endfor %}
					</ul>
					{% else %}
						no tags
					{% endif %}
				</div>
			</div>
			<div class="solutions-item__meta__section">
				{% if s.versions.stable %}
					<div class="solutions-item__meta__section__column">
						<i class="zmdi zmdi-info-outline solutions-item__meta__icon solutions-item__meta__icon--version--stable"></i>
					</div>
					<div class="solutions-item__meta__section__column">
						stable ({{s.versions.stable}})
					</div>
				{% else %}
					<div class="solutions-item__meta__section__column">
						<i class="zmdi zmdi-info-outline solutions-item__meta__icon solutions-item__meta__icon--version"></i>
					</div>
					<div class="solutions-item__meta__section__column">
						development (no versions)
					</div>
				{% endif %}
			</div>
		</div>
		<div class="solutions-item-footer text-center">
			<a class="solutions-item-footer__see-details-btn" href="https://dashboard.syncano.io/#/solutions/{{s.id}}/edit">
				See Details
			</a>
		</div>
	</div>
</div><!-- END col-md-4 -->
