<nav class="categories navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-2" aria-expanded="true" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-2" aria-expanded="false" style="{% if page.transparent_header %} background-color: {{page.bg_color}} {% endif %}">
      <ul class="nav navbar-nav">
        <li><a class="active" href="#">Categories</a></li>
        <li><a href="#">Tools</a></li>
        <li><a href="#">Types</a></li>
        <li><a href="#">Sort</a></li>
      </ul>
    </div>
  </div>
</nav>