/**
 * = tools.at2x - handle images on retina devices.
 *
 * == Usage
  .element {
    @include at2x("logo", "jpg", 100px, 25px);
  }
 */

@mixin at2x($image-path, $ext: "jpg", $w: auto, $h: auto) {
  $at1x-path: "#{$path-images}#{$image-path}.#{$ext}";
  $at2x-path: "#{$path-images}#{$image-path}@2x.#{$ext}";

  background-image: url("#{$at1x-path}");

  @media all and (-webkit-min-device-pixel-ratio: 1.5),
         all and (-o-min-device-pixel-ratio: 3/2),
         all and (min--moz-device-pixel-ratio: 1.5),
         all and (min-device-pixel-ratio: 1.5) {
    background-image: url("#{$at2x-path}");
    background-size: $w $h;
  }
} // end @mixin
