/**
 * = tools.maths - math functions needed to calculate dimensions.
 */

@function halve($n) {
  @return round($n / 2);
}

@function quarter($n) {
  @return round($n / 4);
}

@function double($n) {
  @return round($n * 2);
}

@function quadruple($n) {
  @return round($n * 4);
}
