<div class="explanation">
	<div class="container">
		<a class="btn btn-dark-blue" href="#">Try it out right now</a>
		<div class="row">
			<div class="col-md-6">
				<h2>Builder</h2>
				<p>Free access to all Syncano features for as long as you're in building mode - no credit card required. When you flip the switch, you have a one month grace period to predict your cost - we take on that risk so you don't have to.</p>
			</div>
			<div class="col-md-6">
				<h2>Production</h2>
				<p>Every app's needs are different. Test yours first. Then pay a la carte based on what you actually need.</p>
			</div>
		</div><!-- END row -->
	</div><!-- END container -->
</div><!-- END explanation -->