<div class="l-pricing-explanation-section">
	<div class="container">
        <h2 class="pricing-explanation__headline">
            Pricing built for developers.
        </h2>

        <div class="row l-pricing-explanation-columns">
			<div class="col-md-5">
                <div class="pricing-explanation__item">
                    <div class="pricing-explanation__item__headline">
                        No commitment
                    </div>
                    <div class="pricing-explanation__item__text">
                        Create your builder account and start building powerful apps today. No credit card required.
                    </div>
                </div>
                <div class="pricing-explanation__item">
                    <div class="pricing-explanation__item__headline">
                        Ready when you are
                    </div>
                    <div class="pricing-explanation__item__text">
                        When you are ready to move to production, just flip the switch. It is that easy.
                    </div>
                </div>
                <div class="pricing-explanation__item">
                    <div class="pricing-explanation__item__headline">
                        Adjust to the plan that fits your needs
                    </div>
                    <div class="pricing-explanation__item__text">
                        It’s hard to gauge the success of an app. You can easily change plans in your Syncano dashboard
                        to better match your usage level.
                    </div>
                </div>
			</div>
			<div class="col-md-5 col-md-offset-1">
                <div class="pricing-explanation__item">
                    <div class="pricing-explanation__item__headline">
                        Easy cost assessment
                    </div>
                    <div class="pricing-explanation__item__text">
                        Not sure how to predict your usage? We provide all of the tools to evaluate and estimate your production costs.
                    </div>
                </div>
                <div class="pricing-explanation__item">
                    <div class="pricing-explanation__item__headline">
                        You are in control
                    </div>
                    <div class="pricing-explanation__item__text">
                        Your budget is set and needs to be kept in check. That’s why we give you the ability to set limits. Soft limits allow you to receive warnings about your spending, hard limits prevent you from overspending.
                    </div>
                </div>
			</div>
		</div><!-- END row -->

        <img src="/public/billing.jpg" class="img-responsive pricing-explanation__image" />

        <div class="l-pricing-explanation-section__cta">
            <p class="pricing-explanation-section__cta__text">Try it out yourself with our plan explorer.</p>
            <a href="https://dashboard.syncano.io/#/signup" class="btn btn-dark-blue pricing-cta-button" id="homepage-hero">START BUILDING NOW</a>
        </div>
	</div><!-- END container -->
</div><!-- END explanation -->
