<div class="hero">
  <div class="container">
    <div class="info">
      <h1>Simple. Flexible. Fair.</h1>
      <div class="row">
      	<div class="col-md-4 text-right">
      		<h3>Builder</h3>
      		<h5>We pick up the bill</h5>
      	</div>
      	<div class="col-md-4 text-center">
      		<div class="toggle">
      			<div class="switch"></div>
      		</div>
      	</div>
      	<div class="col-md-4 text-left">
      		<h3>Production</h3>
      		<h5>From $25/month</h5>
      	</div>
      </div><!-- END row -->
      <p>Build your app on your schedule. Pay only when you're ready to deploy.</p>
      <p>Simply flip the switch and customize based on your needs.</p>
    </div><!-- END info -->
  </div><!-- END container -->
</div><!-- END hero -->