<div class="hero">
  <div class="container">
    <div class="info">
      <h1>Simple. Flexible. Fair.</h1>
      <div class="row l-pricing-toggle-section">
      	<div class="col-sm-4 text-right">
            <div class="pricing__plan">
                <div class="pricing__plan__title">Builder</div>
                <div class="pricing__plan__description">Full access to all Syncano features.<br/>No credit card requird.<br/>We pick up the bill for you.</div>
            </div>
      	</div>
      	<div class="col-sm-4 text-center">
      		<div class="pricing__toggle">
      			<div class="switch"></div>
      		</div>
      	</div>
      	<div class="col-sm-4 text-left">
            <div class="pricing__plan">
                <div class="pricing__plan__title">Production</div>
                <div class="pricing__plan__description">From $25/month.<br/>Simply flip the switch and customize based on your needs.</div>
            </div>
      	</div>
      </div><!-- END row -->
      <div class="row l-pricing-hero-cta">
          <div class="col-sm-12">
              <div class="pricing-hero-cta__text">Build your app on your schedule. Pay only when you're ready to deploy.</div>
              <a href="https://dashboard.syncano.io/#/signup" class="btn btn-dark-blue cta-button" id="homepage-hero">START BUILDING NOW</a>
          </div>
      </div>
    </div><!-- END info -->
  </div><!-- END container -->
</div><!-- END hero -->
