<footer>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-sm-6">
			<p class="copyright">&copy; 2015 Syncano. All Rights Reserved.</p>
		</div>
		<div class="col-md-6 col-sm-5 social">
			<a target="_blank" href="https://github.com/Syncano"><i class="fa fa-github-alt"></i></a>
			<a target="_blank" href="https://plus.google.com/104508582055074736934"><i class="fa fa-google-plus"></i></a>
			<a target="_blank" href="https://www.facebook.com/syncano"><i class="fa fa-facebook"></i></a>
			<a target="_blank" href="http://www.linkedin.com/company/syncano"><i class="fa fa-linkedin"></i></a>
		</div>
	</div>
</div>
</footer>