{% if page.image %}
<div class="post-header image" style="background-image: url('{{page.image}}'); ">
{% elsif page.map %}
  {% include post/map-header.html %}
{% else %}
  <div class="post-header">
{% endif %}

<div class="next pull-right{% if site.posts.first.url == page.url %} hidden {% endif %}"><a href="{{page.next.url}}"><img src="/assets/images/next-arrow.png"/></a></div>

{% unless page.map %}
  <div class="container">
  	<div class="row">
  	  <div class="col-md-8 col-md-offset-2">
  	    {% include post/meta.html %}
    	  <h1>{{ page.title }}</h1>
    	  {% include post/author.html %}
      </div><!-- END col-md-8 -->
    </div><!-- END row -->
  </div><!-- END container -->
{% endunless %}

{% unless page.map %}
</div><!-- END post header -->
{% endunless %}

<div class="share">
	<div class="container">
		{% include post/share.html %}
	</div><!-- END container -->
</div><!-- END share -->