<div class="pull-right">
	<span class="icon"></span>
	<div class="links social-share">
		<div class="arrow-up"></div>
    	<a class="fa fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" target="_blank"></a>
    	<a class="fa fa-twitter" href="https://twitter.com/intent/tweet?text={{page.title}}&url={{site.url}}{{page.url}}" target="_blank"></a>
    	<a class="fa fa-google" href="https://plus.google.com/share?url={{site.url}}{{page.url}}" target="_blank"></a>
    	<a class="fa fa-pinterest" href="http://pinterest.com/pin/create/button/?url={{site.url}}{{page.url}}&description={{page.title}}&media={{page.image}}" target="_blank"></a>
	</div><!-- END links social-share -->
</div><!-- END pull-right -->