$very-small: 320px;
$small: 480px;
$medium: 768px;
$large: 1024px;
$very-large: 1300px;
$full: 1401px;

@mixin very-small {
  @media screen and (min-width: $very-small) {
    @content;
  }
}

@mixin small {
  @media screen and (min-width: $small) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: $medium) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: $large) {
    @content;
  }
}

@mixin very-large {
  @media screen and (min-width: $very-large) {
    @content;
  }
}

@mixin full {
  @media screen and (min-width: $full) {
    @content;
  }
}
