$breakpoints: (
  very-small: (
    min-width: 320px,
    max-width: 480px - 1,
  ),
  small: (
    min-width: 480px,
    max-width: 768px - 1,
  ),
  medium: (
    min-width: 768px,
    max-width: 1024px - 1,
  ),
  large: (
    min-width: 1024px,
    max-width: 1300px - 1,
  ),
  very-large: (
    min-width: 1300px,
    max-width: 1401px - 1,
  ),
  full: (
    min-width: 1401px,
    max-width: null,
  )
);

@mixin very-small {
  @media screen and (min-width: map-deep-get($breakpoints, 'very-small', 'min-width')) {
    @content;
  }
}

@mixin small {
  @media screen and (min-width: map-deep-get($breakpoints, 'small', 'min-width')) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: map-deep-get($breakpoints, 'medium', 'min-width')) {
    @content;
  }
}

@mixin medium-only {
  @media screen and (min-width: map-deep-get($breakpoints, 'medium', 'min-width')) and
  (max-width: map-deep-get($breakpoints, 'medium', 'max-width')) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: map-deep-get($breakpoints, 'large', 'min-width')) {
    @content;
  }
}

@mixin very-large {
  @media screen and (min-width: map-deep-get($breakpoints, 'very-large', 'min-width')) {
    @content;
  }
}

@mixin full {
  @media screen and (min-width: map-deep-get($breakpoints, 'full', 'min-width')) {
    @content;
  }
}

@mixin retina {
  @media  only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
    @content;
  }
}
