$color-text-base: #4D5966;
$color-text-headline: #1D2228;
$color-text-textline: #5F6C7A;

$color-main-blue: #0070D3;
$color-main-yellow: #FFCC01;
$color-main-silver: #f1f2f4;
$color-main-purple: #642ee1;
