// main
$color-main-azure: #49B9E8;
$color-main-blue: #0070D3;
$color-main-graphite: #757E88;
$color-main-gray: #f8f9f9;
$color-main-purple: #642ee1;
$color-main-yellow: #FFCC01;

// body
$color-body-bg: #f1f2f4;
$color-text-base: #4D5966;
$color-text-base-link: #006DD6;
$color-text-headline: #1D2228;
$color-text-textline: #5F6C7A;

// footer
$color-footer-bg: #1D2228;
$color-footer-headline: transparentize(#B8C0C9, .5);
$color-footer-link: #B8C0C9;
$color-footer-base: transparentize(#B8C0C9, .3);
