// http://www.sitepoint.com/extra-map-functions-sass/
@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }

  @return $map;
}

// https://github.com/at-import/SassyLists
@function sl-to-list($value, $separator: list-separator($value)) {
  @return join((), $value, $separator);
}

// https://github.com/at-import/SassyLists
@function sl-reverse($list) {
  $length: length($list);
  $end: floor($length / 2);

  @if $length < 2 {
    @return $list;
  }

  @for $i from 1 through $end {
    $tmp: nth($list, $i);
    $list: set-nth($list, $i, nth($list, -$i));
    $list: set-nth($list, -$i, $tmp);
  }

  @return sl-to-list($list);
}
