<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Syncano</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Heebo:300,400,500,700&amp;subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">

  <link rel="stylesheet" href="/vendor/gdemo.css">
  <script src="/vendor/gdemo.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-yaml.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-javascript.min.js"></script>

  <style>
    .token.operator {
      background: none !important;
    }

  </style>

  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?data-dropdown-content=' + i + dl + '<!-- @echo GTM_ENV -->';
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', '<!-- @echo GTM_id -->');

  </script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?data-dropdown-content=<!-- @echo GTM_id -->" height="0"
      width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <header class="c-header">
    <div class="c-header__wrapper">
      <img src="/assets/img/syncano.svg" />

      <nav class="c-header__navigation">
        <ul class="c-header__navigation-kicker">
          <li class="has-dropdown links" data-dropdown="platform">
            <a href="#0">Platform</a>
          </li>

          <li class="has-dropdown links" data-dropdown="products">
            <a href="#0">Products</a>
          </li>

          <li class="has-dropdown list" data-dropdown="developers">
            <a href="#0">Developers</a>
          </li>

          <li class="has-dropdown button" data-dropdown="support">
            <a href="#0">Support</a>
          </li>
          <li>
            <a href="#0" data-dropdown="clear">Pricing</a>
          </li>

          <li>
            <a href="https://github.com/syncano/syncano-node" target="_blank" data-dropdown="clear">Github</a>
          </li>

          <li>
            <a href="#" data-dropdown="clear">Sign In</a>
          </li>

        </ul>
        <div class="c-header__navigation-wrapper">
          <div class="c-header__navigation-dropdown-list">
            <div data-dropdown-content="platform" class="c-header__navigation-dropdown --links">
              <div class="content">
                <ul>
                  <li>
                    <a href="#" class="c-header__navigation-link">
                      <img src="/assets/img/menu/hosting.svg" />
                      <span>Hosting
                        <span class="c-header__navigation-description">With custom domain name &amp; SSL</span>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="c-header__navigation-link">
                      <img src="/assets/img/menu/database.svg" />
                      <span>Database
                        <span class="c-header__navigation-description">Store your app data in the fast NoSQL DB</span>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="c-header__navigation-link">
                      <img src="/assets/img/menu/sockets.svg" />
                      <span>Functions (Syncano Sockets)
                        <span class="c-header__navigation-description">Create your own backend in the cloud </span>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="c-header__navigation-link">
                      <img src="/assets/img/menu/users.svg" />
                      <span>Users &amp; groups
                        <span class="c-header__navigation-description">Users management out of the box</span>
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div data-dropdown-content="products" class="c-header__navigation-dropdown --links">
              <div class="content">
                <ul>
                  <li>
                    <a href="#" class="c-header__navigation-link">
                      <img src="/assets/img/menu/cloud.svg" />
                      <span>Syncano Cloud
                        <span class="c-header__navigation-description">You take care about your code, we do the best</span>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="c-header__navigation-link">
                      <img src="/assets/img/menu/self-hosted.svg" />
                      <span>Syncano Self-Hosted
                        <span class="c-header__navigation-description">Use your own infrastracture</span>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="c-header__navigation-link">
                        <img src="/assets/img/menu/enterprise.svg" />
                      <span>Enterprise Support Plan
                      <span>
                        <span class="c-header__navigation-description">Close collaboration with Syncano team</span></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div data-dropdown-content="developers" class="c-header__navigation-dropdown --list">
              <div class="content">
                <ul>
                  <li>
                    <a href="#">Documentation
                      <span>Start using Syncano</span>
                    </a>
                  </li>
                  <li>
                    <ul>
                      <li>
                        <a href="#" class="c-header__navigation-link">Get Started</a>
                        <ul>
                          <li>
                            <a href="#">Hosting</a>
                          </li>
                          <li>
                            <a href="#">Database</a>
                          </li>
                          <li>
                            <a href="#">Functions</a>
                          </li>
                          <li>
                            <a href="#">Users &amp; groups</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="#">Cheatsheet</a>
                      </li>
                      <li>
                        <a href="#">Tutorials</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>

            <div data-dropdown-content="support" class="c-header__navigation-dropdown --list">
              <div class="content">
                <ul>
                  <li>
                    <a href="#" class="c-header__navigation-link">
                      
                        <img src="/assets/img/menu/spectrum.svg" />
                        <span>Spectrum
                          <span class="c-header__navigation-description">Use your own infrastracture</span>
                        </span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="c-header__navigation-link">
                        <img src="/assets/img/menu/contact.svg" />
                        <span>
                      Contact us
                      <span class="c-header__navigation-description">Need help?</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="c-header__navigation-bg" aria-hidden="true"></div>
        </div> <a class="nav-trigger">nav</a>
      </nav>

    </div>
    </div>
  </header>
