<header class="c-header @@theme">
  <div class="c-header__wrapper">
    <img src="/assets/img/syncano.svg" />

    <nav class="c-header__navigation">
      <ul class="c-header__navigation-kicker">
        <li class="has-dropdown links" data-dropdown="platform">
          <a href="#0">Platform</a>
        </li>

        <li class="has-dropdown links" data-dropdown="products">
          <a href="#0">Products</a>
        </li>

        <li class="has-dropdown list" data-dropdown="developers">
          <a href="#0">Developers</a>
        </li>

        <li class="has-dropdown button" data-dropdown="support">
          <a href="#0">Support</a>
        </li>
        <li>
          <a href="#0" data-dropdown="clear">Pricing</a>
        </li>

        <li>
          <a href="https://github.com/syncano/syncano-node" target="_blank" data-dropdown="clear">Github</a>
        </li>

        <li>
          <a class="c-header__navigation-button" href="#" data-dropdown="clear">Sign In</a>
        </li>

      </ul>
      <div class="c-header__navigation-wrapper">
        <div class="c-header__navigation-dropdown-list">
          <div data-dropdown-content="platform" class="c-header__navigation-dropdown --links">
            <div class="c-header__navigation-content">
              <ul>
                <li>
                  <a href="#" class="c-header__navigation-link">
                    <img src="/assets/img/menu/hosting.svg" />
                    <span>Hosting
                      <span class="c-header__navigation-description">With custom domain name &amp; SSL</span>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="c-header__navigation-link">
                    <img src="/assets/img/menu/database.svg" />
                    <span>Database
                      <span class="c-header__navigation-description">Store your app data in the fast NoSQL DB</span>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="c-header__navigation-link">
                    <img src="/assets/img/menu/sockets.svg" />
                    <span>Functions (Syncano Sockets)
                      <span class="c-header__navigation-description">Create your own backend in the cloud </span>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="c-header__navigation-link">
                    <img src="/assets/img/menu/users.svg" />
                    <span>Users &amp; groups
                      <span class="c-header__navigation-description">Users management out of the box</span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div data-dropdown-content="products" class="c-header__navigation-dropdown --links">
            <div class="c-header__navigation-content">
              <ul>
                <li>
                  <a href="#" class="c-header__navigation-link">
                    <img src="/assets/img/menu/cloud.svg" />
                    <span>Syncano Cloud
                      <span class="c-header__navigation-description">You take care about your code, we do the best</span>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="c-header__navigation-link">
                    <img src="/assets/img/menu/self-hosted.svg" />
                    <span>Syncano Self-Hosted
                      <span class="c-header__navigation-description">Use your own infrastracture</span>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="c-header__navigation-link">
                    <img src="/assets/img/menu/enterprise.svg" />
                    <span>Enterprise Support Plan
                      <span class="c-header__navigation-description">Close collaboration with Syncano team</span></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div data-dropdown-content="developers" class="c-header__navigation-dropdown --list">
            <div class="c-header__navigation-content">
              <ul>
                <li>
                  <a href="#" class="c-header__navigation-link">
                    <img src="/assets/img/menu/documentation.svg" />
                    <span>Documentation
                      <span class="c-header__navigation-description">Start using Syncano</span></span>
                  </a>
                </li>
                <li>
                  <ul class="c-header__navigation-subcontent">
                    <li>
                      <a href="#" class="c-header__navigation-sublink">Get Started</a>
                      <ul class="c-header__navigation-sublist">
                        <li>
                          <a href="#">Hosting</a>
                        </li>
                        <li>
                          <a href="#">Database</a>
                        </li>
                        <li>
                          <a href="#">Functions</a>
                        </li>
                        <li>
                          <a href="#">Users &amp; groups</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#" class="c-header__navigation-sublink">Cheatsheet</a>
                    </li>
                    <li>
                      <a href="#" class="c-header__navigation-sublink">Tutorials</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <div data-dropdown-content="support" class="c-header__navigation-dropdown --list">
            <div class="c-header__navigation-content">
              <ul>
                <li>
                  <a href="#" class="c-header__navigation-link">
                    <img src="/assets/img/menu/spectrum.svg" />
                    <span>Spectrum
                      <span class="c-header__navigation-description">Use your own infrastracture</span>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="c-header__navigation-link">
                    <img src="/assets/img/menu/contact.svg" />
                    <span>
                      Contact us
                      <span class="c-header__navigation-description">Need help?</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="c-header__navigation-bg" aria-hidden="true"></div>
      </div> <a class="nav-trigger">nav</a>
    </nav>
    <div class="c-hamburger c-hamburger-js">
      <div class="c-hamburger__bar -bar1"></div>
      <div class="c-hamburger__bar -bar2"></div>
      <div class="c-hamburger__bar -bar3"></div>
    </div>
  </div>
  </div>
</header>
