<div class="post-cta container">
  <div class="row">
    <h2>Syncano newsletter</h2>
    <p>Subscribe and get developers how tos, exclusive news, and more once a week.</p>
    <form class="form-inline" onsubmit="segmentCall();">
      <div class="form-group">
        <input type="text" class="form-control" id="blog-cta" placeholder="you@example.com">
      </div>
      <button type="submit" class="btn btn-default">Subscribe</button>
    </form>
  </div>
</div>
<script>
function segmentCall() {
  var submittedEmail = document.getElementById('blog-cta').value;
  analytics.alias(submittedEmail);
  analytics.identify(submittedEmail, {'email':submittedEmail, 'Lifecycle stage':'lead', 'source':'Newsletter'});
  analytics.track('Subscribed to newsletter');
}
</script>