<footer class="columns">
<div class="container">
	<div class="row">
		<div class="col-md-2 col-sm-2">
			<img src="/assets/images/syncano-oval.png" alt="syncano logo small"/>
		</div>
		<div class="col-md-2 col-sm-2">
			<h4>Company</h4>
			<ul>
				<li><a href="#">About and The Team</a></li>
				<li><a href="#">Superstar Jobs</a></li>
				<li><a href="#">Brand Resources</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Terms and Legal</a></li>
			</ul>
		</div>
		<div class="col-md-2 col-sm-2">
			<h4>Resources</h4>
			<ul>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/about">Docs</a></li>
				<li><a href="/about#team">Pricing</a></li>
				<li><a href="/about#jobs">Solutions</a></li>
			</ul>
		</div>

		<div class="col-md-2 col-sm-2 no-header">
			<ul>
				<li><a href="http://docs.syncano.com/v3.2.1/discuss">Meetups</a></li>
				<li><a href="http://syncano.statuspage.io/">Support</a></li>
				<li><a href="/terms-of-service/">Tutorials</a></li>
				<li><a href="/contact/">Libraries</a></li>
			</ul>
		</div>

		<div class="col-md-3 col-sm-3">
			<h4>Latest Blog Post</h4>
			<ul>
				{% for post in site.posts limit:2 %}
					<li><a href="{{post.url}}">{{post.title}}</a></li>
  				{% endfor %}
			</ul>
			<h4>Join Our Newsletter</h4>
		</div>
	</div><!-- END row -->
</div>

</footer>
<footer>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-sm-6">
			<p class="copyright">&copy; 2015 Syncano. All Rights Reserved.</p>
		</div>
		<div class="col-md-6 col-sm-5 social">
			<a target="_blank" href="https://github.com/Syncano"><i class="fa fa-github-alt"></i></a>
			<a target="_blank" href="https://plus.google.com/104508582055074736934"><i class="fa fa-google-plus"></i></a>
			<a target="_blank" href="https://www.facebook.com/syncano"><i class="fa fa-facebook"></i></a>
			<a target="_blank" href="http://www.linkedin.com/company/syncano"><i class="fa fa-linkedin"></i></a>
		</div>
	</div>
</div>
</footer>
<script src="/assets/js/bootstrap-without-jquery.min.js"></script>
<script type="text/javascript">
!function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
analytics.load("l5vr4iwmee");
}}();
</script>
<!-- SEGMENT.IO TRACKING EVENTS -->
<script>
analytics.ready(function () {if (window.analytics.user().id()) {window.analytics.identify();}});
{% if page.id %}
analytics.page('Blog Post', {
	Post: "{{page.title}}",
});
{% else %}
analytics.page('WordPress', {
	Page: "{{page.title}}",
});
{% endif %}
</script>
<!-- END SEGMENT.IO TRACKING EVENTS -->

</body>
</html>