<footer class="columns">
<div class="container">
	<div class="row">
		<div class="col-md-2 col-sm-2 contact">
			<h4>Contact Us</h4>
			<p>120 East 23rd St.<br/>
			5th Floor<br/>
			New York, NY 10010</p>
			<p><a href="tel:6468834189">646.883.4189</a></p>
			<p><a href="mailto:hello@syncano.com">hello@syncano.com</a></p>
			<iframe id="twitter-widget-0" src="http://platform.twitter.com/widgets/follow_button.3afdf1fe9dd484034da3e37c7d9e99ed.en.html#_=1427235012460&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=syncano&amp;show_count=false&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="width: 115px; height: 20px; opacity: 1;"></iframe>
		</div>
		<div class="col-md-2 col-sm-2 company">
			<h4>Company</h4>
			<ul>
				<li><a href="/blog">Our Blog</a></li>
				<li><a href="/about">About Us</a></li>
				<li><a href="/about#team">The Team</a></li>
				<li><a href="/about#jobs">Jobs</a></li>
			</ul>
		</div>

		<div class="col-md-2 col-sm-2">
			<h4>Help, Support</h4>
			<ul>
				<li><a href="http://docs.syncano.com/v3.2.1/discuss">Get Support</a></li>
				<li><a href="http://syncano.statuspage.io/">API Status</a></li>
				<li><a href="/terms-of-service/">Legal</a></li>
				<li><a href="/contact/">Contact Us</a></li>
			</ul>
		</div>

		<div class="col-md-2 col-sm-2">
			<h4>Resources</h4>
			<ul>
				<li><a href="http://docs.syncano.com/">Documentation</a></li>
				<li><a href="/category/how-tos">Tutorials</a></li>
				<li><a href="https://login.syncano.com/docs/rest/">API</a></li>
				<li><a href="http://docs.syncano.com/v3.2.1/docs/syncano-libraries">Client Libraries</a></li>
			</ul>
		</div>

		<div class="col-md-4 cta col-sm-4">
			<h3>Real-Time Apps, Simplified.</h3>
			<a href="#" class="btn btn-success">START BUILDING NOW</a>
			<p>Real-Time Sync, Data Storage,<br/>
			Complex Modeling<br/>
			and Access Management<br/>
			</p>
		</div>
	</div><!-- END row -->
</div>

</footer>
<footer>
<div class="container">
	<div class="row">
		<div class="col-md-2 col-sm-3"><img class="" alt="Syncano Logo for footer" src="/assets/images/syncano-white.png" height="23"></div>
		<div class="col-md-4 col-sm-4">
			<p class="copyright">&copy; 2015 Syncano. All Rights Reserved.</p>
		</div>
		<div class="col-md-6 col-sm-5 social">
			<a target="_blank" href="https://github.com/Syncano"><i class="fa fa-github-alt"></i></a>
			<a target="_blank" href="https://plus.google.com/104508582055074736934"><i class="fa fa-google-plus"></i></a>
			<a target="_blank" href="https://www.facebook.com/syncano"><i class="fa fa-facebook"></i></a>
			<a target="_blank" href="http://www.linkedin.com/company/syncano"><i class="fa fa-linkedin"></i></a>
		</div>
	</div>
</div>
</footer>
<script src="/assets/js/bootstrap-without-jquery.min.js"></script>
<script type="text/javascript">
!function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
analytics.load("l5vr4iwmee");
}}();
</script>
<!-- SEGMENT.IO TRACKING EVENTS -->
<script>
analytics.ready(function () {if (window.analytics.user().id()) {window.analytics.identify();}});
{% if page.id %}
analytics.page('Blog Post', {
	Post: "{{page.title}}",
});
{% else %}
analytics.page('WordPress', {
	Page: "{{page.title}}",
});
{% endif %}
</script>
<!-- END SEGMENT.IO TRACKING EVENTS -->

</body>
</html>