<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{page.title}}</title>
	<meta name="description" content="{{page.meta_description}}"/>
	<meta name="keywords" content="{{page.focus_keyword}}"/>

	<link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap-theme.css">
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

	{% include nav.html %}

	<div class="container">