<nav class="navbar navbar-fixed-top {% for c in page.nav_class %}{{ c }} {% endfor %}" style="{% if page.transparent_header %} background-color: {{page.bg_color}} {% endif %}">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="true" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        {% if page.nav_class == 'dark' %}
        <img class="light-version" src="/assets/images/syncano-white.png" alt="Syncano Logo white"/>
        {% else %}
        <img class="dark-version" src="/assets/images/syncano-logo.png" alt="Syncano Logo dark"/>
        {% endif %}
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1" aria-expanded="false" style="{% if page.transparent_header %} background-color: {{page.bg_color}} {% endif %}">
      <ul class="nav navbar-nav">
        <li><a href="/get-started">Start Building</a></li>
        <li><a href="/features">Why Syncano</a></li>
        <li><a href="http://docs.syncano.com/v3.2.1/discuss">Support</a></li>
        <li><a href="http://docs.syncano.com/">Docs</a></li>
        <li><a href="/pricing">Pricing</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://login.syncano.com/login" class="btn btn-primary">Login</a></li>
        <li><a href="https://login.syncano.com/sign_up" class="btn btn-success">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>