<div class="platforms">
  <div class="container">
    <div class="row text-center">
      <h2>Your Data. Your Platform. Your Apps.</h2>
      <h5>Get the data you need. Use the development environment of your choice and <br/>leverage our open source libraries to create your app in minutes.</h5>
      <div class="col-md-1 hidden-md"></div>
      <div class="col-md-1 hidden-md"></div>
      <div class="col-md-1 hidden-md"></div>
      <div class="col-md-1 col-xs-3"><a href="http://docs.syncano.com/docs/python" target="_blank"><img src="/public/python-logo.png" alt="Python Logo"/></a></div>
      <div class="col-md-1 col-xs-3"><a href="http://docs.syncano.com/docs/javascript" target="_blank"><img src="/public/javascript.png" alt="Javascript icon"/></a></div>
      <div class="col-md-1 col-xs-3"><a href="http://docs.syncano.com/docs/android" target="_blank"><img src="/public/android.png" alt="android icon"/></a></div>
      <div class="col-md-1 col-xs-3"><a href="http://docs.syncano.com/docs/ruby" target="_blank"><img src="/public/ruby.png" alt="ruby icon"/></a></div>
      <div class="col-md-1 col-xs-3"><a href="http://docs.syncano.com/docs/ios" target="_blank"><img src="/public/ios8.png" alt="ios icon"/></a></div>
      <!-- div class="col-md-2 col-xs-3 microsoft"><a href="http://docs.syncano.com/docs/syncano-libraries" target="_blank"><img src="/public/microsoft-net.png" alt="microsoft icon"/></a></div -->
      <div class="col-md-1 col-xs-3"><a href="http://docs.syncano.com/v1.0/docs/ios#section-syncano-library-and-swift" target="_blank"><img src="/public/bird.png" alt="firebird icon"/></a></div>
      <!-- div class="col-md-1 col-xs-3"><a href="http://docs.syncano.com/docs/syncano-libraries" target="_blank"><img src="/public/osx.png" alt="osx icon"/></a></div -->
      <div class="col-md-1"></div>
    </div><!-- END row -->
  </div><!-- END container -->
</div><!-- END platforms -->