<div class="platforms">
  <div class="container">
    <div class="row text-center">
      <h2>Works with your platform</h2>
      <h5>Our open source libraries will take you from an idea to your app in minutes.</h5>
      <div class="col-md-1 hidden-md"></div>
      <div class="col-md-1 hidden-md"></div>
      <div class="col-md-1 col-xs-3"><img src="/public/python-logo.png" alt="Python Logo"/></div>
      <div class="col-md-1 col-xs-3"><img src="/public/javascript.png" alt="Javascript icon"/></div>
      <div class="col-md-1 col-xs-3"><img src="/public/android.png" alt="android icon"/></div>
      <div class="col-md-1 col-xs-3"><img src="/public/ruby.png" alt="ruby icon"/></div>
      <div class="col-md-1 col-xs-3"><img src="/public/ios8.png" alt="ios icon"/></div>
      <div class="col-md-2 col-xs-3 microsoft"><img src="/public/microsoft-net.png" alt="microsoft icon"/></div>
      <div class="col-md-1 col-xs-3"><img src="/public/bird.png" alt="firebird icon"/></div>
      <div class="col-md-1 col-xs-3"><img src="/public/osx.png" alt="osx icon"/></div>
      <div class="col-md-1"></div>
    </div><!-- END row -->
  </div><!-- END container -->
</div><!-- END platforms -->