<meta name="description" content="{{page.seo_description}}"/>
<meta name="keywords" content="{{page.keywords}}"/>
<link rel="canonical" href="{{site.url}}{{page.url}}" />
<link rel="publisher" href="https://plus.google.com/+Syncano"/>
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{page.title}}" />
<meta property="og:description" content="{{page.seo_description}}" />
<meta property="og:url" content="{{site.url}}{{page.url}}" />
<meta property="og:site_name" content="{{site.title}}" />
<meta property="article:publisher" content="https://www.facebook.com/syncano" />
<meta property="article:section" content="Data Modeling" />
<meta property="article:published_time" content="{{page.date}}" />
<meta property="article:modified_time" content="2015-03-25T16:46:04+00:00" />
<meta property="og:updated_time" content="2015-03-25T16:46:04+00:00" />
<meta property="og:image" content="{{site.url}}{{page.image}}" />
<meta name="twitter:card" content="summary"/>
<meta name="twitter:description" content="{{page.seo_description}}"/>
<meta name="twitter:title" content="{{page.title}}"/>
<meta name="twitter:site" content="@syncano"/>
<meta name="twitter:domain" content="Syncano"/>
<meta name="twitter:image:src" content="{{site.url}}{{page.image}}"/>
<meta name="twitter:creator" content="@syncano"/>