<div class="navbar-fixed-bottom social-share">
	<div class="pull-left">
		<img src="/public/syncano-small.png" height="30"/>
	</div>

  <div class="container">
    <div class="col-md-offset-2">
      <a class="fa fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" target="_blank"></a>
    	<a class="fa fa-twitter" href="https://twitter.com/intent/tweet?text={{page.title}}&url={{site.url}}{{page.url}}" target="_blank"></a>
    	<a class="fa fa-google" href="https://plus.google.com/share?url={{site.url}}{{page.url}}" target="_blank"></a>
    	<a class="fa fa-pinterest" href="http://pinterest.com/pin/create/button/?url={{site.url}}{{page.url}}&description={{page.title}}&media={{page.image}}" target="_blank"></a>
    </div>
  </div>

  <div id="subscribe">
  	<form class="form-inline" onsubmit="shareSubscribe();">
  		<div class="form-group">
    		<input type="email" class="form-control" id="subscribeEmail" placeholder="you@example.com">
  		</div>
  		<button type="submit" class="btn btn-default">Subscribe</button>
	</form>
  </div>

  <div style="clear: both;"></div>
</div>
<script>
function shareSubscribe() {
  var subscribeEmail = document.getElementById('subscribeEmail').value;
  analytics.alias(subscribeEmail);
  analytics.identify(subscribeEmail, {'email':subscribeEmail, 'Lifecycle stage':'lead', 'source':'Newsletter'});
  analytics.track('Subscribed to newsletter');
}
</script>