<div class="testimonials">
  <div class="container">
    <div class="row">
      <div class="testimonial col-md-4 col-sm-4 text-center">
        <img src="/public/hally-knutsen.png" alt="Hally Knutsen"/>
        <blockquote>"What used to take 5 weeks now takes just 1 week with Syncano. You let developers be developers and not get stuck being middleware or database engineers."<cite><strong>Hally Knutsen</strong> - PMI Mobile</cite></blockquote>
      </div>
      <div class="testimonial col-md-4 col-sm-4 text-center">
        <img src="/public/patrick-devivo.png" alt="Patrick Devivo"/>
        <blockquote>"Syncano's personal, responsive support was a difference maker for me. Syncano is the developers' champion."<cite><strong>Patrick DeVivo</strong> - Fastack</cite></blockquote>
      </div>
      <div class="testimonial col-md-4 col-sm-4 text-center">
        <img src="/public/krystian.jpg" alt="Krystian Sulek" height="72" width="72"/>
        <blockquote>"Hands-down the easiest way to build robust, advanced apps with real-time sync. CodeBox even lets me use third-party apps just like native ones. Finally I can build anywhere, anything, anytime on any device."<cite><strong>Krystian Sulek</strong> - Chimera Prime</cite></blockquote>
      </div>
    </div><!-- END row -->
  </div><!-- END container -->
</div><!-- END testimonials -->