<div class="testimonials">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <img src="/public/hally.png" alt="Hally Knutsen"/>
    </div><!-- END col-md-6 -->
    <div class="col-md-6 col-sm-6">
      <div class="quote">"What used to take 5 weeks now takes just 1 <br/>week with Syncano. <strong>You let developers be <br/>developers and not get stuck being<br/> middleware or database engineers.</strong>"</div>
      <div class="source">Hally Knutsen<br/>PMI Mobile</div>
    </div><!-- END col-md-6 -->
  </div><!-- END row -->
</div><!-- END testimonials -->