<div class="colors">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h4>Colors</h4>
				<h5>Our main color is the bright blue represented as the main color of our dashboard.</h5>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6">
						<img src="/assets/images/brand/syncano-light.png" alt="syncano logo light blue" />
						<ul>
							<li>Hex #1776D2</li>
							<li>RGB 23, 118, 210</li>
							<li>Pantone </li>
							<li>CMYK </li>
						</ul>
					</div>
					<div class="col-md-6">
						<img src="/assets/images/brand/syncano-dark.png" alt="syncano logo dark blue" />
						<ul>
							<li>Hex #1776D2</li>
							<li>RGB </li>
							<li>Pantone </li>
							<li>CMYK </li>
						</ul>
					</div>
				</div><!-- END row -->
				<div class="row">
					<div class="col-md-6">
						<img src="/assets/images/brand/syncano-light-gray.png" alt="syncano logo light gray" />
						<ul>
							<li>Hex #1776D2</li>
							<li>RGB </li>
							<li>Pantone </li>
							<li>CMYK </li>
						</ul>
					</div>
					<div class="col-md-6">
						<img src="/assets/images/brand/syncano-dark-gray.png" alt="syncano logo dark gray" />
						<ul>
							<li>Hex #1776D2</li>
							<li>RGB </li>
							<li>Pantone </li>
							<li>CMYK </li>
						</ul>
					</div>
				</div><!-- END row -->
			</div>
		</div><!-- END row -->
	</div><!-- END container -->
</div><!-- END logo -->