<div class="logo">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h4>Logo</h4>
				<h5>Logo</h5>
				<h5>EPS and PNG</h5>
				<a href="#">Download</a>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6 light">
						<img src="/assets/images/brand/syncano-light.png" alt="syncano logo light blue" />
					</div>
					<div class="col-md-6 light">
						<img src="/assets/images/brand/syncano-dark.png" alt="syncano logo dark blue" />
					</div>
				</div><!-- END row -->
				<div class="row">
					<div class="col-md-6 dark">
						<img src="/assets/images/brand/syncano-light-gray.png" alt="syncano logo light gray" />
					</div>
					<div class="col-md-6 light">
						<img src="/assets/images/brand/syncano-dark-gray.png" alt="syncano logo dark gray" />
					</div>
				</div><!-- END row -->
			</div>
		</div><!-- END row -->
	</div><!-- END container -->
</div><!-- END logo -->