<div class="mark">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h4>Mark</h4>
				<h5>You can download our mark in EPS and PNG</h5>
				<a href="#">Download</a>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-2">
						<img src="/assets/images/brand/syncano-mark_128.png" alt="syncano mark 128" />
					</div>
					<div class="col-md-2">
						<img src="/assets/images/brand/syncano-mark_64.png" alt="syncano mark 64" />
					</div>
					<div class="col-md-2">
						<img src="/assets/images/brand/syncano-mark_48.png" alt="syncano mark 48" />
					</div>
					<div class="col-md-2">
						<img src="/assets/images/brand/syncano-mark_32.png" alt="syncano mark 32" />
					</div>
					<div class="col-md-2">
						<img src="/assets/images/brand/syncano-mark_16.png" alt="syncano mark 16" />
					</div>
				</div><!-- END row -->
				<div class="row">
					<div class="col-md-2">
						<img src="/assets/images/brand/syncano-mark_gray_128.png" alt="syncano mark 128" />
					</div>
					<div class="col-md-2">
						<img src="/assets/images/brand/syncano-mark_gray_64.png" alt="syncano mark 64" />
					</div>
					<div class="col-md-2">
						<img src="/assets/images/brand/syncano-mark_gray_48.png" alt="syncano mark 48" />
					</div>
					<div class="col-md-2">
						<img src="/assets/images/brand/syncano-mark_gray_32.png" alt="syncano mark 32" />
					</div>
					<div class="col-md-2">
						<img src="/assets/images/brand/syncano-mark_gray_16.png" alt="syncano mark 16" />
					</div>
				</div><!-- END row -->
			</div>
		</div><!-- END row -->
	</div><!-- END container -->
</div><!-- END logo -->