<div class="mark">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h4>Mark</h4>
				<h5>You can download our mark in EPS and PNG</h5>
				<a href="#">Download</a>
			</div>
			<div class="col-md-8">
				<div class="row text-center">
					<div class="col-md-2 vcenter">
						<img src="/assets/images/brand/syncano-mark_128.png" alt="syncano mark 128" />
					</div>
					<div class="col-md-2 vcenter">
						<img src="/assets/images/brand/syncano-mark_128.png" alt="syncano mark 64" height="64"/>
					</div>
					<div class="col-md-2 vcenter">
						<img src="/assets/images/brand/syncano-mark_128.png" alt="syncano mark 48" height="48"/>
					</div>
					<div class="col-md-2 vcenter">
						<img src="/assets/images/brand/syncano-mark_128.png" alt="syncano mark 32" height="32"/>
					</div>
					<div class="col-md-2 vcenter">
						<img src="/assets/images/brand/syncano-mark_128.png" alt="syncano mark 16" height="16"/>
					</div>
				</div><!-- END row -->
				<div class="row visible-lg text-center">
					<div class="col-md-2 vcenter">
						<h5>128px</h5>
					</div>
					<div class="col-md-2 vcenter">
						<h5>64px</h5>
					</div>
					<div class="col-md-2 vcenter">
						<h5>48px</h5>
					</div>
					<div class="col-md-2 vcenter">
						<h5>32px</h5>
					</div>
					<div class="col-md-2 vcenter">
						<h5>16px</h5>
					</div>
				</div><!-- END row -->
				<div class="row text-center">
					<div class="col-md-2 vcenter">
						<img src="/assets/images/brand/syncano-mark_gray_128.png" alt="syncano mark 128" />
					</div>
					<div class="col-md-2 vcenter">
						<img src="/assets/images/brand/syncano-mark_gray_128.png" alt="syncano mark 64" height="64"/>
					</div>
					<div class="col-md-2 vcenter">
						<img src="/assets/images/brand/syncano-mark_gray_128.png" alt="syncano mark 48" height="48"/>
					</div>
					<div class="col-md-2 vcenter">
						<img src="/assets/images/brand/syncano-mark_gray_128.png" alt="syncano mark 32" height="32"/>
					</div>
					<div class="col-md-2 vcenter">
						<img src="/assets/images/brand/syncano-mark_gray_128.png" alt="syncano mark 16" height="16"/>
					</div>
				</div><!-- END row -->
			</div>
		</div><!-- END row -->
	</div><!-- END container -->
</div><!-- END logo -->