<!-- SEO FOR NON POSTS h -->
{% if page.seo_description %}
<meta name="description" content="{{page.seo_description}}"/>
{% endif %}
{% if page.keywords %}
<meta name="keywords" content="{{page.keywords}}"/>
{% endif %}
<link rel="canonical" href="{{site.url}}{{page.url}}" />
<link rel="publisher" href="https://plus.google.com/+Syncano"/>
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{site.title}} | {{page.title}}" />
{% if page.seo_description %}
<meta property="og:description" content="{{page.seo_description}}" />
{% endif %}
<meta property="og:url" content="{{site.url}}{{page.url}}" />
<meta property="og:site_name" content="{{site.title}}" />
<meta property="article:publisher" content="https://www.facebook.com/syncano" />
{% for src in page.images %}
<meta property="og:image" content="http://www.syncano.com{{ src }}" />
{% endfor %}
{% if page.include_platforms %}
<meta property="og:image" content="{{site.url}}/public/python-logo.png" />
<meta property="og:image" content="{{site.url}}/public/javascript.png" />
<meta property="og:image" content="{{site.url}}/public/android.png" />
<meta property="og:image" content="{{site.url}}/public/ruby.png" />
<meta property="og:image" content="{{site.url}}/public/ios8.png" />
<meta property="og:image" content="{{site.url}}/public/microsoft-net.png" />
<meta property="og:image" content="{{site.url}}/public/bird.png" />
<meta property="og:image" content="{{site.url}}/public/osx.png" />
{% endif %}
<meta name="twitter:card" content="summary"/>
<meta name="twitter:description" content="{{page.seo_description}}"/>
<meta name="twitter:title" content="{{site.title}} | {{page.title}}"/>
<meta name="twitter:site" content="@syncano"/>
<meta name="twitter:domain" content="Syncano"/>
<meta name="twitter:image:src" content="{{site.url}}/assets/images/syncano-logo.png"/>
<meta name="twitter:creator" content="@syncano"/>
