<footer>
  <div>
    <div class="pull-left"><a href="{{post.url}}">MORE</a></div>
    <div class="pull-right">
      <div class="share-links">
        <span><i class="fa fa-share-alt" style="font-size: 16px;"></i></span>
        <div class="links social-share">
          <div class="arrow-down"></div>
          <a class="fa fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" target="_blank"></a>
          <a class="fa fa-twitter" href="https://twitter.com/intent/tweet?text={{page.title}}&url={{site.url}}{{page.url}}" target="_blank"></a>
          <a class="fa fa-google" href="https://plus.google.com/share?url={{site.url}}{{page.url}}" target="_blank"></a>
          <a class="fa fa-pinterest" href="http://pinterest.com/pin/create/button/?url={{site.url}}{{page.url}}&description={{page.title}}&media={{page.image}}" target="_blank"></a>
        </div><!-- END social share -->
      </div><!-- END share links -->
    </div><!-- END pull right -->
    <div style="clear: both;"></div>
  </div>
</footer>