<div class="map hero">
  {% if post.map %}
    {{ post.map }}
  {% else %}
    <span class="syncano-blue"></span>
  {% endif %}
  <div class="meta">
    <i class="fa fa-calendar"></i> MEETUP
    <div class="date">
      {% if post.day %}
        <span class="day">{{post.day}}<br/></span>
      {% endif %}
      {% if post.month %}
        <span class="month">{{post.month}}</span>
      {% endif %}
    </div>
    {% if post.time %}
      <div class="time">{{post.time}}</div>
    {% endif %}
    {% if post.location %}
      <div class="location">{{post.location}}</div>
    {% endif %}
  </div><!-- END meta -->
  <h1><a href="{{post.url}}">{{post.title}}</a></h1>
</div><!-- END map -->