<nav class="categories navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-2" aria-expanded="true" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-2" aria-expanded="false" style="{% if page.transparent_header %} background-color: {{page.bg_color}} {% endif %}">
      <ul class="nav navbar-nav">
        <li><a class="active" href="/blog">All</a></li>
        <li><a href="/category/how-tos">Tutorials</a></li>
        <li><a href="/category/events">Events</a></li>
        <li><a href="/category/features">New Features</a></li>
        <li><a href="/category/developer-profiles">Developer Profiles</a></li>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> More <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/category/angularjs">Angular JS</a></li>
            <li><a href="/category/api">API</a></li>
            <li><a href="/category/backend-as-a-service">Backend as a Service</a></li>
            <li><a href="/category/building-syncano">Building Syncano</a></li>
            <li><a href="/category/celery">Celery</a></li>
            <li><a href="/category/culture">Culture</a></li>
            <li><a href="/category/data-modeling">Data Modeling</a></li>
            <li><a href="/category/demo">Demo</a></li>
            <li><a href="/category/django">Django</a></li>
            <li><a href="/category/docker">Docker</a></li>
            <li><a href="/category/figsh">Fig.sh</a></li>
            <li><a href="/category/flask">Flask</a></li>
            <li><a href="/category/image-processing">Image Processing</a></li>
            <li><a href="/category/info">Info</a></li>
            <li><a href="/category/internet-of-things">Internet of Things</a></li>
            <li><a href="/category/ios">iOS</a></li>
            <li><a href="/category/javascript">Javascript</a></li>
            <li><a href="/category/news">News</a></li>
            <li><a href="/category/python">Python</a></li>
            <li><a href="/category/reactjs">React.js</a></li>
            <li><a href="/category/real-time-apps">Real-Time Apps</a></li>
            <li><a href="/category/real-time-sync">Real-Time Sync</a></li>
            <li><a href="/category/second-screen">Second Screen</a></li>
            <li><a href="/category/startup-lessons">Startup Lessons</a></li>
            <li><a href="/category/swift">Swift</a></li>
            <li><a href="/category/uncategorized">Uncategorized</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          {% include search.html %}
        </li>
      </ul>
    </div>
  </div>
</nav>