<div id="blog-subscribe" class="container">
  <div class="col-md-2">
    <img src="/public/mascot.png" />
  </div>
  <div class="col-md-8 col-md-offset-2">
    <h2>Hei, Hi, Hola</h2>
    <h3>Sign up here to receive our latest posts in your inbox.</h3>
    <form class="form-inline">
      <div class="form-group">
        <input type="email" class="form-control" id="blogSubscribeEmail-1" placeholder="email">
      </div>
      <input type="button" class="btn btn-default" value="Join" onclick="shareSubscribeFirst()"/>
    </form>
    <div class="alert alert-success alert-dismissible" role="alert" id="successful-blog-subscribe-1">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Success!</strong> Thank you for subscribing.
    </div>
  </div>
</div>


<script>

function shareSubscribeFirst() {
  var emailField = document.getElementById('blogSubscribeEmail-1');
  var subscribeEmail = emailField.value;
  var success = document.getElementById('successful-blog-subscribe-1');

  if (subscribeEmail == null || subscribeEmail == "") {
    emailField.className = emailField.className + " has-error";
    return false;
  } else {
    //regex for valid email
    if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(subscribeEmail))  {  
      if (emailField.classList.contains('has-error')) {
        emailField.className = 'form-control';
      }
      analytics.alias(subscribeEmail);
      analytics.identify(subscribeEmail, {'email':subscribeEmail, 'Lifecycle stage':'lead', 'source':'Newsletter'});
      analytics.track('Subscribed to newsletter', {'email':subscribeEmail}); 
      success.className = success.className + " show";
    } else {
      emailField.className = emailField.className + " has-error";
      return false
    }
  }
}
</script>