<div class="colors">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h4>Colors</h4>
				<h5>Our main color is the bright blue represented as the main color of our dashboard.</h5>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6">
						<img src="/assets/images/brand/syncano-light.png" alt="syncano logo light blue" />
						<ul>
							<li>Hex: #2278CF</li>
							<li>RGB: 34, 120, 207</li>
							<li>Pantone: Solid Coated 660 C</li>
							<li>CMYK: 84, 42, 0, 19</li>
						</ul>
					</div>
					<div class="col-md-6">
						<img src="/assets/images/brand/syncano-dark.png" alt="syncano logo dark blue" />
						<ul>
							<li>Hex: #1776D2</li>
							<li>RGB: 23, 118, 210</li>
							<li>Pantone: Solid Coated 7687 C</li>
							<li>CMYK: 98, 54, 0, 41</li>
						</ul>
					</div>
				</div><!-- END row -->
				<div class="row">
					<div class="col-md-6">
						<div class="gray-light"></div>
						<ul>
							<li>Hex: N/A</li>
							<li>RGB: N/A</li>
							<li>Pantone: N/A</li>
							<li>CMYK: N/A</li>
						</ul>
					</div>
					<div class="col-md-6">
						<div class="gray-dark"></div>
						<ul>
							<li>Hex: N/A</li>
							<li>RGB: N/A</li>
							<li>Pantone: N/A</li>
							<li>CMYK: N/A</li>
						</ul>
					</div>
				</div><!-- END row -->
			</div>
		</div><!-- END row -->
	</div><!-- END container -->
</div><!-- END logo -->