<div class="mascot">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h4>Mascot</h4>
				<a href="#">Download</a>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6">
						<img src="/assets/images/brand/mascot.png" alt="syncano mascot" />
					</div>
					<!-- div class="col-md-6">
						<ul>
							<li>Name:</li>
							<li>Origin:</li>
						</ul>
					</div -->
				</div><!-- END row -->
			</div>
		</div><!-- END row -->
	</div><!-- END container -->
</div><!-- END logo -->