* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background: $color-body-bg;
  color: $color-text-base;
  min-width: 320px;
  line-height: 1;

  @include body-class('has-hamburger-menu-visible') {
    max-height: 100vh;
  }

  @include medium {
    font-size: 16px;
  }
}

h1, h2, h3, h4 {
  font-weight: normal;
  line-height: 1;
  margin: 0;
}

ul, ol {
  padding: 0;
  list-style: none;
}

ul, ol {
  padding: 0;
  list-style: none;
}

ul, ol {
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

button, input, select {
  background: none;
  border: none;
  border-radius: 0;
  padding: 0;
}
