* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 14px;
  background: $color-body-bg;
  color: $color-text-base;

  @include medium {
    font-size: 16px;
  }
}

h1, h2, h3, h4 {
  font-weight: normal;
  line-height: 1;
}

ul, ol {
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}
