* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #fff;
  color: $color-text-base;
  min-width: 320px;
  line-height: 1;

  &.has-hamburger-menu-visible,
  &.has-modal-open {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  line-height: 1;
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

blockquote p,
q {
  &:before,
  &:after {
    display: inline;
    content: '"';
  }
}

strong {
  font-weight: 500;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

p a,
li a,
.text-link {
  transition: $transition-default;
  color: $color-main-blue;

  &:hover {
    color: $color-main-blue--hover;
    text-decoration: underline;
  }

  &:active {
    color: $color-main-blue--active;
  }
}

button,
input,
select,
textarea {
  background: none;
  border: none;
  border-radius: 0;
  padding: 0;
  max-width: 100%;
  resize: none;
}

canvas {
  display: block;
}

// react-prism
pre[class*=language-] {
  -webkit-overflow-scrolling: touch;
}

body #elevio-widget,
body #intercom-container {
  display: none !important;
}
