.button {
  display: inline-block;
  border-radius: 4px;
  font-weight: 700;
  padding: 12px;
  text-transform: uppercase;
  font-size: 12px;
  color: $color-main-blue;
  border: 2px solid transparentize($color-main-blue, .5);
  min-width: 170px;
  text-align: center;
  transition: $transition-default;
  cursor: pointer;

  &:hover {
    color: transparentize($color-main-blue, .5);
  }

  &:active {
    border-color: $color-main-blue;
    color: $color-main-blue;
  }

  &.button--featured {
    background: $color-main-yellow;
    color: $color-text-headline;
    border-color: $color-main-yellow;

    &:hover {
      background: $color-main-yellow--hover;
      border-color: $color-main-yellow--hover;
    }

    &:active {
      background: $color-main-yellow--active;
      border-color: $color-main-yellow--active;
    }
  }

  &.button--filled {
    background: $color-main-blue;
    border-color: $color-main-blue;
    color: #fff;

    &:hover {
      background: $color-main-blue--hover;
      border-color: $color-main-blue--hover;
    }

    &:active {
      background: $color-main-blue--active;
      border-color: $color-main-blue--active;
    }
  }

  &.button--large {
    padding: 13px 25px;
    min-width: 210px;
    text-transform: uppercase;
    font-size: 14px;
  }

  &.button--noborder {
    border-color: transparent;
  }

  &.button--white {
    border-color: transparentize(#fff, .5);
    color: #fff;

    &:hover {
      color: transparentize(#fff, .5);
    }

    &:active {
      border-color: #fff;
      color: #fff;
    }
  }

  &.button--wide {
    display: block;
  }

  @include medium {
    letter-spacing: -.1px;
    padding: 12px 20px;
    min-width: 140px;

    &.button--large {
      padding: 17px 40px;
      min-width: 0;
      font-size: 16px;
    }
  }
}
