.form {
  .form__input,
  .form__textarea {
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid transparentize($color-main-silver, .75);
    border-radius: 4px;
    line-height: 24px;
    padding: 9px 20px;
    color: #4D5967;
    -webkit-appearance: none;
    -moz-appearance: none;

    @mixin placeholder {
      opacity: .75;
    }

    &::-webkit-input-placeholder { @include placeholder; }
    &:-moz-placeholder { @include placeholder; }
    &::-moz-placeholder { @include placeholder; }
    &:-ms-input-placeholder { @include placeholder; }

    &.is-invalid {
      border-color: $color-main-red;
      color: $color-main-red;
    }
  }

  .form__textarea {
    height: 160px;
  }

  .form__message {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    p {
      margin: 0 !important;
      font-size: 10px;
    }
  }

  .form__success-message p {
    color: $color-main-green;
  }

  .form__error-message p {
    color: $color-main-red;
  }

  .button {
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
  }

  @include small {
    .form__message p {
      font-size: 12px;
    }
  }

  @include medium {
    .form__input,
    .form__textarea {
      margin-bottom: 20px;
      line-height: (54px - (2 * 9px));
    }

    .form__input {
      height: 54px;
    }

    .form__message {
      margin-bottom: 20px;

      p {
        line-height: 20px;
      }
    }

    .button {
      margin-top: 0;
    }
  }
}
