.form {
  .form__input,
  .form__textarea {
    margin-bottom: 10px;
    width: 100%;
    border: solid 1px #DBDEE3;
    border-radius: 4px;
    line-height: 24px;
    padding: 9px 20px;
    color: transparentize(#4D5967, .5);

    &.is-invalid {
      border-color: $color-main-red;
      color: $color-main-red;
    }
  }

  .form__textarea {
    height: 160px;
  }

  .form__error-message {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    p {
      margin: 0 !important;
      color: $color-main-red;
      font-size: 10px;
    }
  }

  .button {
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
  }

  @include small {
    .form__error-message p {
      font-size: 12px;
    }
  }

  @include medium {
    .form__input {
      height: 54px;
      line-height: 54px;
      margin-bottom: 20px;
    }

    .form__error-message {
      margin-bottom: 20px;

      p {
        line-height: 20px;
      }
    }

    .button {
      margin-top: 0;
    }
  }
}
