.inner {
  $max-width: 1180px;

  padding-left: 10px;
  padding-right: 10px;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;

  @include medium {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include very-large {
    padding-left: 110px;
    padding-right: 110px;
  }

  &.inner--list-columns {
    max-width: 875px;
  }

  &.inner--platforms {
    max-width: $max-width - (2 * 25px);
  }

  &.inner--pricing {
    max-width: 940px;
  }

  &.inner--text-columns {
    max-width: $max-width + (2 * 20px);
  }

  &.inner--text-with-bottom-image {
    max-width: 780px;
  }
}
