.inner {
  $max-width: 1180px;

  padding-left: 10px;
  padding-right: 10px;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;

  &.inner--about-us-header-image {
    max-width: 1360px;
    padding: 0;
  }

  &.inner--column-paragraphs,
  &.inner--hexagon-icon-columns {
    max-width: 980px;
  }

  &.inner--list-columns {
    max-width: 875px;
  }

  &.inner--platforms {
    max-width: $max-width - (2 * 25px);
  }

  &.inner--pricing {
    max-width: 940px;
  }

  &.inner--text-with-bottom-image {
    max-width: 780px;
  }

  @include medium {
    padding-left: 30px;
    padding-right: 30px;

    &.inner--about-us-header-image {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  @include very-large {
    padding-left: 110px;
    padding-right: 110px;

    &.inner--about-us-header-image {
      padding-left: 110px;
      padding-right: 110px;
    }
  }
}
