.slider-wrapper {
  .slick-list {
    overflow-x: hidden;
  }

  .slick-track {
    display: flex;
  }

  .slick-dots {
    text-align: center;
    font-size: 0;

    li {
      width: 8px;
      height: 8px;
      display: inline-block;
      border-radius: 50%;
      color: transparent;
      background: transparentize(#fff, .5);
      margin-right: 11px;
      transition: $transition-default;

      &:last-child {
        margin-right: 0;
      }

      &.slick-active {
        background: #fff;
        transform: scale(1.25);
      }

      button {
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 8px;
        cursor: pointer;
      }
    }
  }
}
