---
layout: default
title: Blog
body_class: ['blog ', 'archive']
seo_description: "The Syncano blog covers all news and tips related to real-time syncing and scaling data on the cloud."
keywords: "Syncano blog, real-time sync, real-time sync apps, real-time sync app, real-time apps, real-time app, backend as a service"
---

{% include blog/nav.html %}

{% for post in site.posts limit:1 %}
  {% if post.categories contains 'meetup' %}
    {% include blog/meetup-hero.html %}
  {% else %}
    {% include blog/hero.html %}
  {% endif %}
{% endfor %}

<div class="container blog">
  <div class="posts">
    {% assign counter = 0 %}
    {% for post in site.posts limit:15 %}
      {% assign counter=counter | plus:1 %}
      {% assign loopindex = forloop.index | modulo: 4 %}
      {% if counter > 1 %}
      {% if counter == 4 %}
        {% include blog/subscribe.html %}
      {% endif %}
      {% if counter > 8 %}
        {% if loopindex == 0 %}
          {% include blog/subscribe.html %}
        {% endif %}
      {% endif %}
      <div class="row">
        <div class="post-content">
          {% if post.categories contains 'meetup' %}
            {% include blog/meetup.html %}
          {% else %}
            {% include blog/post.html %}
          {% endif %}
        </div><!-- END post content -->
      </div><!-- END row -->
      {% endif %}
    {% endfor %}
  </div><!-- END posts -->
</div><!-- END container -->