.about-us {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;

  .about-us__text {
    h2 {
      font-size: 20px;
      color: $color-text-headline;
      font-weight: 700;
      line-height: 1.35;
    }

    p {
      line-height: 1.875;
      color: transparentize($color-text-base, .25);
      margin-top: 25px;
    }
  }

  .about-us__image {
    margin-top: 60px;

    img,
    picture {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include medium {
    .about-us__text h2 {
      font-size: 30px;
    }
  }

  @include large {
    padding-top: 110px;
    padding-bottom: 110px;
    text-align: left;

    .inner {
      display: flex;
    }

    .about-us__text {
      h2 {
        font-size: 40px;
      }

      p {
        margin-top: 40px;
      }
    }

    .about-us__image {
      margin-top: 0;
      flex: 0 0 400px;
      margin-left: 90px;
    }
  }

  @include very-large {
    padding-top: 120px;
    padding-bottom: 120px;

    .about-us__image {
      flex-basis: 611px;
    }
  }
}
