.architecture-presentation {
  display: none;

  .architecture-presentation__canvas {
    width: 100%;
    height: 100%;
    touch-action: none;
  }

  .architecture-presentation__overlay {
    display: none;
  }

  @include very-large {
    display: block;
  }
}
