.blockquote-section {
  padding-top: 80px;
  padding-bottom: 80px;
  background: $color-main-gray;

  .blockquote-section__blockquote {
    text-align: center;
    font-style: italic;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;

    p {
      font-size: 18px;
      line-height: 30px;
      color: $color-text-base;
    }
  }

  @include medium {
    .blockquote-section__blockquote p {
      font-size: 26px;
      line-height: 35px;
    }
  }

  @include large {
    padding-top: 110px;
    padding-bottom: 110px;
  }

  @include very-large {
    padding-top: 150px;
    padding-bottom: 150px;

    .blockquote-section__blockquote {
      max-width: 1020px;

      p {
        font-size: 34px;
        line-height: 40px;
      }
    }
  }
}
