.column-paragraphs {
  padding-top: 80px;
  text-align: center;

  h2 {
    font-size: 20px;
    color: $color-text-headline;
    font-weight: 700;
    line-height: 1.35;
  }

  .column-paragraphs__paragraphs {
    margin-top: 60px;
    margin-bottom: 60px;

    .column-paragraphs__paragraphs__paragraph {
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }

      .column-paragraphs__paragraphs__paragraph__headline {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          margin-right: 15px;
        }

        h3 {
          color: $color-text-headline;
          font-weight: 700;
          line-height: 1.35;
        }
      }

      p {
        color: $color-text-base;
        margin-top: 20px;
        line-height: 1.625;
      }
    }
  }

  .column-paragraphs__image {
    overflow: hidden;

    .browser-image {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    picture,
    img {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include medium {
    h2 {
      font-size: 30px;
    }

    .column-paragraphs__paragraphs {
      display: flex;
      flex-wrap: wrap;
      margin: -20px;
      margin-top: (80px - 20px);
      margin-bottom: (100px - 20px);

      .column-paragraphs__paragraphs__paragraph {
        margin-bottom: 80px;
        flex: 0 0 50%;
        padding: 20px;
        text-align: left;
        margin-bottom: (80px - 20px);

        &:nth-last-child(2) {
          margin-bottom: 0;
        }

        .column-paragraphs__paragraphs__paragraph__headline {
          justify-content: flex-start;

          h3 {
            font-size: 24px;
          }
        }
      }
    }
  }

  @include large {
    padding-top: 110px;

    h2 {
      font-size: 40px;
    }

    .column-paragraphs__paragraphs {
      margin: -40px;
      margin-top: (80px - 40px);
      margin-bottom: (100px - 40px);

      .column-paragraphs__paragraphs__paragraph {
        padding: 40px;
        margin-bottom: (80px - 40px);

        p {
          margin-top: 30px;
        }
      }
    }

    .column-paragraphs__image {
      picture,
      img {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  @include very-large {
    padding-top: 120px;
  }
}
