.community-examples {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  background: #fff;

  h2 {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    color: $color-text-headline;
  }

  .community-examples__examples {
    margin-top: 60px;

    .community-examples__example {
      margin-bottom: 50px;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;

      &:last-child {
        margin-bottom: 0;
      }

      .community-examples__example__images {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        img {
          max-width: 16vw;
          width: 100%;
        }
      }

      .community-examples__example__text {
        line-height: 1.625;
      }
    }
  }

  @include medium {
    h2 {
      font-size: 36px;
    }

    .community-examples__examples {
      margin-top: 80px;

      .community-examples__example {
        margin-bottom: 80px;

        .community-examples__example__images {
          margin-bottom: 50px;

          img {
            max-width: 140px;
            max-height: 120px;
          }
        }
      }
    }
  }

  @include large {
    padding-top: 110px;
    padding-bottom: 110px;
  }

  @include very-large {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}
