.content-section {
  padding-top: 80px;
  padding-bottom: 80px;

  .inner {
    max-width: 900px;
  }

  h2 {
    font-size: 20px;
    color: $color-text-headline;
    font-weight: 700;
    line-height: 1.35;
  }

  .content-section__content {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    p,
    .content-section__content__list,
    .code-preview {
      margin-top: 25px;
    }

    h3 {
      margin-top: 50px;
      margin-bottom: 50px;
      font-size: 20px;
      color: $color-text-headline;
      font-weight: 700;
    }

    p {
      line-height: 1.75;
      color: transparentize($color-text-base, .1);
    }

    .content-section__content__list {
      text-align: left;

      li {
        line-height: 2;
        color: transparentize($color-text-base, .15);
        position: relative;
        padding-left: 37px;

        &:before {
          display: block;
          content: '';
          width: 6px;
          height: 6px;
          background: $color-main-blue;
          border-radius: 50%;
          position: absolute;
          left: 12px;
          top: 1em;
          transform: translateY(-50%);
        }
      }

      &.content-section__content__list--center {
        display: flex;
        justify-content: center;
      }
    }

    .button {
      margin-top: 25px;
    }

    .code-preview {
      max-width: 700px;
    }

    .slack-promo {
      margin-top: 30px;
    }
  }

  &.content-section--center {
    text-align: center;
  }

  &.content-section--gray {
    background: $color-main-gray;

    .table th,
    .table td {
      border-color: #fff;
    }
  }

  @include medium {
    h2 {
      font-size: 30px;
    }

    .content-section__content {
      margin-top: 50px;

      h3 {
        font-size: 30px;
      }

      .button {
        margin-top: 40px;
      }

      .slack-promo {
        margin-top: 50px;
      }
    }
  }

  @include large {
    padding-top: 110px;
    padding-bottom: 110px;

    h2 {
      font-size: 40px;
    }

    .content-section__content {
      margin-top: 80px;
    }

    &.content-section--narrow .content-section__content {
      max-width: 600px;
    }
  }

  @include very-large {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}
