.contact-form {
  padding-bottom: 80px;
  margin-top: -30px;

  .contact-form__box .contact-form__box__message {
    text-align: center;

    p {
      line-height: 1.75;

      strong {
        color: $color-text-headline;
      }
    }
  }

  @include medium {
    background: #fff url("../components/ContactForm/images/background.svg") no-repeat left 50% bottom 75px;
    min-height: (457px + 75);
    margin-top: -110px;

    .contact-form__box {
      max-width: 520px;
      margin-left: auto;
      margin-right: auto;
      padding: 70px;
      box-shadow: 0 12px 25px rgba(0, 0, 0, .27);
      background: #fff;
      transform: translateY(100px);
    }
  }
}
