.contact-form-section {
  padding-bottom: 80px;
  margin-top: -30px;

  &.contact-form-section--support-form {
    margin-top: 50px;
  }

  @include medium {
    background: #fff url("../components/ContactFormSection/images/background.svg") no-repeat left 50% bottom 75px;
    min-height: (457px + 75);
    margin-top: -110px;

    .contact-form-section__box {
      max-width: 520px;
      margin-left: auto;
      margin-right: auto;
      padding: 70px;
      box-shadow: 0 12px 25px rgba(0, 0, 0, .27);
      background: #fff;
      transform: translateY(100px);
    }

    &.contact-form-section--support-form {
      margin-top: 0;
    }
  }

  @include large {
    margin-top: -190px;
  }
}
