.cta-section {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background: $color-main-blue;
  background-size: cover;

  h2,
  p {
    color: #fff;
  }

  h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.35;
  }

  p {
    margin-top: 20px;
    line-height: 1.625;
  }

  .button {
    margin-top: 30px;
  }

  .cta-section__button-description {
    color: transparentize(#fff, .3);
    font-size: 12px;
    margin-top: 20px;
  }

  &.cta-section--gray {
    background: $color-main-gray;

    h2 {
      color: $color-text-headline;
    }

    p {
      color: transparentize($color-text-base, .25);
    }
  }

  &.cta-section--small-button-only {
    h2,
    p {
      display: none;
    }

    .button {
      margin-top: 0;
    }
  }

  @include medium {
    h2 {
      font-size: 30px;
    }

    &.cta-section--small-button-only {
      h2,
      p {
        display: block;
      }

      .button {
        margin-top: 30px;
      }
    }
  }

  @include large {
    padding-top: 110px;
    padding-bottom: 110px;

    h2 {
      font-size: 40px;
    }

    .button {
      margin-top: 50px;
    }

    .cta-section__button-description {
      font-size: 14px;
      margin-top: 30px;
    }

    &.cta-section--gray {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  @include very-large {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}
