.faq {
  background: $color-main-gray;
  padding-top: 80px;
  padding-bottom: 80px;

  h2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: $color-text-headline;
    line-height: 1.5;
  }

  .faq__items {
    margin-top: 25px;

    .faq__items__column:last-child .faq-item:last-child {
      margin-bottom: 0;
    }
  }

  .faq__footer {
    display: none;
  }

  @include medium {
    h2 {
      font-size: 36px;
    }

    .faq__items {
      display: flex;
      margin-top: 40px;
      max-width: 1030px;
      margin-left: auto;
      margin-right: auto;

      .faq__items__column {
        flex: 1;
        margin-right: 50px;

        &:last-child {
          margin-right: 0;
        }

        .faq-item:last-child {
          margin-bottom: 0;
        }
      }
    }

    .faq__footer {
      display: block;
      margin-top: 100px;
      text-align: center;

      p {
        font-size: 18px;
        font-weight: 500;

        a {
          color: $color-text-base-link;
        }
      }
    }
  }

  @include large {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}
