.footer {
  background: $color-footer-bg;
  padding-top: 80px;
  padding-bottom: 40px;
  color: $color-footer-base;

  h4, li {
    line-height: 40px;
  }

  h4 {
    font-size: 12px;
    font-weight: 500;
    color: $color-footer-headline;
    text-transform: uppercase;
  }

  p {
    font-size: 14px;
  }

  a {
    color: $color-footer-link;
    transition: $transition-default;

    &:hover {
      color: #fff;
    }
  }

  .footer__logo {
    margin-bottom: 46px;
    text-align: center;

    img {
      display: inline-block;
    }

    .footer__logo__copyright {
      display: none;
      margin-top: 12px;

      p {
        font-size: 12px;
      }
    }
  }

  .footer__columns {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
  }

  .footer__column,
  .footer__newsletter,
  .footer__copyright {
    text-align: center;
  }

  .footer__column {
    flex-basis: 50%;
    margin-bottom: 60px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .footer__newsletter .footer__newsletter__social {
    display: none;
    margin-top: 30px;

    ul {
      margin-top: 25px;
    }

    li {
      display: inline-block;
      margin-right: 20px;
      

      &:last-child {
        margin-right: 0;
      }

      a {
        display: block;
        transition: $transition-default;

        &:hover {
          opacity: .5;
        }
      }
    }
  }

  .footer__copyright {
    margin-top: 80px;
  }

  @include medium {
    .footer__column {
      flex-basis: 25%;
    }
  }

  @include very-large {
    padding-top: 120px;
    padding-bottom: 120px;

    .inner {
      display: flex;
      justify-content: space-between;
    }

    h4 {
      line-height: 1;
      margin-bottom: 10px;
    }

    li {
      line-height: 2.5;
      font-size: 14px;
    }

    .footer__logo,
    .footer__column,
    .footer__newsletter,
    .footer__copyright {
      text-align: left;
    }

    .footer__logo .footer__logo__copyright {
      display: block;
    }

    .footer__columns {
      margin-left: 0;
      margin-right: 0;
      justify-content: space-between;
      flex-basis: 540px;
      padding-left: 50px;
    }

    .footer__column {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;

      &:last-child {
        display: none;
      }
    }

    .footer__newsletter .footer__newsletter__social {
      display: block;
    }

    .footer__copyright {
      display: none;
    }
  }
}
