.hamburger-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparentize($color-main-blue, .03);
  display: none;
  text-align: center;
  padding-top: 86px;
  padding-bottom: 60px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  @include body-class('has-hamburger-menu-visible') {
    display: block;
  }

  a,
  .button {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }

  .hamburger-menu__menu li {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 60px;
    font-weight: 700;

    a {
      text-decoration: none;
    }
  }

  .hamburger-menu__buttons {
    margin-top: 45px;

    .button {
      border-color: rgba(255, 255, 255, .5);
      max-width: 200px;

      &.button--featured {
        border-color: $color-main-yellow;
        color: $color-text-headline;

        // todo: create .button--flat class
        &:hover {
          border-color: $color-main-yellow--hover;
        }
      }
    }

    li {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include small {
    padding-top: 60px;

    .hamburger-menu__menu li {
      line-height: 50px;
    }

    .hamburger-menu__buttons {
      margin-top: 30px;
    }
  }

  @include medium {
    display: none !important;
  }
}
