.hero {
  min-height: 500px;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 60px;

  .hero__text {
    h1,
    h2 {
      margin-left: auto;
      margin-right: auto;
    }

    h1 {
      font-weight: 700;
      font-size: 28px;
      line-height: 1.35;
      max-width: 255px;
      color: $color-text-headline;
      white-space: nowrap;
    }

    h2 {
      font-size: 18px;
      line-height: 1.5;
      margin-top: 30px;
      max-width: 300px;
      color: $color-text-base;
    }

    .hero__text__button-container {
      display: inline-block;
      text-align: center;

      .button {
        margin-top: 50px;
      }

      .hero__text__button-description {
        color: transparentize($color-text-base, .4);
        font-size: 12px;
        margin-top: 20px;
      }
    }
  }

  .hero__image {
    margin-top: 60px;

    img {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include small {
    padding-top: 100px;

    .hero__text {
      h1 {
        max-width: none;
      }

      h2 {
        max-width: 365px;
      }

      .hero__text__button-container .button {
        margin-top: 30px;
      }
    }

    .hero__image img {
      max-width: 60%;
    }
  }

  @include medium {
    padding-top: 200px;
    padding-bottom: 200px;

    .hero__text {
      h1 {
        font-size: 50px;
      }

      h2 {
        font-size: 20px;
        max-width: 425px;
        margin-top: 30px;
      }

      .hero__text__button-container {
        .button {
          margin-top: 60px;
        }

        .hero__text__button-description {
          font-size: 14px;
        }
      }
    }

    .hero__image {
      margin-top: 70px;
    }
  }

  @include large {
    text-align: left;

    .inner {
      display: flex;
      align-items: center;
    }

    .hero__text,
    .hero__image {
      flex-basis: 0;
      flex-grow: 1;
    }

    .hero__text {
      margin-right: 40px;

      h2 {
        font-size: 24px;
        max-width: none;
      }

      // to make "Go to Dashboard" button wider then .hero__text__button-description
      .hero__text__button-container .button {
        min-width: 260px;
      }
    }

    .hero__image {
      margin-top: 0;
      flex-grow: 1.2;

      img {
        max-width: 100%;
      }
    }
  }

  @include very-large {
    .hero__text {
      margin-right: 80px;

      h1 {
        font-size: 56px;
      }
    }
  }
}
