.hero {
  min-height: 500px;
  text-align: center;
  padding-top: 140px;
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 30% 50%;
  background-size: cover;

  h2, p {
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: $color-text-headline;
    max-width: 220px;
  }

  p {
    font-size: 18px;
    color: transparentize($color-text-base, .2);
    line-height: 1.5;
    margin-top: 30px;
    max-width: 270px;
    font-weight: 500;
  }

  .button {
    margin-top: 50px;
  }

  &.hero--home {
    background-image: url("../components/Hero/images/hero-home.jpg");
  }

  @include small {
    padding-top: 90px;
    background-position: 40% 50%;
  }

  @include medium {
    min-height: 750px;
    text-align: left;
    padding-top: 300px;
    background-position: 51% 50%;

    h2, p {
      max-width: none;
    }

    h2 {
      font-size: 40px;
      line-height: 31px;
    }

    p {
      font-size: 20px;
      line-height: 17px;
    }

    .button {
      margin-top: 60px;
    }

    &.hero--home {
      background-image: url("../components/Hero/images/hero-home-medium.jpg");
    }
  }

  @include large {
    background-position: 50% 50%;

    h2 {
      font-size: 44px;
    }

    p {
      font-size: 24px;
    }
  }
}
