.hero {
  min-height: 500px;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #003462;
  background-repeat: no-repeat;
  background-position: 76% 50%;
  background-size: cover;

  .hero__headline, .hero__textline {
    margin-left: auto;
    margin-right: auto;
  }

  .hero__headline {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.4;
    max-width: 255px;
    color: #fff;
  }

  .hero__textline {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 30px;
    max-width: 215px;
    color: transparentize(#fff, .15);
  }

  .button {
    margin-top: 50px;
  }

  .hero__button-description {
    color: transparentize(#fff, .3);
    font-size: 12px;
    margin-top: 20px;
  }

  &.hero--home {
    background-image: url("../components/Hero/images/hero-home.jpg");
  }

  @include small {
    min-height: 375px;
    padding-top: 80px;
    padding-bottom: 20px;

    .hero__headline {
      max-width: none;
    }

    .hero__textline {
      max-width: 350px;
    }

    &.hero--home {
      background-position: 45% 50%;
    }
  }

  @include medium {
    min-height: 800px;
    padding-top: 280px;
    padding-bottom: 200px;

    .hero__headline {
      font-size: 42px;
      line-height: 1;
    }

    .hero__textline {
      font-size: 20px;
      max-width: none;
      margin-top: 20px;
    }

    .button {
      margin-top: 70px;
    }

    .hero__button-description {
      font-size: 14px;
    }

    &.hero--home {
      background-image: url("../components/Hero/images/hero-home-medium.jpg");
      background-position: 50% 50%;
    }
  }

  @include large {
    .hero__headline {
      font-size: 56px;
    }

    .hero__textline {
      font-size: 24px;
    }
  }
}
