.hexagon-icon-columns {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  background: $color-main-gray;

  h2 {
    font-size: 20px;
    color: $color-text-headline;
    font-weight: 700;
    line-height: 1.35;
  }

  .hexagon-icon-columns__columns {
    margin-top: 60px;

    .hexagon-icon-columns__columns__column {
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }

      img {
        margin-left: auto;
        margin-right: auto;
      }

      h3 {
        color: $color-text-headline;
        font-weight: 700;
        line-height: 1.35;
        margin-top: 25px;
      }

      p {
        color: $color-text-base;
        margin-top: 20px;
        line-height: 1.625;
      }
    }
  }

  @include medium {
    h2 {
      font-size: 30px;
    }

    .hexagon-icon-columns__columns {
      display: flex;
      flex-wrap: wrap;
      margin: -20px;
      margin-top: (95px - 20px);

      .hexagon-icon-columns__columns__column {
        padding: 20px;
        margin-bottom: (95px - 20px);
        flex: 0 0 50%;

        &:nth-last-child(2) {
          margin-bottom: 0;
        }

        h3 {
          margin-top: 35px;
          font-size: 24px;
        }

        p {
          margin-top: 30px;
        }
      }
    }
  }

  @include large {
    padding-top: 110px;
    padding-bottom: 110px;

    h2 {
      font-size: 40px;
    }

    .hexagon-icon-columns__columns {
      margin: -50px;
      margin-top: (95px - 50px);

      .hexagon-icon-columns__columns__column {
        padding: 50px;
        margin-bottom: (95px - 50px);
      }
    }
  }

  @include very-large {
    padding-top: 120px;
    padding-bottom: 120px;

    .hexagon-icon-columns__columns {
      margin: -100px;
      margin-top: (95px - 100px);

      .hexagon-icon-columns__columns__column {
        padding: 100px;
        margin-bottom: (95px - 100px);
      }
    }
  }
}
