.large-blockquote {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
  background-color: #40b1e5;

  .large-blockquote__quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;

    .large-blockquote__quote__image {
      width: 128px;
      height: 128px;
      margin-bottom: 30px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;

      img {
        height: 100%;
        width: auto;
        max-width: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .large-blockquote__quote__content {
      text-align: center;
      line-height: 1.25;

      .large-blockquote__quote__content__text {
        margin-bottom: 10px;
        font-size: 18px;
      }

      .large-blockquote__quote__content__author {
        margin-bottom: 5px;
        font-weight: 100;
      }

      .large-blockquote__quote__content__more a {
        color: #fff;
        font-weight: 500;
        text-decoration: underline;
      }
    }
  }

  @include medium {
    padding-top: 0;
    padding-bottom: 0;

    .large-blockquote__quote {
      max-width: none;
      flex-direction: row-reverse;

      .large-blockquote__quote__image {
        margin-bottom: 0;
        margin-left: 30px;
        border-radius: 0;
        width: 278px;
        height: auto;

        img {
          width: 100%;
          height: auto;
          position: static;
          transform: none;
        }
      }

      .large-blockquote__quote__content {
        flex: 1;
        text-align: left;

        .large-blockquote__quote__content__text {
          font-size: 24px;
        }

        .large-blockquote__quote__content__author,
        .large-blockquote__quote__content__more {
          font-size: 20px;
        }
      }
    }
  }

  @include large {
    .large-blockquote__quote .large-blockquote__quote__content {
      .large-blockquote__quote__content__text {
        font-size: 28px;
      }

      .large-blockquote__quote__content__author,
      .large-blockquote__quote__content__more {
        font-size: 24px;
      }
    }
  }

  @include very-large {
    .large-blockquote__quote .large-blockquote__quote__content {
      .large-blockquote__quote__content__text {
        font-size: 32px;
      }

      .large-blockquote__quote__content__author,
      .large-blockquote__quote__content__more {
        font-size: 28px;
      }
    }
  }
}
