.mobile-app-download-buttons {
  display: inline-flex;

  .mobile-app-download-buttons__button {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    a, img {
      display: block;
    }
  }
}
