.modal {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;

  .modal__close {
    position: absolute;
    top: 22px;
    right: 10px;
    cursor: pointer;

    .small {
      display: none;
    }
  }

  .modal__content {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #fff;
    min-height: 100%;

    h2, p {
      text-align: center;
    }

    h2 {
      font-size: 28px;
      line-height: 33px;
      font-weight: bold;
      color: $color-text-headline;
    }

    p {
      margin-top: 20px;
      line-height: 24px;
    }

    .modal__content_form {
      margin-top: 40px;

      .modal__content_form__input {
        margin-bottom: 10px;
        width: 100%;
        border: solid 1px #DBDEE3;
        border-radius: 4px;
        height: 44px;
        line-height: 44px;
        padding: 0 20px;
        color: transparentize(#4D5967, .5);
      }

      .button {
        width: 100%;
        margin-top: 20px;
        cursor: pointer;
      }
    }
  }

  .modal__content__login-options {
    margin-top: 45px;

    .modal__content__login-options__headline {
      border-top: 1px solid #DBDEE3;
      font-weight: bold;
      text-transform: uppercase;
      color: #B8C0C9;
      font-size: 12px;
      text-align: center;

      span {
        display: inline-block;
        padding: 0 15px;
        background: #fff;
        transform: translateY(-50%);
      }
    }

    .modal__content__login-options__buttons {
      margin-top: 30px;

      ul {
        display: flex;

        li {
          flex: 1;
          margin-right: 15px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .button {
        width: 100%;
        min-width: 0;
        padding-left: 0;
        padding-right: 0;
        cursor: pointer;

        span, button {
          vertical-align: middle;
        }

        img {
          display: inline-block;
          vertical-align: middle;
          margin-right: 7px;
          display: none;
        }
      }
    }
  }

  .modal__footer {
    display: none;
  }

  @include medium {
    height: auto;
    width: auto;
    max-width: 520px;
    border-radius: 4px;
    overflow: visible;

    .modal__close {
      top: 20px;
      right: 20px;

      img {
        display: none;

        &.small {
          display: block;
        }
      }
    }

    .modal__content {
      padding-top: 60px;
      padding-bottom: 60px;
      box-shadow: 0 0 50px rgba(0, 0, 0, .37);
      min-height: 0;

      .inner {
        padding-left: 70px;
        padding-right: 70px;
      }

      .modal__content_form {
        .modal__content_form__input {
          height: 54px;
          line-height: 54px;
          margin-bottom: 20px;
        }
        
        .button {
          margin-top: 0;
        }
      }
    }

    .modal__content__login-options .modal__content__login-options__buttons .button {
      border-color: $color-main-blue;

      img {
        display: inline-block;
      }
    }

    .modal__footer {
      display: flex;
      justify-content: space-between;
      padding-top: 40px;
      padding-bottom: 40px;

      .modal__footer__column {
        &:first-child {

        }

        &:last-child {
          text-align: right;
        }

        span {
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}
