.newsletter-form {
  $height: 34px;

  margin-top: 14px;
  width: 280px;
  min-height: $height;
  margin-left: auto;
  margin-right: auto;

  .newsletter-form__field {
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @mixin placeholder {
      color: transparentize($color-text-base, .5);
    }

    ::-webkit-input-placeholder { @include placeholder; }
    :-moz-placeholder { @include placeholder; }
    ::-moz-placeholder { @include placeholder; }
    :-ms-input-placeholder { @include placeholder; }

    .newsletter-form__field__input,
    .newsletter-form__field__button {
      display: inline-block;
      height: $height;
      line-height: 14px;
      vertical-align: middle;
      font-size: 12px;
      padding: 10px;
    }

    .newsletter-form__field__input {
      background: #fff;
      width: calc(100% - 80px);
      color: transparentize($color-text-base, .5);

      &.is-invalid {
        box-shadow: 0 0 10px rgba(255, 0, 0, .5) inset;
      }
    }

    .newsletter-form__field__button {
      background: $color-main-blue;
      color: #fff;
      text-align: center;
      font-weight: 700;
      text-transform: uppercase;
      width: 80px;
      cursor: pointer;
      transition: $transition-default;

      &:hover {
        background: $color-main-blue--hover;
      }

      &:active {
        background: $color-main-blue--active;
      }
    }
  }

  @include very-large {
    margin-top: 20px;
  }
}
