.new-homepage-nik {
  background-color: #40b1e5;
  color: #fff !important;
  font-size: 1.4rem;
  line-height: 2rem;
  max-width: none;
  margin: 0;
  text-decoration: none !important;
  min-height: 235px;
  text-align: center;
  padding: 0 0 48px;

  @include medium {
    text-align: left;
    padding: 0;
  }

  @include large {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  @include very-large {
    font-size: 2rem;
    line-height: 2.7rem;
  }

  @include full {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .new-homepage-nik {
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      max-width: 400px;
      margin: 0 auto;

      @include medium {
        max-width: none;
        flex-direction: row-reverse;
      }

      &__body {
        flex: 1;
      }

      &__textline {
        font-weight: 100;


        @include full {
          font-size: 2.1rem;
          line-height: 3rem;
        }

        a {
          position: relative;
          color: #fff;
          font-weight: 500;

          &:before {
            content: "";
            display: block;
            width: 100%;
            position: absolute;
            bottom: 3px;
            background: #fff;
            height: 1px;
            left: 50%;
            transform: translateX(-50%);

          }
        }
      }

      &__image {
        background: url('../pages/home/nik.jpg');
        background-size: cover;
        border-radius: 50%;
        width: 128px;
        height: 128px;
        margin: 16px 0;

        @include retina {
          background-image: url('../pages/home/nik@2x.jpg');
        }

        @include medium{
          width: 278px;
          height: 235px;
          border-radius: 0;
          margin: 0 0 0 16px;
        }
      }
    }



    //.inner {
    //  background-image: url("../pages/home/nik.jpg");
    //  background-repeat: no-repeat;
    //  background-position: 90% 80%;
    //  background-size: contain;
    //  padding-top: 1.3rem;
    //  padding-bottom: 1.3rem;
    //}

    .text-with-background__text {
      padding-right: 20%;

      h2,
      p,
      a {
        color: #fff !important;
        font-size: 2.5rem;
        line-height: 3rem;
        max-width: none;
        margin: 0;
        text-decoration: none !important;
      }


    }
  }
}