.page-header {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 80px;
  background: #fff;
  position: relative;

  .page-header__status {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    min-height: 60px;
  }

  h2 {
    font-size: 28px;
    color: #333A42;
    font-weight: 700;
    line-height: 40px;
  }

  p {
    margin-top: 30px;
    line-height: 1.5;
    color: transparentize($color-text-base, .2);
    font-weight: 500;
    font-size: 18px;
  }

  .button {
    margin-top: 50px;
  }

  .page-header__more {
    font-size: 14px;
    margin-top: 30px;
    line-height: 10px;
    color: transparentize($color-text-base, .2);
    font-weight: 400;
  }

  &.page-header--error-404 {
    padding-bottom: 0;
    
    h2 {
      font-size: 80px;
      line-height: 1.2;
    }

    p {
      margin-top: 0;
    }
  }

  @include medium {
    padding-top: 170px;
    padding-bottom: 110px;

    h2 {
      font-size: 35px;
      line-height: 1.2;
    }

    p {
      margin-top: 17px;

      br {
        display: none;
      }
    }

    .button {
      margin-top: 60px;
    }

    .page-header__more {
      font-size: 14px;
    }

    &.page-header--error-404 {
      padding-top: 190px;

      h2 {
        font-size: 100px;
      }

      .button {
        margin-top: 40px;
      }
    }
  }

  @include large {
    h2 {
      font-size: 42px;
    }

    &.page-header--error-404 {
      padding-bottom: 150px;

      h2 {
        font-size: 120px;
      }
    }
  }
}
