.page-header {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 80px;
  background: #fff;

  .page-header__status {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    min-height: 60px;
  }

  h1 {
    font-size: 28px;
    color: #333A42;
    font-weight: 700;
    line-height: 40px;
  }

  h2 {
    margin-top: 30px;
    line-height: 1.5;
    color: transparentize($color-text-base, .2);
    font-weight: 500;
    font-size: 18px;

    a {
      @extend .text-link;
      cursor: pointer;
      transition: $transition-default;
    }
  }

  p {
    line-height: 1.875;
    color: transparentize($color-text-base, .25);
    margin-top: 30px;
  }

  .inner > .button {
    margin-top: 50px;
  }

  .page-header__button-description {
    color: transparentize($color-text-base, .4);
    font-size: 12px;
    margin-top: 20px;
  }

  .page-header__more {
    font-size: 14px;
    margin-top: 30px;
    line-height: 10px;
    color: transparentize($color-text-base, .2);
    font-weight: 400;

    span {
      @extend .text-link;
      cursor: pointer;
      transition: $transition-default;
    }
  }

  &.page-header--error-404 {
    position: relative;

    h1 {
      font-size: 80px;
      line-height: 1.2;
    }

    h2 {
      margin-top: 0;
    }
  }

  &.page-header--no-bottom-padding {
    padding-bottom: 0;
  }

  @include medium {
    padding-top: 170px;
    padding-bottom: 110px;

    h1 {
      font-size: 35px;
      line-height: 1.2;
    }

    h2,
    p {
      margin-left: auto;
      margin-right: auto;
    }

    h2 {
      margin-top: 20px;
      max-width: 50vw;
    }

    h1 br,
    h2 br {
      display: none;

      &.force {
        display: block;
      }
    }

    p {
      max-width: 60vw;
    }

    .inner > .button {
      margin-top: 60px;
    }

    .page-header__button-description {
      font-size: 14px;
    }

    .page-header__more {
      font-size: 14px;
    }

    &.page-header--error-404 {
      padding-top: 190px;

      h1 {
        font-size: 100px;
      }

      .inner > .button {
        margin-top: 40px;
      }
    }

    &.page-header--3d-presentation {
      padding-top: 120px;
      padding-bottom: 60px;
    }
  }

  @include large {
    padding-top: 200px;
    padding-bottom: 190px;

    h1 {
      font-size: 42px;
    }

    &.page-header--error-404 {
      padding-bottom: 150px;

      h1 {
        font-size: 120px;
      }
    }
  }
}
