.paragraph-divider {
  height: 8px;
  background: url("../components/ParagraphDivider/images/paragraph-divider.svg") no-repeat 50% 50%;
  margin-top: 40px;
  margin-bottom: 40px;

  @include large {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
