.paragraphs-with-icon-list {
  margin-top: 30px;
  margin-bottom: 30px;

  .paragraphs-with-icon-list__item {
    text-align: left;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }

    .paragraphs-with-icon-list__item__icon {
      margin-bottom: 30px;

      img {
        width: 100%;
        max-width: 70px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .paragraphs-with-icon-list__item__content p {
      margin-top: 0;
    }
  }

  @include medium {
    margin-top: 50px;
    margin-bottom: 50px;

    .paragraphs-with-icon-list__item {
      display: flex;
      align-items: center;

      .paragraphs-with-icon-list__item__icon {
        margin-bottom: 0;
        flex: 0 0 70px;
        margin-right: 50px;

        img {
          max-width: none;
        }
      }

      .paragraphs-with-icon-list__item__content {
        flex: 1;
      }
    }
  }

  @include large {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
