.platforms {
  border: 1px solid transparentize(#B8C0C9, .8);

  .platforms__scroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
  }

  .inner {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .platforms__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }

    img {
      height: 40px;
    }

    &.platforms__item--more img {
      height: 20px;
    }
  }

  @include small {
    .platforms__item {
      margin-right: 0;
    }
  }

  @include medium {
    .platforms__item {
      img {
        height: 60px;
      }

      &.platforms__item--more img {
        height: 29px;
      }
    }
  }
}
