.platforms-bar {
  background: #F8F9F9;

  a {
    display: block;
  }

  .inner {
    padding-top: 38px;
    padding-bottom: 38px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .platforms-bar__item {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition-default;
    flex: 0 0 25%;
    margin-bottom: 30px;

    // works only for 8, 6 or 2 items
    &:nth-child(n + 5),
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }

    &.android img,
    &.angularjs img,
    &.ios img,
    &.javascript img,
    &.python img,
    &.ruby img {
      height: 42px;
    }

    &.arduino img {
      height: 31px;
    }

    &.emberjs img {
      height: 21px;
    }

    &:hover {
      opacity: .8;
    }
  }

  &.platforms-bar--large .platforms-bar__item {
    &.android img,
    &.ios img {
      height: 60px;
    }
  }

  @include medium {
    .inner {
      flex-wrap: nowrap;
    }

    .platforms-bar__item {
      flex: 1;
      margin-bottom: 0;
    }

    &.platforms-bar--mobile {
      .inner {
        justify-content: center;
      }

      .platforms-bar__item {
        flex: 0 0 25%;
      }
    }
  }
}
