.platforms {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  .platforms__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .platforms__row__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: (105px / 1.6);
      height: (105px / 1.6);
      border: 2px solid transparentize(#B8C0C9, .8);
      border-radius: 50%;

      &.javascript img,
      &.python img,
      &.android img,
      &.swift img,
      &.angularjs img,
      &.ruby img {
        height: (44px / 1.5);
      }

      &.emberjs img {
        height: (21px / 1.5);
      }

      &.arduino img {
        height: (31px / 1.5);
      }
    }
  }

  @include medium {
    max-width: 670px;

    .platforms__row {
      margin-bottom: 30px;

      .platforms__row__item {
        width: 105px;
        height: 105px;

        &.javascript img,
        &.python img,
        &.android img,
        &.swift img,
        &.angularjs img,
        &.ruby img {
          height: 44px;
        }

        &.emberjs img {
          height: 21px;
        }
        
        &.arduino img {
          height: 31px;
        }
      }
    }
  }
}
