.platforms-bar {
  background: #F8F9F9;

  .inner {
    padding-top: 38px;
    padding-bottom: 38px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .platforms-bar__item {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition-default;
    flex: 0 0 25%;
    margin-bottom: 30px;

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }

    &.javascript img,
    &.python img,
    &.android img,
    &.swift img,
    &.angularjs img,
    &.ruby img {
      height: 42px;
    }

    &.emberjs img {
      height: 21px;
    }

    &.arduino img {
      height: 31px;
    }

    &:hover {
      opacity: .8;
    }
  }

  @include medium {
    .inner {
      flex-wrap: nowrap;
    }

    .platforms-bar__item {
      flex: none;
      margin-bottom: 0;
    }
  }
}
