.pricing {
  margin-top: -30px;
  padding-bottom: 80px;

  .pricing__footer {
    text-align: center;
    margin-top: 80px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;

    .button {
      margin-bottom: 80px;
    }
  }

  @include medium {
    .pricing__plans {
      display: flex;
    }

    .pricing__footer {
      font-size: 18px;
      line-height: 1.5;
    }
  }

  @include medium-only {
    .pricing__plans {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  @include large {
    margin-top: -100px;
    padding-bottom: 100px;

    .pricing__footer .button {
      margin-bottom: 80px;
    }
  }
}
