.pricing-plan {
  $border-radius: 4px;
  $tooltip-offset: 15px;

  flex: 1;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  .pricing-plan__box {
    border: 1px solid #DBDFE4;
    border-radius: $border-radius;
    padding: 20px;
    padding-bottom: 40px;

    .pricing-plan__box__title {
      border-bottom: 1px solid #DBDFE4;
      line-height: 60px;
      font-size: 16px;
      text-align: center;
      font-weight: 500;
      margin: -20px;
      margin-bottom: 0;
    }

    .pricing-plan__box__price {
      font-weight: 700;
      color: #333A42;
      font-size: 48px;
      text-align: center;
      margin-top: 30px;
      text-transform: uppercase;

      .pricing-plan__box__price {
        font-size: 24px;
      }
    }

    .pricing-plan__box__period {
      font-size: 18px;
      font-weight: 500;
      color: $color-main-silver;
      text-align: center;
    }

    .pricing-plan__box__options {
      margin-top: 25px;

      h4 {
        font-size: 14px;
        color: $color-main-silver;
        margin-bottom: 10px;
      }

      select {
        margin-bottom: 10px;
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        line-height: 42px;
        height: 44px;
        border-radius: $border-radius;
        border: 1px solid transparentize(#DBDEE3, .5);
        font-weight: 500;
        color: $color-text-base;
        padding: 0 15px;
        padding-right: 30px;
        background: #fff url("../components/Pricing/images/select-arrows.svg") no-repeat;
        background-position: top 50% right 15px;

        &:last-child {
          margin-bottom: 0;
        }

        &[disabled] {
          background-image: none;
        }
      }
    }

    .button {
      margin-top: 30px;
      padding-left: 0;
      padding-right: 0;
    }

    .pricing-plan__box__more {
      text-align: center;
      margin-top: 30px;

      .pricing-plan__box__more__link {
        font-size: 14px;
        font-weight: 700;
        color: $color-main-blue;
        text-transform: uppercase;
        cursor: pointer;

        &:after {
          display: inline-block;
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 4.5px 0 4.5px;
          border-color: $color-main-blue transparent transparent transparent;
          margin-left: 10px;
          position: relative;
          top: -2px;
        }
      }
    }

    .pricing-plan__box__features {
      padding-left: 40px;
      margin-top: 25px;
      display: none;

      li {
        line-height: 2.5;
        list-style-image: url("../components/Pricing/images/check.svg");
        padding-left: 10px;
      }
    }
  }

  .pricing-plan__overage-rates {
    text-align: center;
    margin-top: 30px - $tooltip-offset;
    padding-top: $tooltip-offset;
    line-height: 1;
    text-decoration: underline;
    font-size: 14px;
    color: $color-main-silver;
    display: block;
    transition: $transition-default;
    position: relative;
    cursor: default;
    -webkit-tap-highlight-color: transparent;

    .pricing-plan__overage-rates__tooltip {
      display: inline-block;
      content: attr(data-tooltip-text);
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%) translateY(10%);
      background: #fff;
      color: $color-text-base;
      border: 1px solid #DBDFE4;
      border-radius: $border-radius;
      padding: 10px 15px;
      font-size: 14px;
      white-space: nowrap;
      text-align: left;
      line-height: 1.5;
      opacity: 0;
      transition: $transition-default;
      box-shadow: 0 0 10px rgba(0, 0, 0, .1);
      visibility: hidden;

      strong {
        margin-bottom: 5px;
        color: $color-text-headline;
        display: block;
      }

      &:after {
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 6px 0 6px;
        border-color: #dbdfe4 transparent transparent transparent;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    @mixin hover {
      color: transparentize($color-main-silver, .2);

      .pricing-plan__overage-rates__tooltip {
        opacity: 1;
        transform: translateX(-50%);
        visibility: visible;
      }
    }

    @include large-max {
      &.pricing-plan__overage-rates--has-tooltip-visible {
        @include hover();
      }
    }

    @include large-over {
      &:hover {
        @include hover();
      }
    }
  }

  &.pricing-plan--expanded .pricing-plan__box {
    .pricing-plan__box__more .pricing-plan__box__more__link:after {
      transform: rotate(180deg);
    }

    .pricing-plan__box__features {
      display: block;
    }
  }

  &.pricing-plan--featured .pricing-plan__box {
    background: $color-main-gray;
    box-shadow: 0 0 18px rgba(0, 112, 211, .27), 0 4px 8px rgba(0, 112, 211, .33);
  }

  @include medium {
    margin-bottom: 0;

    .pricing-plan__box {
      .pricing-plan__box__options select,
      .pricing-plan__box__features li {
        font-size: 14px;
      }

      .pricing-plan__box__more {
        display: none;
      }

      .pricing-plan__box__features {
        display: block;
      }
    }

    .pricing-plan__overage-rates {
      margin-top: 40px - $tooltip-offset;
    }
  }

  @include medium-only {
    &:not(:last-child) {
      margin-right: -1px;
    }

    .pricing-plan__box {
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 0;

      .pricing-plan__box__title {
        margin-left: -10px;
        margin-right: -10px;
      }

      .pricing-plan__box__options select {
        font-size: 13px;
        padding: 0 10px;
        padding-right: 25px;
        background-position: top 50% right 10px;
      }
    }

    &:first-child .pricing-plan__box {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &:last-child .pricing-plan__box {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    &.pricing-plan--featured .pricing-plan__box {
      box-shadow: none;
    }
  }

  @include large {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}
