.pricing {
  background: #fff;
  margin-top: -30px;
  padding-bottom: 80px;

  .pricing__footer {
    text-align: center;
    margin-top: 80px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;

    a {
      color: #0086DC;
    }
  }

  @include medium {
    .pricing__plans {
      display: flex;
      margin-left: -(20px + 10);
      margin-right: -(20px + 10);
    }

    .pricing__footer {
      font-size: 18px;
      line-height: 1.5;
    }
  }
}
