.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  @include z-index(ReactModal__Overlay);
  background: transparentize($color-main-blue, .1);

  @include medium {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
