.side-icon-paragraphs {
  padding-top: 80px;
  padding-bottom: 80px;
  background: $color-main-gray;

  .side-icon-paragraphs__paragraphs .side-icon-paragraphs__paragraphs__paragraph {
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }

    .side-icon-paragraphs__paragraphs__paragraph__headline {
      img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
      }

      h3 {
        color: $color-text-headline;
        font-weight: 700;
        line-height: 1.35;
        text-align: center;
      }
    }

    p {
      color: $color-text-base;
      margin-top: 20px;
      line-height: 1.625;
    }
  }

  &.side-icon-paragraphs--top-spacing {
    padding-top: (60px + 50px);
  }

  &.side-icon-paragraphs--blue {
    background: $color-main-blue;

    .side-icon-paragraphs__paragraphs .side-icon-paragraphs__paragraphs__paragraph .side-icon-paragraphs__paragraphs__paragraph__headline h3,
    .side-icon-paragraphs__paragraphs .side-icon-paragraphs__paragraphs__paragraph p {
      color: #fff;
    }

    .side-icon-paragraphs__paragraphs .side-icon-paragraphs__paragraphs__paragraph p a {
      color: inherit;
      text-decoration: underline;
      font-weight: 500;
    }
  }

  @include medium {
    .side-icon-paragraphs__paragraphs {
      display: flex;
      flex-wrap: wrap;
      margin-left: -30px;
      margin-right: -30px;

      .side-icon-paragraphs__paragraphs__paragraph {
        flex: 0 0 50%;
        padding: 0 30px;
        margin-bottom: 60px;

        &:nth-last-child(2) {
          margin-bottom: 0;
        }

        .side-icon-paragraphs__paragraphs__paragraph__headline h3 {
         font-size: 24px;
       }
      }
    }
  }

  @include large {
    padding-bottom: 110px;

    .side-icon-paragraphs__paragraphs .side-icon-paragraphs__paragraphs__paragraph .side-icon-paragraphs__paragraphs__paragraph__headline {
      display: flex;
      align-items: center;

      img {
        margin-left: 0;
        margin-right: 30px;
        margin-bottom: 0;
      }

      h3 {
        text-align: left;
      }
    }

    .side-icon-paragraphs__paragraphs .side-icon-paragraphs__paragraphs__paragraph p {
      margin-top: 30px;
    }
  }

  @include very-large {
    .side-icon-paragraphs__paragraphs .side-icon-paragraphs__paragraphs__paragraph {
      padding-left: (90px + 30px);
      position: relative;

      .side-icon-paragraphs__paragraphs__paragraph__headline img {
        position: absolute;
        left: 30px;
        top: 0;
        margin-right: 0;
      }
    }
  }
}
