.slack-promo {
  padding: 25px;
  border: 2px solid $color-main-gray;
  border-radius: 4px;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;

  .slack-promo__image {
    a {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100px;
    }

    img {
      width: 100%;
    }
  }

  .slack-promo__content {
    margin-top: 25px;
    text-align: center;

    p {
      margin-top: 0;
    }
  }

  @include medium {
    display: flex;
    align-items: center;;

    .slack-promo__image {
      flex: 0 0 100px;
      margin-right: 25px;

      img {
        max-width: none;
      }
    }

    .slack-promo__content {
      margin-top: 0;
      text-align: left;
      flex: 1;
    }
  }
}
