.slack-slider {
  background: $color-main-purple url("../components/SlackSlider/images/slack-slider.jpg") no-repeat 50% 50%;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;

  h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.35;

    img {
      display: inline;
      height: .7em;
      margin-left: .3em;
      margin-right: .2em;
    }
  }

  .slack-slider__slider {
    padding: 0 25px;
    margin-top: 25px;
    position: relative;

    .slick-prev,
    .slick-next {
      cursor: pointer;
      transition: $transition-default;
      width: 25px;
      height: 100%;
      position: absolute;
      top: 0;

      &:hover {
        opacity: .5;
      }

      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: inherit;
        left: inherit;
      }
    }

    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0;
    }
  }

  .button {
    margin-top: 40px;
  }

  @include medium {
    h2 {
      font-size: 30px;
    }

    .slack-slider__slider {
      padding: 0 50px;

      .slick-prev,
      .slick-next {
        width: 50px;
      }
    }
  }

  @include large {
    padding-top: 110px;
    padding-bottom: 110px;

    h2 {
      font-size: 40px;
    }

    .slack-slider__slider {
      margin-top: 40px;
    }
  }

  @include very-large {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}
