.slack-promo {
  padding: 25px;
  border: 2px solid $color-main-gray;
  border-radius: 4px;

  .slack-promo__image img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 180px;
  }

  .slack-promo__content {
    margin-top: 25px;
    text-align: center;

    p {
      margin-top: 0;
    }
  }

  @include medium {
    display: flex;
    align-items: center;;

    .slack-promo__image {
      flex: 0 0 180px;
      margin-right: 25px;

      img {
        max-width: none;
      }
    }

    .slack-promo__content {
      margin-top: 0;
      text-align: left;
      flex: 1;
    }
  }
}
