.slack-message {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  text-align: left;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;

  .slack-message__avatar {
    width: 36px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  .slack-message__content {
    .slack-message__content__author {
      margin-bottom: 10px;
      font-weight: 700;
      color: $color-text-headline;
      display: block;
      text-align: center;
    }

    p {
      color: $color-main-graphite;
      line-height: 1.5;
    }
  }

  @include medium {
    display: flex;

    .slack-message__avatar {
      margin-bottom: 0;
      margin-right: 15px;
      flex: 0 0 36px;
    }

    .slack-message__content {
      flex: 1;

      .slack-message__content__author {
        text-align: left;
      }
    }
  }
}
