.team {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;

  h2 {
    font-size: 20px;
    color: $color-text-headline;
    font-weight: 700;
    line-height: 1.35;
  }

  .team__list {
    margin-top: 60px;

    ul .team__list__member {
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }

      .team__list__member__photo img,
      .team__list__member__photo picture {
        width: 120px;
        border-radius: 50%;
        margin: 0 auto;
      }

      .team__list__member__name {
        margin-top: 30px;
        font-weight: 700;
        color: $color-text-headline;
        font-size: 18px;
      }

      .team__list__member__title {
        margin-top: 10px;
        font-size: 14px;
        color: $color-main-graphite;
      }
    }
  }

  @include small {
    .team__list ul {
      display: flex;
      flex-wrap: wrap;

      .team__list__member {
        flex: 0 0 50%;

        &:nth-last-child(2) {
          margin-bottom: 0;
        }
      }
    }
  }

  @include medium {
    h2 {
      font-size: 30px;
    }

    .team__list ul .team__list__member {
      .team__list__member__photo img,
      .team__list__member__photo picture {
        width: 180px;
      }

      .team__list__member__name {
        font-size: 24px;
        margin-top: 40px;
      }

      .team__list__member__title {
        font-size: 16px;
      }
    }
  }

  @include large {
    padding-top: 110px;
    padding-bottom: 110px;

    h2 {
      font-size: 40px;
    }

    .team__list {
      margin-top: 80px;

      ul .team__list__member {
        flex: 0 0 25%;
        margin-bottom: 80px;

        &:nth-last-child(3), &:nth-last-child(4) {
          margin-bottom: 0;
        }

        .team__list__member__photo img,
        .team__list__member__photo picture {
          width: 120px;
        }

        .team__list__member__name {
          font-size: 18px;
          margin-top: 30px;
        }

        .team__list__member__title {
          font-size: 14px;
        }
      }
    }
  }

  @include very-large {
    padding-top: 120px;
    padding-bottom: 120px;

    .team__list ul .team__list__member {
      .team__list__member__photo img,
      .team__list__member__photo picture {
        width: 180px;
      }

      .team__list__member__name {
        font-size: 24px;
        margin-top: 40px;
      }

      .team__list__member__title {
        font-size: 16px;
      }
    }
  }
}
