.terminal-section {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;

  h2 {
    font-size: 20px;
    color: $color-text-headline;
    font-weight: 700;
    line-height: 1.35;
  }

  h3 {
    margin-top: 30px;
    line-height: 1.5;
    color: transparentize($color-text-base, .2);
    font-weight: 500;
    font-size: 18px;
  }

  .terminal {
    margin-top: 55px;
  }

  .button {
    margin-top: 40px;
  }

  &.terminal-section--under-page-header {
    padding-top: 0;
    padding-bottom: 0;
  }

  &.terminal-section--hosting-publish {
    margin-top: -30px;
    margin-bottom: -50px;

    .terminal {
      margin-top: 0;
    }
  }

  @include small {
    &.terminal-section--hosting-publish {
      position: relative;
      background-image: url("../components/TerminalSection/images/hosting-publish-small.svg");
      background-repeat: no-repeat;
      background-position: top 55% center;
      background-size: 574px auto;
    }
  }

  @include medium {
    h2 {
      font-size: 30px;
    }

    h3 {
      margin-top: 20px;
    }

    &.terminal-section--hosting-publish {
      margin-top: -50px;
      background-size: 740px auto;

      .terminal {
        max-width: 435px;
      }
    }
  }

  @include large {
    padding-top: 110px;
    padding-bottom: 110px;

    h2 {
      font-size: 40px;
    }

    &.terminal-section--hosting-publish {
      padding-top: 50px;
      margin-top: -180px;
      background-image: url("../components/TerminalSection/images/hosting-publish.svg");
      background-position: top;
      background-size: 1100px auto;
    }
  }

  @include very-large {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}
