.testimonials {
  background-image: url("../components/testimonials/images/testimonials-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding-bottom: 60px;

  .slick-list {
    overflow-x: hidden;
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;

    blockquote {
      max-width: 720px;
      margin-left: auto;
      margin-right: auto;

      p {
        color: #fff;
        font-size: 18px;
        line-height: 30px;
        font-style: italic;
      }
    }
  }

  .slick-dots {
    display: flex !important;
    justify-content: center;

    li {
      width: 8px;
      height: 8px;
      background: #fff;
      opacity: .4;
      border-radius: 50%;
      transition: $transition-default;
      margin: 0 5px;
      position: relative;
      overflow: hidden;

      &.slick-active {
        opacity: 1;
        transform: scale(1.25);
      }

      button {
        width: 100%;
        height: 100%;
        font-size: 0;
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        background: none;
        outline: none;
        padding: 0;
        cursor: pointer;
      }
    }
  }

  @include retina {
    background-image: url("../components/testimonials/images/testimonials-background@2x.jpg");
  }

  @include medium {
    background-image: url("../components/testimonials/images/testimonials-background-medium.jpg");
    padding-bottom: 100px;

    .slick-slide {
      padding-top: 100px;
      padding-bottom: 55px;

      blockquote p {
        font-size: 24px;
        line-height: 40px;
      }
    }

    @include retina {
      background-image: url("../components/testimonials/images/testimonials-background-medium@2x.jpg");
    }
  }
}
