.text-with-bottom-image {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;

  &.text-with-bottom-image--no-bottom-margin {
    padding-bottom: !important;
  }

  &.text-with-bottom-image--gray {
    background: $color-main-gray;
  }

  h2 {
    font-size: 20px;
    color: $color-text-headline;
    font-weight: 700;
    line-height: 1.35;
  }

  p {
    line-height: 1.5;
    margin-top: 25px;
  }

  .button {
    margin-top: 40px;
  }

  img {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  @include medium {
    h2 {
      font-size: 30px;
    }

    p {
      line-height: 1.75;
    }

    img {
      margin-top: 80px;
      max-width: 80%;
    }
  }

  @include large {
    padding-top: 110px;
    padding-bottom: 110px;

    h2 {
      font-size: 40px;
    }

    p {
      margin-top: 40px;
    }

    img {
      margin-top: 100px;
      max-width: 100%;
    }
  }

  @include very-large {
    padding-top: 140px;
    padding-bottom: 160px;
  }
}
