.text-columns {
  background: $color-main-gray;
  padding-top: 80px;
  padding-bottom: 80px;

  .text-columns__column {
    text-align: center;
    margin-bottom: 70px;

    &:last-child {
      margin-bottom: 0;
    }

    .text-columns__column__headline {
      display: inline-flex;

      h4, img {
        display: inline-block;
        vertical-align: middle;
      }

      img {
        height: 24px;
        margin-right: 10px;
      }

      h4 {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: $color-text-headline;
      }
    }

    p {
      margin-top: 20px;
      line-height: 1.75;
    }
  }

  @include medium {
    .inner {
      display: flex;
    }

    .text-columns__column {
      margin-bottom: 0;
      flex-grow: 1;
      flex-basis: 0;
      text-align: left;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }

      .text-columns__column__headline {
        height: 48px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  @include large {
    padding-top: 110px;
    padding-bottom: 110px;

    .text-columns__column {
      margin-right: 40px;

      .text-columns__column__headline {
        height: auto;
      }

      p {
        font-size: 16px;
      }
    }
  }

  @include very-large {
    padding-top: 140px;
    padding-bottom: 140px;

    .text-columns__column {
      .text-columns__column__headline h4 {
        font-size: 22px;
      }

      p {
        margin-top: 30px;
      }
    }
  }

  @include full {
    .text-columns__column .text-columns__column__headline h4 {
      font-size: 24px;
    }
  }
}
