.text-with-bottom-image {
  padding-top: 80px;
  padding-bottom: 80px;

  h2 {
    font-size: 20px;
    color: $color-text-headline;
    font-weight: 700;
    line-height: 1.35;

    br {
      display: none;
    }
  }

  p {
    line-height: 1.5;
    margin-top: 25px;
  }

  .button {
    margin-top: 40px;
  }

  .text-with-bottom-image__text__list {
      text-align: left;
      margin-top: 20px;

      li {
        line-height: 2;
        color: transparentize($color-text-base, .15);
        position: relative;
        padding-left: 37px;

        &:before {
          display: block;
          content: '';
          width: 6px;
          height: 6px;
          background: $color-main-blue;
          border-radius: 50%;
          position: absolute;
          left: 12px;
          top: 1em;
          transform: translateY(-50%);
        }
      }

      &.content-section__content__list--center {
        display: flex;
        justify-content: center;
      }
    }

  picture,
  img,
  .browser-window {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  picture img {
    max-width: 100%;
  }

  &.text-with-bottom-image--no-bottom-padding {
    padding-bottom: 0 !important;
    overflow: hidden;
  }

  &.text-with-bottom-image--minus-bottom-margin {
    margin-bottom: -25px;
    overflow: visible;
  }

  &.text-with-bottom-image--gray {
    background: $color-main-gray;
  }

  &.text-with-bottom-image--purple {
    background: $color-main-purple;

    h2 {
      color: #fff;
    }

    p {
      color: transparentize(#fff, .15);
    }
  }

  @include medium {
    text-align: center;

    h2 {
      font-size: 30px;
    }

    p {
      line-height: 1.75;
    }

    picture,
    img,
    .browser-window {
      margin-top: 80px;
    }

    &.text-with-bottom-image--minus-bottom-margin {
      margin-bottom: -50px;
    }
  }

  @include large {
    padding-top: 110px;
    padding-bottom: 110px;

    h2 {
      font-size: 40px;
    }

    p {
      margin-top: 40px;
    }

    picture,
    img,
    .browser-window {
      max-width: 100%;
    }

    &.text-with-bottom-image--minus-bottom-margin {
      margin-bottom: -75px;
    }
  }

  @include very-large {
    padding-top: 140px;
    padding-bottom: 160px;
  }
}
