.text-with-image {
  background: #fff;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;

  .text-with-image__image {
    padding-left: 40px;
    padding-right: 40px;

    img {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .text-with-image__text {
    h2 {
      margin-top: 35px;
      font-size: 20px;
      color: $color-text-headline;
      font-weight: bold;
      line-height: 1.5em;
    }

    p {
      line-height: 1.5em;
      margin-top: 32px;
    }

    .button {
      margin-top: 40px;
    }
  }

  &.text-with-image--purple {
    background: $color-main-purple;

    h2, .button {
      color: #fff;
    }

    p {
      color: rgba(255, 255, 255, .85);
    }

    .button {
      border-color: rgba(255, 255, 255, .5);
    }
  }
}
