.text-panels {
  background: linear-gradient(180deg, $color-main-gray 50%, #fff 50%);
  padding-bottom: 25px;

  .text-panels__panel {
    padding: 80px 35px;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 12px 25px rgba(0, 0, 0, .27);

    &:last-child {
      margin-bottom: 0;
    }

    h3 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 30px;
      color: #fff;
    }

    .text-panels__panel__list {
      ul {
        text-align: left;
        display: inline-block;
      }

      li {
        font-size: 16px;
        line-height: 2;
        padding-left: 25px;
        position: relative;

        &:before {
          display: block;
          content: '';
          width: 3px;
          height: 3px;
          background: rgba(255, 255, 255, .8);
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 1em;
          transform: translateY(-50%);
        }
      }

      a {
        color: rgba(255, 255, 255, .8);
        text-decoration: none;
        transition: $transition-default;

        &:hover {
          opacity: .8;
        }
      }
    }

    .button {
      margin-top: 40px;
      border-color: rgba(255, 255, 255, .5);
      color: #fff;
    }

    &.text-panels__panel--azure { background: $color-main-azure; }
    &.text-panels__panel--purple { background: $color-main-purple; }
    &.text-panels__panel--silver { background: $color-main-silver; }
  }

  @include medium {
    .inner {
      display: flex;
      justify-content: space-between;
    }

    .text-panels__panel {
      margin-bottom: 0;
      max-width: none;
      margin-right: 5px;
      padding-left: 15px;
      padding-right: 15px;
      flex: 1;

      &:last-child {
        margin-right: 0;
      }

      h3 {
        font-size: 18px;
      }

      .text-panels__panel__list li {
        font-size: 12px;
      }
    }
  }

  @include large {
    .text-panels__panel {
      margin-right: 20px;

      h3 {
        font-size: 24px;
      }

      .text-panels__panel__list li {
        font-size: 16px;
      }
    }
  }
}
