.text-with-image {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;

  .text-with-image__image {
    img {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .text-with-image__image__inner {
      padding: 0 40px;
    }
  }

  .text-with-image__text {
    margin-top: 30px;

    h2 {
      font-size: 20px;
      color: $color-text-headline;
      font-weight: 700;
      line-height: 1.35;
    }

    p {
      line-height: 1.75;
      color: transparentize($color-text-base, .1);
      margin-top: 25px;
    }

    .text-with-image__text__list {
      margin-top: 20px;

      ul {
        text-align: left;
        display: inline-block;

        li {
          line-height: 2;
          position: relative;
          padding-left: 25px;

          &:before {
            display: block;
            content: '';
            width: 3px;
            height: 3px;
            background: $color-main-blue;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 1em;
            transform: translateY(-50%);
          }

          a {
            text-decoration: none;
          }
        }
      }
    }

    .button {
      margin-top: 40px;
    }
  }

  &.text-with-image--gray {
    background: $color-main-gray;
  }

  &.text-with-image--purple {
    background: $color-main-purple;

    h2 {
      color: #fff;
    }

    p {
      color: transparentize(rgba(255, 255, 255, .85), .1);
      margin-top: 40px;
    }

    .button {
      @extend .button--white;
    }
  }

  @include medium {
    text-align: left;

    .inner {
      display: flex;
      align-items: center;
    }

    .text-with-image__image,
    .text-with-image__text {
      flex-grow: 1;
      flex-basis: 0;

      &:first-child {
        flex-grow: 1.01;
      }
    }

    .text-with-image__image {
      img {
        max-width: 100%;
      }

      .text-with-image__image__inner {
        padding: 0 30px;
      }
    }

    .text-with-image__text {
      margin-top: 0;

      h2 {
        font-size: 30px;
      }

      .text-with-image__text__list {
        margin-top: 30px;
      }
    }

    &.text-with-image--image-right .text-with-image__image {
      order: 1;
    }
  }

  @include large {
    padding-top: 110px;
    padding-bottom: 110px;

    .text-with-image__image .text-with-image__image__inner {
      padding: 0 45px;
    }

    .text-with-image__text {
      h2 {
        font-size: 40px;
      }

      p {
        margin-top: 40px;
      }
    }
  }

  @include very-large {
    padding-top: 140px;
    padding-bottom: 140px;

    .text-with-image__image .text-with-image__image__inner {
      padding: 0 90px;
    }
  }
}
