.text-with-bottom-image {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;

  &.text-with-bottom-image--no-bottom-padding {
    padding-bottom: 0 !important;
    overflow: hidden;
  }

  &.text-with-bottom-image--minus-bottom-margin {
    margin-bottom: -25px;
    overflow: visible;
  }

  &.text-with-bottom-image--gray {
    background: $color-main-gray;
  }

  &.text-with-bottom-image--purple {
    background: $color-main-purple;

    h2 {
      color: #fff;
    }

    p {
      color: transparentize(#fff, .15);
    }
  }

  h2 {
    font-size: 20px;
    color: $color-text-headline;
    font-weight: 700;
    line-height: 1.35;
  }

  p {
    line-height: 1.5;
    margin-top: 25px;
  }

  .button {
    margin-top: 40px;
  }

  picture,
  img {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  @include medium {
    &.text-with-bottom-image--minus-bottom-margin {
      margin-bottom: -50px;
    }

    h2 {
      font-size: 30px;
    }

    p {
      line-height: 1.75;
    }

    picture,
    img {
      margin-top: 80px;
    }
  }

  @include large {
    padding-top: 110px;
    padding-bottom: 110px;

    &.text-with-bottom-image--minus-bottom-margin {
      margin-bottom: -75px;
    }

    h2 {
      font-size: 40px;
    }

    p {
      margin-top: 40px;
    }

    picture,
    img {
      max-width: 100%;
    }
  }

  @include very-large {
    padding-top: 140px;
    padding-bottom: 160px;
  }
}
