.headroom-wrapper {
  height: 0 !important;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  @include z-index(top-bar);
  transition: $transition-default;
  background: #fff;
  transform: translateZ(0);

  // Chrome for iOS (iPhone) .top-bar chink fix
  &:before {
    display: block;
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 500px;
    background: #fff;
  }

  > .inner {
    overflow: hidden;
    padding-top: 22px;
    padding-bottom: 22px;
    position: relative;
    @include z-index(top-bar__inner);
    transition: $transition-default;
  }

  .top-bar__logo {
    float: left;

    a,
    span {
      display: block;
      padding: 10px;
      margin: -10px;

      .white {
        display: none;
      }
    }

    a {
      transition: $transition-default;

      &:hover {
        opacity: .8;
      }
    }
  }

  .top-bar__nav {
    float: right;

    .top-bar__nav__hamburger {
      cursor: pointer;
      padding: 10px;
      margin: -10px;
      transition: $transition-default;

      .close {
        display: none;
      }

      &:hover {
        opacity: .8;
      }
    }

    .top-bar__nav__menu {
      display: none;
      text-align: right;

      li {
        display: inline-block;
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
        }

        &.top-bar__nav__menu__item--docs {
          display: none;
        }

        .button {
          min-width: 0;
          height: 34px;
          line-height: 30px;
          cursor: pointer;
          text-decoration: none;
          padding-top: 0;
          padding-bottom: 0;

          &.button--noborder {
            padding: 0;
            color: transparentize(#5F6C7A, .5);

            &:hover {
              color: $color-main-blue--hover;
            }
          }

          &.is-active {
            color: $color-main-blue;
          }
        }
      }
    }
  }

  &.headroom--pinned,
  &.headroom--unpinned {
    box-shadow: 0 3px 4px rgba(0, 0, 0, .1);

    .top-bar__nav__menu__cta {
      @extend .button--featured;
    }
  }

  @include body-class('has-hamburger-menu-visible') {
    background: none;
    box-shadow: none;

    &:before {
      background: transparentize($color-main-blue, .03);
    }

    .top-bar__logo img {
      display: none;

      &.white {
        display: block;
      }
    }

    .top-bar__nav .top-bar__nav__hamburger img {
      display: none;

      &.close {
        display: block;
      }
    }
  }

  @include body-class('has-modal-open') {
    &:before {
      background: #fff;
    }
  }

  @include medium {
    box-shadow: none;
    overflow: hidden;

    &:before {
      display: none;
    }

    > .inner {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .top-bar__logo img {
      height: 18px;
      margin-top: 8px;
      display: block !important;

      &.white {
        display: none !important;
      }
    }

    .top-bar__nav {
      .top-bar__nav__hamburger {
        display: none;
      }

      .top-bar__nav__menu {
        display: block;
      }
    }

    &.headroom--pinned,
    &.headroom--unpinned {
      transform: translateY(-46px);

      > .inner {
        transform: translateY(23px);
      }
    }
  }

  @include large {
    .top-bar__nav .top-bar__nav__menu li {
      margin-right: 35px;

      &.top-bar__nav__menu__item--docs {
        display: inline-block;
      }
    }
  }
}

.headroom {
  @extend .top-bar;
}
