.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, .1);
  
  .inner {
    overflow: hidden;
    padding-top: 22px;
    padding-bottom: 22px;
    position: relative;
    @include z-index(top-bar);
  }

  .top-bar__logo {
    float: left;

    .white {
      display: none;
    }
  }

  .top-bar__nav {
    float: right;

    .top-bar__nav__hamburger .close {
      display: none;
    }

    .top-bar__nav__menu {
      display: none;
      text-align: right;

      li {
        display: inline-block;
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
        }

        .button {
          min-width: 0;
          height: 34px;
          line-height: 30px;
          padding: 0;
          color: transparentize(#5F6C7A, .5);

          &.is-active {
            color: $color-main-blue;
          }

          &.button--filled {
            padding: 0 18px;
            color: #fff;
          }
        }
      }
    }
  }

  @include template-class('template--has-hamburger-menu-visible') {
    background: none;
    box-shadow: none;

    .top-bar__logo img {
      display: none;

      &.white {
        display: block;
      }
    }

    .top-bar__nav .top-bar__nav__hamburger img {
      display: none;

      &.close {
        display: block;
      }
    }
  }

  @include medium {
    background: none;
    box-shadow: none;
    position: absolute;

    .inner {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .top-bar__logo img {
      height: 18px;
      margin-top: 10px;
    }

    .top-bar__nav {
      .top-bar__nav__hamburger {
        display: none;
      }

      .top-bar__nav__menu {
        display: block;
      }
    }
  }

  @include large {
    .top-bar__nav .top-bar__nav__menu li {
      margin-right: 35px;
    }
  }

  @include full {
    top: 30px;
  }
}
