.twitter-slider {
  background: $color-main-blue;
  color: #fff;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;

  h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.35;
  }

  iframe {
    margin: 0 auto !important;
  }

  .twitter-slider__slider {
    margin-top: 25px;
    position: relative;
    
    .slider-wrapper {
      margin-left: -10px;
      margin-right: -10px;
    }

    .slick-slide {
      padding: 0 10px;
    }

    .slick-dots {
      margin-top: 25px;
    }

    .slick-prev,
    .slick-next {
      cursor: pointer;
      transition: $transition-default;
      width: 50px;
      height: 100%;
      position: absolute;
      top: 0;

      &:hover {
        opacity: .8;
      }

      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: inherit;
        left: inherit;
      }
    }

    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0;
    }
  }

  .button {
    border-color: transparentize(#fff, .5);
    color: #fff;
    margin-top: 40px;

    &:hover {
      color: transparentize(#fff, .5);
    }

    &:active {
      border-color: #fff;
      color: #fff;
    }
  }

  @include medium {
    h2 {
      font-size: 30px;
    }
  }

  @include large {
    padding-top: 110px;
    padding-bottom: 110px;

    h2 {
      font-size: 40px;
    }

    .twitter-slider__slider {
      margin-top: 40px;
      
      .slick-dots {
        margin-bottom: 40px;
      }
    }
  }

  @include large-over {
    .twitter-slider__slider {
      padding: 0 60px;
    }
  }

  @include very-large {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}
