.twitter-widget {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.4;
  font-family: Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
  text-align: left;
  border: 1px solid #e1e8ed;
  color: #1c2022;

  a,
  a:hover {
    transition: none;
    text-decoration: none;
  }

  .u-hiddenVisually {
    display: none;
  }

  .twitter-widget__header {
    display: flex;
    color: #1c2022;
    margin-bottom: 14px;

    .twitter-widget__header__avatar {
      flex: 0 0 36px;
      margin-right: 9px;

      img {
        border-radius: 4px;
      }
    }

    .twitter-widget__header__user {
      margin-top: 2px;
      line-height: 1.2;

      strong {
        font-weight: 700;
      }

      .twitter-widget__header__user__username {
        font-size: 14px;
        color: #697882;
      }
    }
  }

  a.twitter-widget__header {
    color: #3b94d9;
  }

  .twitter-widget__content {
    a {
      color: #2b7bb9;

      &:hover {
        color: #3b94d9;
      }
    }
  }

  @include large {
    padding: 17.5px;

    .twitter-widget__header {
      margin-bottom: 11.9px;

      .twitter-widget__header__user {
        strong {
          font-size: 14px;
        }

        .twitter-widget__header__user__username {
          font-size: 12.5px;
        }
      }
    }

    .twitter-widget__content {
      font-size: 14px;
    }
  }
}
