---
layout: default
title: Support
mixpanel_title: Support
permalink: /support/
body_class: ['support']
seo_description: "Our scalable backend helps developers build complex, real-time apps with only front-end code."
keywords: "real-time apps, real-time app, front-end code"
---

{% include support/hero.html %}
<div class="main container">
	<div class="row">
		<div class="sidebar col-md-3 col-md-offset-1">
			{% include support/sidebar.html %}
		</div><!-- END sidebar -->
		<div class="col-md-8">
			{% include support/faq.html %}
		</div><!-- END col-md-9 -->
	</div><!-- END row -->
</div><!-- END container -->