---
layout: default
title: Blog
body_class: ['blog ', 'archive']
bg_color: "#2278CF"
transparent_header: true
category_nav: true
nav_class: 'dark'
seo_description: "The Syncano blog covers all news and tips related to real-time syncing and scaling data on the cloud."
---
    
{% assign counter=0 %}
  {% for post in site.posts %}
  {% assign counter=counter | plus:1 %}
    {% if counter < 2 %}
    <a href="{{post.url}}">
      <div class="container">
        <div class="hero" style="background-image: url('{{post.image}}'); min-height: {{post.image_height}};">
          <div class="post info">
            <span class="categories">
            {% for pc in post.categories %}
              {{ pc }}<span class="sep">, </span>
            {% endfor %}
            </span><!-- END categories -->
            <h1>{{post.title}}</h1>
            {% assign author = site.data.authors[post.author] %}
            {% if author %}
            <div><img src="{{author.image}}" alt="{{author.name}}" height="50" width="50"/></div>
            <span class="author"><em>By</em> <strong>{{ author.name }}</strong></span>
            {% endif %}
          </div>
        </div>
      </div>
    </a>
    {% endif %}
  {% endfor %}

<div class="container blog">
  <div class="posts">
    {% for post in site.posts %}
      {% assign counter=counter | plus:1 %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if counter > 1 %}
      <div class="row">
        <div class="col-md-6 post-content col-md-offset-3">
          {% if post.share_image %}
          <a href="{{post.url}}"><img src="{{post.share_image}}" /></a>
          {% else %}
          <a href="{{post.url}}" class="syncano-blue"></a>
          {% endif %}
          <h2 class="title"><a href="{{post.url}}">{{ post.title }}</a></h2>
          <p class="summary">{{post.summary}}</p>
          {% assign author = site.data.authors[post.author] %}
          {% if author %}
            <span class="author">By {{ author.name }}</span>
          {% endif %}
        </div><!-- END col-md-6 -->
      </div>
      {% endif %}
    {% endfor %}
  </div><!-- END posts -->
</div><!-- END container -->

{% include sharing.html %}