@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  color: #222;
  font-size: 1em;
  line-height: 1.3;
  font-family: 'Roboto', Serif, Sans-serif;
}

img {
  vertical-align: middle;
}

textarea {
  resize: vertical;
}

p {
  font-size: 16px;
  font-weight: normal;
}

.wrapper {
  width: 80%;
  position:relative;
  margin: 5% auto;
}

.main {
  position:relative;
  margin:0 auto;
  width:50%;
}

.main p {
  font-size:2em;
}

#form input {
  margin-left: 5%;
  height: 3em;
  width: 60%;
  font-size: 1.4em;
}

#form .send {
  display: inline-block;
  border-radius: 4px;
  font-size: 1.4em;
  border: 2px solid rgba(0,112,211,.5);
  height: 3em;
  background: #ffdc4d;
  border-color: #ffdc4d;
  width: 20%;
}

.header-logo img {
  display:block;
  margin:0 auto;
  width:90%;
}

.hiddenFrame {
  width: 0;
  height: 0;
  border: 0;
  display: none;
}




/* ==========================================================================
 Media Queries
 ========================================================================== */

@media only screen and (max-width: 1024px) {

  .wrapper {
    margin: 10% auto;
  }

  .main {
    margin: 0 auto;
    text-align: left;
    width: 100%;
    font-size:0.7em;
  }

  .header-logo img {
    display:block;
    margin:5% auto;
    width:90%;
  }
}
