<script>
var forms = document.getElementsByTagName('form');
var firstNameContainer = document.getElementById("name");
var emailContainer = document.getElementById("email");
for (var i = 0; i < forms.length; i++) {
    forms[i].noValidate = true;

    forms[i].addEventListener('submit', function(event) {
        //Prevent submission if checkValidity on the form returns false.
        var firstNameVal = document.forms['contact']['name'].value;
        var emailVal = document.forms['contact']['_replyto'].value;
        if (!event.target.checkValidity()) {
            event.preventDefault();
            if (firstNameVal == null || firstNameVal == '') {
              firstNameContainer.setAttribute( 'class', 'form-group has-error' );
            }
            if (emailVal == null || emailVal == '') {
              emailContainer.setAttribute( 'class', 'form-group has-error' );
            }
        }
    }, false);
}
</script>