---
layout: default
title: Features
mixpanel_title: Features
permalink: /features/
body_class: ['features']
bg_color: "#2278CF"
transparent_header: true
nav_class: 'dark'
images: ['/public/sync.png', '/public/datamod1.png', '/public/datastore.png', '/public/admingui.png', '/public/usera.png']
seo_description: "Some features of Syncano: real-time sync API, data storage, data modeling, access management, an admin GUI and more to all users."
keywords: "real-time sync, real-time sync apps, real-time sync app, real-time apps, real-time app, backend as a service"
---

<div class="hero">
  <div class="container">
    <div class="info">
      <h1>Empowering Developers</h1>
      <h3>If you can dream it, you can build it!</h3>
      <a href="https://dashboard.syncano.io/#/signup" class="btn btn-white" id="homepage-hero">START BUILDING NOW</a>
    </div>
  </div>
</div>

{% include platforms.html %}

<div class="odd first">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Real-Time Sync</h2>
				<h3>Communication API</h3>
				<p>Syncano’s synchronization tools ensure your data flows seamlessly across devices and servers in real-time. You can use the following three transport methods:</p>
				<ul>
					<li>XML-RPC</li>
					<li>JSON-RPC</li>
					<li>RESTful API</li>
				</ul>
				<h3>Sync Server</h3>
				<p>Our Sync Server provides real time notification/subscription processing across all of your apps. Connect via:</p>
				<ul>
					<li>WebSocket</li>
					<li>TCP</li>
				</ul>
			</div>
			<div class="col-md-6">
				<img src="/public/sync.png" alt="Real-Time sync"/>
			</div>
		</div><!-- END row -->
	</div><!-- END container -->
</div><!-- END odd -->

<div class="even">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="/public/datamod1.png" alt="complex modeling" />
			</div>
			<div class="col-md-6">
				<h2>Complex Modeling</h2>
				<h3>Hierarchies</h3>
				<p>Organize your data using our Projects, Collections, and Folders hierarchies and create any data structure with many-to-many relations.</p>
			</div>
		</div><!-- END row -->
	</div><!-- END container -->
</div><!-- END odd -->

<div class="odd">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Data Storage</h2>
				<p>Sync and store your data as Data Objects in Syncano. Our platform scales with your needs, so you don’t have to worry about sudden bursts in usage.</p>
				<h3>More Than Storage</h3>
				<p>When storing images, Syncano gives you additional tools such as automatic thumbnail generation.</p>
			</div>
			<div class="col-md-6">
				<img src="/public/datastore.png" alt="data storage"/>
			</div>
		</div><!-- END row -->
	</div><!-- END container -->
</div><!-- END odd -->

<div class="even">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="/public/admingui.png" alt="admin gui"/>
			</div>
			<div class="col-md-6">
				<h2>Admin GUI</h2>
				<h3>A Simpler Way to Manage Your Apps</h3>
				<p>Syncano’s GUI enables you and your team to manage your apps quickly and efficiently:</p>
				<ul>
					<li>Visually organize and manage your Data Objects, users, and administrators without a single line of code</li>
					<li>Preview and moderate your content</li>
				</ul>
			</div>
		</div><!-- END row -->
	</div><!-- END container -->
</div><!-- END odd -->

<div class="odd">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Access Management</h2>
				<p>Manage who can access your data and differentiate user experiences.</p>
				<h3>Roles</h3>
				<p>Give team members different levels of access to your API and Admin GUI.</p>
				<h3>Multiple Instances</h3>
				<p>Set up several different instances under one account with independent access URLs.</p>
				<h3>User Authorization</h3>
				<p>Restrict user access to specific Projects, Collections, Folders and Data Objects.</p>
			</div>
			<div class="col-md-6">
				<img src="/public/usera.png" alt="access management"/>
			</div>
		</div><!-- END row -->
	</div><!-- END container -->
</div><!-- END odd -->

<div class="container text-center">
{% include cta.html %}
</div>