---
layout: default
title: Turning developers into superstars.
mixpanel_title: Home
permalink: /
custom_js: true
body_class: ['home']
seo_description: "Syncano is a backend platform to build powerful real-time apps more efficiently.  Integrate with any API, minimize boilerplate code and control your data."
keywords: "real-time apps, real-time app, front-end code"
---
<div class="bg-wrap">
	{% include home/hero.html %}
	{% include home/slider.html %}
</div><!-- END bg-wrap -->
{% include platforms.html %}
{% include home/highlights.html %}
{% include testimonials.html %}

{% include home/build.html %}
{% include home/data.html %}
{% include home/bugs.html %}
{% include home/backend.html %}
{% include home/middleware.html %}
{% include home/showcase.html %}
{% include home/solutions.html %}
{% include home/support.html %}

{% include cta.html %}