---
layout: default
title: Real-time apps, simplified.
mixpanel_title: Home
permalink: /
custom_js: true
body_class: ['home']
seo_description: "Our scalable backend helps developers build complex, real-time apps with only front-end code."
keywords: "real-time apps, real-time app, front-end code"
---

{% include home/hero.html %}
{% include home/slider.html %}
{% include platforms.html %}
{% include home/highlights.html %}
{% include testimonials.html %}

{% include home/build.html %}
{% include home/data.html %}
{% include home/bugs.html %}
{% include home/backend.html %}
{% include home/middleware.html %}
{% include home/showcase.html %}
{% include home/solutions.html %}
{% include home/support.html %}

{% include cta.html %}