---
layout: default
title: Solutions
mixpanel_title: Solutions
permalink: /solutions/
body_class: ['solutions']
---

{% include solutions/hero.html %}

<div class="container solution">
	{% for s in site.data.solutions.objects %}
		{% assign loopindex = forloop.index | modulo: 3 %}
		{% if forloop.first %}
			<div class="row">
		{% endif %}

		{% include solutions/item.html %}
		
		{% if loopindex == 0 %}
			</div><!-- END row -->
			<div class="row">
		{% endif %}

		{% if forloop.last %}
			</div><!-- END row -->
		{% endif %}
	{% endfor %}
</div><!-- END container -->