<div class="hidden-lg text-center">
	<img src="/public/warsaw.png" alt="image 1">
	<h3>Warsaw - view from the office</h3>
</div>
<div class="carousel visible-lg">
	<a class="buttons prev" href="#">&lt;</a>
	<div class="viewport">
		<ul class="overview">
			<li class="col-md-3">
				<img src="/public/carousel/1.jpg" alt="image 1">
				<h3>Warsaw - view from the office</h3>
			</li>
	        <li class="col-md-3">
	        	<img src="/public/carousel/2.jpg" alt="image 2">
	        	<h3>Syncano Explorer Badge</h3>
	        </li>
	        <li class="col-md-3">
	        	<img src="/public/carousel/3.jpg" alt="image 3">
	        	<h3>New York City</h3>
	        </li>
	        <li class="col-md-3">
	        	<img src="/public/carousel/4.jpg" alt="image 4">
	        	<h3>The Team Exploring Svalbard</h3>
	        </li>
	        <li class="col-md-3">
				<img src="/public/carousel/5.jpg" alt="image 5">
				<h3>Warsaw - view from the office</h3>
			</li>
	        <li class="col-md-3">
	        	<img src="/public/carousel/6.jpg" alt="image 6">
	        	<h3>Syncano Explorer Badge</h3>
	        </li>
	        <li class="col-md-3">
	        	<img src="/public/carousel/7.jpg" alt="image 7">
	        	<h3>New York City</h3>
	        </li>
	        <li class="col-md-3">
	        	<img src="/public/carousel/8.jpg" alt="image 8">
	        	<h3>The Team Exploring Svalbard</h3>
	        </li>
	       	<li class="col-md-3">
	        	<img src="/public/carousel/9.jpg" alt="image 9">
	        	<h3>Syncano Explorer Badge</h3>
	        </li>
	        <li class="col-md-3">
	        	<img src="/public/carousel/10.jpg" alt="image 10">
	        	<h3>New York City</h3>
	        </li>
	        <li class="col-md-3">
	        	<img src="/public/carousel/11.jpg" alt="image 11">
	        	<h3>The Team Exploring Svalbard</h3>
	        </li>
	        <li class="col-md-3">
				<img src="/public/carousel/12.jpg" alt="image 12">
				<h3>Warsaw - view from the office</h3>
			</li>
	        <li class="col-md-3">
	        	<img src="/public/carousel/13.jpg" alt="image 13">
	        	<h3>Syncano Explorer Badge</h3>
	        </li>
	        <li class="col-md-3">
	        	<img src="/public/carousel/14.jpg" alt="image 14">
	        	<h3>New York City</h3>
	        </li>
	        <li class="col-md-3">
	        	<img src="/public/carousel/15.jpg" alt="image 15">
	        	<h3>The Team Exploring Svalbard</h3>
	        </li>
		</ul>
	</div>
	<a class="buttons next" href="#">&gt;</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://baijs.com/tinycarousel/js/jquery.tinycarousel.js"></script>

<script>
jQuery(document).ready(function($) {
	$('.carousel').tinycarousel();
});
</script>