<div class="owl-carousel about-us-carousel">
    <div class="about-us-carousel__item">
        <img src="/public/carousel/1.jpg" alt="image 1">
        <div class="about-us-carousel__item__text">Warsaw - view from the office</div>
    </div>
    <div class="about-us-carousel__item">
        <img src="/public/carousel/2.jpg" alt="image 2">
        <div class="about-us-carousel__item__text">Syncano Explorer Badge</div>
    </div>
    <div class="about-us-carousel__item">
        <img src="/public/carousel/3.jpg" alt="image 3">
        <div class="about-us-carousel__item__text">New York City</div>
    </div>
    <div class="about-us-carousel__item">
        <img src="/public/carousel/4.jpg" alt="image 4">
        <div class="about-us-carousel__item__text">The Team Exploring Svalbard</div>
    </div>
    <div class="about-us-carousel__item">
        <img src="/public/carousel/5.jpg" alt="image 5">
        <div class="about-us-carousel__item__text">Warsaw - view from the office</div>
    </div>
    <div class="about-us-carousel__item">
        <img src="/public/carousel/6.jpg" alt="image 6">
        <div class="about-us-carousel__item__text">Syncano Explorer Badge</div>
    </div>
    <div class="about-us-carousel__item">
        <img src="/public/carousel/7.jpg" alt="image 7">
        <div class="about-us-carousel__item__text">New York City</div>
    </div>
    <div class="about-us-carousel__item">
        <img src="/public/carousel/8.jpg" alt="image 8">
        <div class="about-us-carousel__item__text">The Team Exploring Svalbard</div>
    </div>
    <div class="about-us-carousel__item">
        <img src="/public/carousel/9.jpg" alt="image 9">
        <div class="about-us-carousel__item__text">Syncano Explorer Badge</div>
    </div>
    <div class="about-us-carousel__item">
        <img src="/public/carousel/10.jpg" alt="image 10">
        <div class="about-us-carousel__item__text">New York City</div>
    </div>
    <div class="about-us-carousel__item">
        <img src="/public/carousel/11.jpg" alt="image 11">
        <div class="about-us-carousel__item__text">The Team Exploring Svalbard</div>
    </div>
    <div class="about-us-carousel__item">
        <img src="/public/carousel/12.jpg" alt="image 12">
        <div class="about-us-carousel__item__text">Warsaw - view from the office</div>
    </div>
    <div class="about-us-carousel__item">
        <img src="/public/carousel/13.jpg" alt="image 13">
        <div class="about-us-carousel__item__text">Syncano Explorer Badge</div>
    </div>
    <div class="about-us-carousel__item">
        <img src="/public/carousel/14.jpg" alt="image 14">
        <div class="about-us-carousel__item__text">New York City</div>
    </div>
    <div class="about-us-carousel__item">
        <img src="/public/carousel/15.jpg" alt="image 15">
        <div class="about-us-carousel__item__text">The Team Exploring Svalbard</div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script>
jQuery(document).ready(function($) {
	$('.owl-carousel').owlCarousel({
        loop: true,
        autoplay:true,
        autoplayTimeout:2000,
        autoplayHoverPause:true,
        center: true,
        responsive: {
            0: {
                items: 1,
                autoHeight: true
            },
            480: {
                autoHeight: false,
                items: 4,
                autoWidth: true
            }
        }
    });
});
</script>
