<div class="hero">
  <div class="container">
    <div class="info">
      <h1>We're on a mission to <br/>make every developer a superstar</h1>
      <p>We believe in the world-changing power of apps and in the developers who build them. And the ever-increasing complexity of these apps demanded a new platform made by developers, for developers - Syncano.</p>
      <p>Syncano eliminates the need for backend development - but unlike other BaaS systems, we're just getting you started. Synchronize all the data in real-time, wherever it's from, whenever it's relevant, and whatever it looks like. Deploy totally scalable code to any device.</p>
      <p><strong>Now...how will you change the world with Syncano</strong></p>
    </div><!-- END info -->
  </div><!-- END container -->
</div><!-- END hero -->