<div class="team">
	<div class="container">	
		<h2 class="text-center">Meet the Team</h2>	
		<div class="row text-center">
			<div class="col-md-3 col-sm-3">
				<img src="/public/nik.png" alt="nikolai"/>
				<h2>Nikolai Fasting</h2>
				<h3>CEO</h3>
			</div>
			<div class="col-md-3 col-sm-3">
				<img src="/public/hubert.png" alt="hubert"/>
				<h2>Hubert Wesolowski</h2>
				<h3>Junior Frontend</h3>
			</div>
			<div class="col-md-3 col-sm-3">
				<img src="/public/kelly.png" alt="kelly"/>
				<h2>Kelly Andrews</h2>
				<h3>Principal Developer Evangelist</h3>
			</div>
			<div class="col-md-3 col-sm-3">
				<img src="/public/Jhishan.png" alt="jhishan"/>
				<h2>Jhishan Khan</h2>
				<h3>Jr Developer Evangelist</h3>
			</div>
		</div><!-- END row -->
		<div class="row text-center">
			<div class="col-md-3 col-sm-3">
				<img src="/public/michal.png" alt="michal"/>
				<h2>Michal Kobus</h2>
				<h3>DevOps</h3>
			</div>
			<div class="col-md-3 col-sm-3">
				<img src="/public/robert.png" alt="robert"/>
				<h2>Robert Kopaczewski</h2>
				<h3>Chief Platform Architect</h3>
			</div>
			<div class="col-md-3 col-sm-3">
				<img src="/public/teodor.png" alt="teodor"/>
				<h2>Teodor Bjerrang</h2>
				<h3>Senior Product Designer</h3>
			</div>
			<div class="col-md-3 col-sm-3">
				<img src="/public/pedro.png" alt="pedro"/>
				<h2>Pedro Fasting</h2>
				<h3>Chairman of the Board</h3>
			</div>
		</div><!-- END row -->
		<div class="row text-center">
			<div class="col-md-3 col-sm-3">
				<img src="/public/sara.png" alt="sara"/>
				<h2>Sara Cowie</h2>
				<h3>Customer Growth</h3>
			</div>
			<div class="col-md-3 col-sm-3">
				<img src="/public/daniel.png" alt="daniel"/>
				<h2>Daniel Kopka</h2>
				<h3>Software Engineer</h3>
			</div>
			<div class="col-md-3 col-sm-3">
				<img src="/public/bartek.png" alt="bartek"/>
				<h2>Bartek Jakubowski</h2>
				<h3>DevOps</h3>
			</div>
			<div class="col-md-3 col-sm-3">
				<img src="/public/justyna.png" alt="justyna"/>
				<h2>Justyna Ilczuk</h2>
				<h3>Princess Champion of DevOps</h3>
			</div>
		</div><!-- END row -->
		<div class="row text-center">
			<div class="col-md-3 col-sm-3">
				<img src="/public/mary.png" alt="mary"/>
				<h2>Mary Fabro</h2>
				<h3>Head of Customer Growth</h3>
			</div>
			<div class="col-md-3 col-sm-3">
				<img src="/public/adam.png" alt="adam"/>
				<h2>Adam Wardecki</h2>
				<h3>Software Engineer</h3>
			</div>
			<div class="col-md-3 col-sm-3">
				<img src="/public/harald.png" alt="harald"/>
				<h2>Harald Lervik</h2>
				<h3>Board Member</h3>
			</div>
			<div class="col-md-3 col-sm-3">
				<img src="/public/maciej.png" alt="maciej"/>
				<h2>Maciej Kucharz</h2>
				<h3>Head of Engineering</h3>
			</div>
		</div><!-- END row -->
		<div class="row text-center">
			<div class="col-md-3 col-sm-3">
				<img src="/public/mariusz.png" alt="mariusz"/>
				<h2>Mariusz Wisniewski</h2>
				<h3>The Tech Guy</h3>
			</div>
			<div class="col-md-3 col-sm-3">
				<img src="/public/patryk.png" alt="patryk"/>
				<h2>Patryk Kopycinski</h2>
				<h3>Software Engineer</h3>
			</div>
			<div class="col-md-3 col-sm-3">
				<img src="/public/jeff.png" alt="jeff"/>
				<h2>Jeff Driskill</h2>
				<h3>CFO</h3>
			</div>
		</div><!-- END row -->
	</div><!-- END container -->
</div><!-- END team -->
