<div class="team">
	<div class="container">
		<h2 class="text-center">Meet the Team</h2>
		<div class="row">
			<div class="col-md-3">
				<img src="#" height="220" width="200" />
				<h3>Nikolai Fasting</h3>
				<h4>CEO</h4>
			</div>
			<div class="col-md-3">
				<img src="#" height="220" width="200" />
				<h3>Nikolai Fasting</h3>
				<h4>CEO</h4>
			</div>
			<div class="col-md-3">
				<img src="#" height="220" width="200" />
				<h3>Nikolai Fasting</h3>
				<h4>CEO</h4>
			</div>
			<div class="col-md-3">
				<img src="#" height="220" width="200" />
				<h3>Nikolai Fasting</h3>
				<h4>CEO</h4>
			</div>
		</div><!-- END row -->
		<div class="row">
			<div class="col-md-3">
				<img src="#" height="220" width="200" />
				<h3>Nikolai Fasting</h3>
				<h4>CEO</h4>
			</div>
			<div class="col-md-3">
				<img src="#" height="220" width="200" />
				<h3>Nikolai Fasting</h3>
				<h4>CEO</h4>
			</div>
			<div class="col-md-3">
				<img src="#" height="220" width="200" />
				<h3>Nikolai Fasting</h3>
				<h4>CEO</h4>
			</div>
			<div class="col-md-3">
				<img src="#" height="220" width="200" />
				<h3>Nikolai Fasting</h3>
				<h4>CEO</h4>
			</div>
		</div><!-- END row -->
		<div class="row">
			<div class="col-md-3">
				<img src="#" height="220" width="200" />
				<h3>Nikolai Fasting</h3>
				<h4>CEO</h4>
			</div>
			<div class="col-md-3">
				<img src="#" height="220" width="200" />
				<h3>Nikolai Fasting</h3>
				<h4>CEO</h4>
			</div>
			<div class="col-md-3">
				<img src="#" height="220" width="200" />
				<h3>Nikolai Fasting</h3>
				<h4>CEO</h4>
			</div>
			<div class="col-md-3">
				<img src="#" height="220" width="200" />
				<h3>Nikolai Fasting</h3>
				<h4>CEO</h4>
			</div>
		</div><!-- END row -->
		<div class="row">
			<div class="col-md-3">
				<img src="#" height="220" width="200" />
				<h3>Nikolai Fasting</h3>
				<h4>CEO</h4>
			</div>
			<div class="col-md-3">
				<img src="#" height="220" width="200" />
				<h3>Nikolai Fasting</h3>
				<h4>CEO</h4>
			</div>
			<div class="col-md-3">
				<img src="#" height="220" width="200" />
				<h3>Nikolai Fasting</h3>
				<h4>CEO</h4>
			</div>
			<div class="col-md-3">
				<img src="#" height="220" width="200" />
				<h3>Nikolai Fasting</h3>
				<h4>CEO</h4>
			</div>
		</div><!-- END row -->
		<div class="row">
			<div class="col-md-3">
				<img src="#" height="220" width="200" />
				<h3>Nikolai Fasting</h3>
				<h4>CEO</h4>
			</div>
			<div class="col-md-3">
				<img src="#" height="220" width="200" />
				<h3>Nikolai Fasting</h3>
				<h4>CEO</h4>
			</div>
			<div class="col-md-3">
				<img src="#" height="220" width="200" />
				<h3>Nikolai Fasting</h3>
				<h4>CEO</h4>
			</div>
			<div class="col-md-3">
				<img src="#" height="220" width="200" />
				<h3>Nikolai Fasting</h3>
				<h4>CEO</h4>
			</div>
		</div><!-- END row -->
	</div><!-- END container -->
</div><!-- END team -->