<h2>Frequently Asked Questions</h2>
<h4>What is Syncano?</h4>
<p>Syncano is the first Data-as-a-Service (DaaS) platform that helps you quickly build Internet of Things (IoT)-ready apps with real-time synchronization. Syncano not only automates back-end development like a conventional BaaS; it also enables you to find, use and control data from anywhere, at any time, in any form. To accomplish this, Syncano:</p>
<ul>
	<li>Syncs your data across IoT and other devices in real-time,</li>
	<li>Scales instantly to cover usage bursts and peaks,</li>
	<li>Supports defining hierarchical relations so your app defines the data structures, rather than being limited by them.</li>
</ul>
<h4>What capabilities does Syncano provide to simplify application development?</h4>
<ul>
	<li>Significantly cuts development time from months to weeks – or from weeks to days.</li>
	<li>Support for all apps: IoT, mobile, web, even enterprise. Build once, deploy everywhere.</li>
	<li>Real-Time Sync enables your data to flow seamlessly across IoT and other devices in real-time,</li>
	<li>NoSQL-like Data Store allows you to permanently or temporarily store your data</li>
	<li>Hierarchically- and relationally-defined data structures mean you can customize your app and how it works</li>
	<li>Strong access control. You decide who can access your data via our Permissions System and User Management.</li>
	<li>No need to have a middleware server:o CodeBox™ enables you to integrate third party services into the application you are building, all from inside Syncano. o Triggers, Webhooks and Schedules further extend the Syncano API, provide for custom logic and support server-side data processing.</li>
</ul>

<h4>What does Syncano do that other BaaS systems don't?</h4>
<p>BaaS systems only automate back-end development. Syncano provides the same level of automation as these systems.However, other BaaS systems do not support accessing your data anywhere, anytime and in any form. Syncano also provides Data-as-a-Service, meaning:</p>
<ul>
<li>Data where you need it - Syncano syncs your data across IoT and other devices in real-time</li>
<li>Data when you need it - Syncano scales instantly to cover usage bursts and peaks</li>
<li>Data in the form you need it – Syncano supports defining hierarchical relations so your app defines the data structures, rather than being limited by them.</li>
</ul>

<p><a href="http://docs.syncano.com/v4/docs/faq/">More questions? Check out our FAQ</a></p>
