<div class="hero">
  <div class="container">
    <div class="info support-hero-links">
      <h1>Need help? We're developers too.</h1>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-md-4">
              <a href="http://docs.syncano.com">
                <div class="support-hero-links__image">
                  <img src="/assets/images/docs.png" alt="docs">
                </div>
                <h5>Docs</h5>
              </a>
            </div><!-- END col-md-4 -->
              <div class="col-md-4">
              <a href="http://syncano.statuspage.io/">
                <div class="support-hero-links__image">
                  <img src="/assets/images/api.png" alt="API Status">
                </div>
                <h5>Api Status</h5>
              </a>
            </div><!-- END col-md-4 -->
            <div class="col-md-4">
              <a href="http://docs.syncano.com/v3.2.1/discuss">
                <div class="support-hero-links__image">
                  <img src="/assets/images/developers.png" alt="developers">
                </div>
                <h5>Get help from one of our developers</h5>
              </a>
            </div><!-- END col-md-4 -->
            </div><!-- END row -->
          </div>
        </div>
    </div><!-- END info -->
  </div><!-- END container -->
</div><!-- END hero -->
