/**
 * = components.hero
 */


 .s-hero {
   background: url('/assets/img/hero.svg');
   background-size: cover;
   background-position: bottom center;
   padding-top: 256px;
 }

 .c-hero {
   display: flex;
   
 }