/**
 * = components.hero
 */

@keyframes planet {
  0% {
    transform: translateX(0) translateY(0);
  }

  50% {
    transform: translateX(-5px) translateY(6px);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes syncano {
  0% {
    opacity: 1;
  }
  42% {
    opacity: 1;
  }
  53% {
    opacity: 0.62;
  }
  79% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}



.s-hero {
  background: url('/assets/img/hero.svg');
  background-size: cover;
  background-position: bottom center;
  padding-top: 256px;
}

.c-hero {
  display: flex;
  color: #fff;
  justify-content: space-between;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;

  &__image {
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    z-index: 0;
  }

  &__icon {
    backface-visibility: hidden;
    perspective: 1000;
    transform: translateZ(0);
    animation: planet 10s ease-in-out infinite;

    &.--angular {
      animation: planet 14s ease-in-out infinite;
    }
    &.--npm {
      animation: planet 9.4s ease-in-out infinite;
    }
    &.--vue {
      animation: planet 10.4s ease-in-out infinite;
    }
    &.--js {
      animation: planet 12.4s ease-in-out infinite;
    }
    &.--react {
      animation: planet 7.4s ease-in-out infinite;
    }
  }

  &__command {
    background: $grey-200;
    display: block;
    margin-top: 24px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    padding: 16px;
    border-radius: 24px;
  }
  
  &__description {
    color: $cold-purple;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 76px;
    max-width: 480px;
    a {
      color: $cold-purple;
      text-decoration: underline;
    }
  }

  &__heading {
    font-size: 40px;
    line-height: 52px;
    max-width: 480px;
    margin: 30px 0 24px;
  }

  &__install {
    font-size: 16px;
    font-weight: bold;
    max-width: 380px;
    text-align: center;
  }


  &__syncano {
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    animation: syncano 3s ease-in-out infinite;
  }

}
