/**
 * = components.select
 */

.c-select {
  position: relative;

  &::after {
    content: '';
    background: url('/assets/img/icon-select-chevron.svg');
    display: block;
    width: 10px;
    height: 16px;
    position: absolute;
    right: 24px;
    top: 50%;
    margin-top: -8px;
  }

  select {
    appearance: none;
    border-radius: 16px;
    background: transparent;
    border: 1px solid $san-marino;
    padding: 6px 38px 6px 24px;
    color: $grey-200;
    font-weight: bold;
    width: 100%;
    z-index: 1;
    position: relative;

    &:focus {
      outline: none;
    }
  }
}
