/**
 * = components.header
 */

.c-header {
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  transform: translateZ(0);
  &__wrapper {
    padding: 70px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  * {
    box-sizing: border-box;
  }

  &:before {
    display: none;
  }

  @media (min-width: 1000px) {
    &:before {
      content: 'desktop';
    }
  }

  &__navigation {
    @media only screen and (max-width: 1120px) {
      display: none;
    }
    &-button {
      background: #D34E92;
      padding: 5px 22px;
      border-radius: 18px;
      .c-header.--light &,
      .c-header.--dark & {
        color: #fff;
      }
    }

    &-kicker {
      align-items: center;
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 16px 0;

      li {
        list-style-type: none;
        display: block;

        a {
          font-size: 16px;
          color: $cold-purple;
          margin: 0 16px;
          text-decoration: none;
          .--light & {
            color: $san-marino;
          }
        }
      }
    }

    &-description {
      display: block;
      color: $cold-purple;
      font-size: 14px;
      margin-top: 8px;
    }

    &-link {
      display: flex;
      color: $brand-light;
      font-size: 16px;
      margin: 32px 24px;
      &:hover {
        color: $brand-light;
      }
      & > span {
        display: block;
      }
      img {
        display: block;
        margin-right: 16px;
      }
    }


    &-wrapper {
      top: 120px;
      position: absolute;
      width: auto;
      left: 0;
      padding: 0;
      visibility: hidden;
      box-shadow: none;
      background-color: transparent;
      transform: translateZ(0);
      will-change: transform;
      transition: transform .3s;
      .c-header__navigation.--dropdown & {
        visibility: visible;
      }
    }


    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 0;
      width: 0;
      background: #FFFFFF;
      opacity: 0;
      will-change: width, height, transform, opacity;
      transition: width .3s, height .3s, transform .3s, opacity .3s;
      backface-visibility: hidden;
      perspective: 1000;
      transform-origin: top left;
      border-radius: 8px;
      z-index: 1;
      &:before {
        content: '';
        position: absolute;
        bottom: calc(100%);
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        height: 0;
        width: 0;
        border: 8px solid transparent;
        border-bottom-color: #FFFFFF;
      }

      .c-header__navigation.--dropdown & {
        opacity: 1;
      }
    }

    &-dropdown {
      opacity: 0;
      width: 100%;
      transition: all .2s;
      visibility: hidden;
      position: absolute;
      border-radius: 8px;
      &.--active {
        opacity: 1;
        visibility: visible;
      }
    }

    &-dropdown-list {
      position: relative;
      width: 384px;
      overflow: hidden;
      z-index: 3;
      backface-visibility: hidden;
      perspective: 1000;
      will-change: width, height, transform;
      transition: width .3s, height .3s, transform .3s;
      &  ul {
        position: relative;
        z-index: 1;
        height: 100%;
        width: 100%;
        overflow: hidden;
      }
      .--dropdown-visible & {
        visibility: visible;
      }
    }

    &-content {
      border-radius: 8px;
    }

    &-subcontent {
      background: #F4F6FF;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

    }
    &-sublist {
      background: #F4F6FF;
      a {
        color: $cold-purple;
        display: block;
        margin: 0 32px 20px;
        font-size: 14px;
      }
      &:after {
        display: block;
        height: 1px;
        background: #EAEDFC;
        content: '';
        margin: 0 24px;
      }
    }
    &-sublink {
      color: $san-marino;
      margin: 18px 24px 24px;
      display: block;

    }
  }

  &__logo-text {
    fill: #fff;
    .--light & {
      fill: $grey-200;
    }
  }

  .nav-trigger {
    display: none;
  }
  @media only screen and (max-width: 1000px) {
    &__wrapper {
      padding: 40px;
    }
  }
  @media only screen and (max-width: 500px) {
    &__wrapper {
     padding: 25px 10px;
    }
    &__wrapper img {
      max-height: 32px;
    }
  }
}
