/**
 * = components.footer
 */

.c-footer {
  // background: url('/assets/img/footer-bg@sm.svg');
  // background-size: 930px 320px;
  // background-position-x: center;
  // background-repeat: repeat-x;
  // padding-top: 160px;

  &__head {grid-area: head;}
  &__platform {grid-area: platform;}
  &__products {
    grid-area: products;

    @include at(sm) {
      display: none;
    }
  }
  &__developers {grid-area: developers;}
  &__support {grid-area: support;}
  &__social {grid-area: social;}
  &__copyright {
    grid-area: copyright;
  }

  &__mobile-background {
    @include at(md\+) {
      display: none;
    }

    svg {
      width: 100%;
      display: block;
    }
  }

  &__inner {
    background-color: #1E2144;
  }

  &__grid {
    display: grid;
    grid-template-areas:
      "head head"
      "social social"
      "platform developers"
      "support support"
      "copyright copyright";

    @include at(md\+) {
    }
  }

  &__title {
    text-align: center;
    color: $white;
  }

  &__subtitle {
    color: $cold-purple;
    text-align: center;
  }

  &__heading {
    @include font-size(16px, 20px);
    color: $white;
  }

  &__link {
    @include font-size(14px, 20px);
    letter-spacing: -.05px;
    color: $cold-purple;
    display: block;

    &:hover {
      color: $white;
    }

    &-desc {
      @include at(sm) {
        display: none;
      }
    }
  }
}
