/**
 * = components.footer
 */

.c-footer {

  .--margin {
    @include at(sm) {
      margin-top: 40px;
    }

    @include at(md\+) {
      margin-top: 180px;
    }
  }

  &__head {grid-area: head;}
  &__platform {grid-area: platform;}
  &__products {grid-area: products;}
  &__developers {grid-area: developers;}
  &__support {grid-area: support;}
  &__social {grid-area: social;}
  &__copyright {grid-area: copyright;}

  &__background svg {
    width: 100%;
    display: block;

    @include at(md\+) {
      max-height: 360px;
    }
  }

  &__inner {
    background-color: #1E2144;
  }

  &__grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas:
      "head head"
      "social social"
      "platform developers"
      "support support"
      "copyright copyright";

    @include at(md) {
      grid-template-areas:
        "head head head"
        "platform developers support"
        "social social social"
        "copyright copyright copyright";
    }

    @include at(lg) {
      grid-column-gap: 4px;
      grid-auto-columns: auto;
      grid-template-areas:
        "head head head head"
        "platform developers support social"
        "copyright copyright copyright copyright";
    }
  }

  &__title {
    text-align: center;
    color: $white;
  }

  &__subtitle {
    color: $cold-purple;
    text-align: center;
  }

  &__heading {
    @include font-size(16px, 20px);
    color: $white;
    margin-top: 0;
  }

  &__link {
    @include font-size(14px, 20px);
    letter-spacing: -.05px;
    color: $cold-purple;
    display: block;
    padding: 4px 0;

    &:hover {
      color: $white;
    }

    &-desc {
      @include font-size(12px, 16px);
      display: block;
      color: $san-marino;

      &.is-link:hover {
        color: $white;
      }

      @include at(md-) {
        display: none;
      }
    }
  }

  &__social-button {
    @include font-size(14px, 20px);
    text-align: left;
    width: 100%;
    display: grid;
    align-items: center;
    column-gap: 8px;
    grid-template-columns: 24px 1fr;
    max-width: 170px;
    padding-left: 16px;
    padding-right: 16px;

    @include at(md-) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__copyright {
    @include font-size(12px, 16px);
    text-align: center;
    color: $san-marino;
  }
}
