/**
 * = components.price
 */
.s-pricing {
  padding-top: 256px;
  background: url('/assets/img/light-bg.svg') top right no-repeat;
  background-size: contain;
  @media only screen and (max-width: 900px) {
    padding-top: 100px;
  }
}
.c-pricing {
  max-width: 844px;
  &__title {
    @include font-size(24px, 28px);
    color: $brand;
    display: block;
    text-align: center;
    margin: 0 auto 16px auto;

    @include at(md\+) {
      @include font-size(40px, 52px);
      margin: 0 auto 40px auto;
    }
  }
  &__subtitle {
    @include font-size(14px, 18px);
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: $san-marino;

    @include at(md\+) {
      @include font-size(20px, 24px);
    }
  }
  &__plans {
    padding-top: 80px;
    width: 100%;
    display: flex;
    @media only screen and (max-width: 800px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @media only screen and (max-width: 500px) {
      padding-top: 40px;
    }
  }
  &__container {
    width: 50%;
    height: 100%;
    max-width: 380px;
    min-width: 280px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px 0px;
    border-radius: 16px;
    background-color: white;
    margin-right: 10px;
    &.--alternative {
      background-color: $spindle-light;
      margin-left: 10px;
      margin-top: 90px;
      @media only screen and (max-width: 500px) {
        margin-top: 25px;
      }
    }
    @media only screen and (max-width: 800px) {
      width: 60%;
      margin-right: inherit;
      &.--alternative {
        margin-left: inherit;
      }
    }
  }
  &__package-title {
    color: $wild-blue;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-size: 20px;
    letter-spacing: -0.07px;
    padding: 12px 0px;
    border-radius: 16px 16px 0 0;
    &.--version {
      background-color: $spindle-light;
    }
    &.--description {
      background-color: $cold-purple;
    }
    @media only screen and (max-width: 500px) {
      font-size: 14px;
      padding: 8px 0px;
    }
  }
  &__version-title {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    @media only screen and (max-width: 500px) {
      margin-top: 25px;
    }
  }
  &__start {
    font-weight: 500;
    line-height: 24px;
    font-size: 20px;
    text-align: center;
    color: #A6B1DC;
    padding-right: 15px;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 500px) {
      font-size: 16px;
    }
  }
  &__price {
    display: flex;
    font-weight: bold;
    line-height: 40px;
    font-size: 48px;
    text-align: center;
    letter-spacing: -0.2px;
    color: $brand;
    @media only screen and (max-width: 500px) {
      font-size: 40px;
    }
  }
  &__time {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.05px;
    color: $brand;
  }
  &__check-container {
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 195px;
    margin: 50px auto;
    flex-wrap: wrap;
    &.mg- {
      margin: 0px auto;
      max-width: 180px;
    }
    @media only screen and (max-width: 500px) {
      margin: 15px auto;
    }
  }
  &__properties {
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 10px 0;
    @media only screen and (max-width: 500px) {
      margin: 7px 0;
    }
  }
  &__check-text {
    line-height: 20px;
    font-size: 14px;
    letter-spacing: -0.05px;
    color: $grey-800;

    &.--alternative {
      color: #6677C0;
    }
  }
  &__check-img {
    width: 15px;
    margin-right: 8px;
  }
  &__title-range {
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    color:$brand-light;
    &.--lightgrey {
      color: $grey-1000;
    }
    &.--with-margin {
      margin-top: 15px;
      margin-bottom: 40px;
      @media only screen and (max-width: 500px) {
        margin-bottom: 30px;
      }
    }
  }
  &__range {
    width: 300px;
    margin: 20px auto;
    @media only screen and (max-width: 800px) {
      width: 250px;
    }
    @media only screen and (max-width: 800px) {
      width: 220px;
    }
  }
  &__range-container {
    width: 100%;
    height: 7px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    @media only screen and (max-width: 800px) {
      max-width: 240px;
    }
  }
  &__slider {
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 15px;
      height: 20px;
      border: 1px solid $brand;
      border-radius: 5px;
      background-image: url("/assets/img/pricing_plans/grip.png");
      cursor: pointer;
    }
  }
  &__range-width {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    background: rgba(0, 0, 0, 0);
    outline: none;
    opacity: 1;
    transition: opacity .2s;
    border-radius: 5px;
    position: absolute;
    &.--gray {
      background: $grey-800;
    }
    &.--gradient {
      width: 0%;
      background: linear-gradient(90deg, $brand-light 0%, $medium-violet-red 100%);
    }
  }
  &__zipimage {
    position: absolute;
    left: 50%;
    top: -7px;
    img {
      cursor: pointer;
      width: 15px;
      height: 20px;
      display: block;
    }
  }
  &__ziptitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0.18px;
    color: lightblue;
    @media only screen and (max-width: 500px) {
      font-size: 12px;
    }
  }
  &__image {
    width: 100%;
    margin: 45px 0;
    @media only screen and (max-width: 500px) {
      margin: 25px 0;
    }
  }
  &__image img {
    margin: 0 auto;
    max-width: 170px;
    display: block;
    @media only screen and (max-width: 500px) {
      max-height: 150px;
    }
  }
}
