/**
 * = components.header
 */

.c-header {
  position: absolute;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  transform: translateZ(0);

  * {
    box-sizing: border-box;
  }

  &__dropdown {

    opacity: 0;
    width: 100%;
    transition: all .2s;
    visibility: hidden;
    position: absolute;
    border-radius: 8px;

    &.--active {
      opacity: 1;
      visibility: visible;
    }


    &-content {
      border-radius: 8px;
    }

    &-link {
      display: flex;
      color: $brand-light;
      font-size: 16px;
      margin: 32px 24px;
      align-items: center;

      @media (max-width: 1024px) {
        margin: 16px;
      }

      &:hover {
        color: $brand-light;
      }

      &>span {
        display: block;
      }

      img {
        display: block;
        margin-right: 16px;
      }
    }


    &-subcontent {
      background: #F4F6FF;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      @media (max-width: 1024px) {
        border-radius: 0;
        padding: 8px 0;
      }

    }

    &-sublist {
      background: #F4F6FF;

      a {
        color: $cold-purple;
        display: block;
        margin: 0 32px 20px;
        font-size: 14px;
      }

      &:after {
        display: block;
        height: 1px;
        background: #EAEDFC;
        content: '';
        margin: 0 24px;
      }
    }

    &-sublink {
      color: $san-marino;
      margin: 18px 24px 24px;
      display: block;

    }

    &-list {
      position: relative;
      width: 384px;
      overflow: hidden;
      z-index: 3;
      backface-visibility: hidden;
      perspective: 1000;
      will-change: width, height, transform;
      transition: width .3s, height .3s, transform .3s;
      transform: translate(50%,0);
      & ul {
        position: relative;
        z-index: 1;
        height: 100%;
        width: 100%;
        overflow: hidden;
      }

      .--dropdown-visible & {
        visibility: visible;
      }
    }

    &-wrapper {
      top: 90px;
      position: absolute;
      width: auto;
      left: 0;
      padding: 0;
      visibility: hidden;
      box-shadow: none;
      background-color: transparent;
      transform: translateZ(0);
      will-change: transform;
      transition: transform .3s;

      .c-header__navigation.--dropdown & {
        visibility: visible;
      }
    }
  }

  &__navigation {
    @media only screen and (max-width: 1024px) {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
      background: #fff;
    }

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 0;
      width: 0;
      background: #FFFFFF;
      opacity: 0;
      will-change: width, height, transform, opacity;
      transition: width .3s, height .3s, transform .3s, opacity .3s;
      backface-visibility: hidden;
      perspective: 1000;
      transform-origin: top left;
      border-radius: 8px;
      z-index: 1;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);

      &:before {
        content: '';
        position: absolute;
        z-index: 1;
        bottom: calc(100% - 5px);
        left: 50%;
        right: auto;
        transform: translateX(-50%) rotate(45deg);
        height: 0;
        width: 0;
        width:10px;
        height: 10px;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
      }

      &:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 50%;
        width:32px;
        height: 16px;
        transform: translateX(-50%);
        background: #ffffff;
      }

      .c-header__navigation.--dropdown & {
        opacity: 1;
      }
    }

    &-button {
      background: #D34E92;
      padding: 5px 22px;
      border-radius: 18px;

      margin: 0 16px;
      text-align: center;
      display: block;

      .c-header.--light &,
      .c-header.--dark & {
        color: #fff;
      }

      @media only screen and (max-width: 1024px) {
        display: none;
      }

    }

    &-description {
      display: block;
      color: $cold-purple;
      font-size: 14px;
      margin-top: 8px;

      @media only screen and (max-width: 1024px) {
        display: none;
      }
    }

    &-kicker {
      align-items: center;
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 16px 0;

      @media only screen and (max-width: 1024px) {
        display: none;
        &:before {
          position: fixed;
          display: block;
          z-index: 1;
          top: 0;
          left: 0;
          background: linear-gradient(to bottom, rgba(255,255,255,1) 71%,rgba(255,255,255,0) 100%); 
          content: '';
          width: 100%;
          height: 126px;
          pointer-events: none;

          @media only screen and (max-width: 500px) { 
            height: 96px;
          }
        }
        .--mobile-active & {
          display: flex;
          flex-wrap: wrap;
          position: fixed;
          height: 100vh;
          width: 100%;
          background: #fff;
          overflow: scroll;
          top: 0;
          left: 0;
          padding: 120px 24px 32px;
          -webkit-overflow-scrolling: touch;
          align-items: flex-start;
          & > li {
            width: 50%;
            @media only screen and (max-width: 640px) {
              width: 100%;
            }
          }

          @media only screen and (max-width: 500px) {
          padding: 70px 0 32px 0;
          }
        }
      }

      li {
        list-style-type: none;
        display: block;
      }
    }

    &-link {
      font-size: 16px;
      color: $cold-purple;
      opacity: 0.8;
      margin: 0 16px;
      text-decoration: none;

      &:hover {
        color: $cold-purple;
        opacity: 1;
      }

      .--light & {
        color: $san-marino;
      }

      @media only screen and (max-width: 1024px) {
        display: block;
        margin-top: 40px;
        color: $marguerite;
      }
    }

    &-mobile {
      display: none;

      @media only screen and (max-width: 1024px) {
        display: block;
      }
    }
  }

  &__logo-text {
    fill: #fff;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    .--light &, .--mobile-active & {
      fill: $grey-200;
    }
  }

  &__wrapper {
    padding: 35px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    position: relative;

    svg {
      position: relative;
      z-index: 2019;
    }

    @media only screen and (max-width: 1000px) {
      padding: 40px;
    }

    @media only screen and (max-width: 500px) {
      padding: 25px 10px;

      svg {
        max-height: 32px;
        width: auto;
      }
    }
  }


}


body.--mobile-active {
  height: 100vh;
  overflow: hidden;
}