/**
 * = objects.template
 */

.o-wrapper {
  width: 100%;
  max-width: 1180 + $base-spacing * 2;
  margin-left: auto;
  margin-right: auto;
  padding-left: $base-spacing;
  padding-right: $base-spacing;

  @include at(sm) {
    padding-left: halve($base-spacing);
    padding-right: halve($base-spacing);
  }

  &--narrow {
    max-width: 780 + $base-spacing * 2;
  }

  &--thin {
    max-width: 980 + $base-spacing * 2;
  }
  &--margin-top {
    margin-top: 200px;
    @media only screen and (max-width: 720px) {
      margin-top: 80px;
    }
  }
}
