/**
 * = settings.template
 */]
$white: #fff;
$brand: #313A75;
$brand-light: #353F80;
$chambray: #313A75;
$cold-purple: #A7B1DC;
$san-marino: #5162AA;
$grey-400: #414141;
$grey-800: #808080;
$grey-1000: #C4C4C4;
