/**
 * = settings.template
 */
$white: #fff;
$brand: #313A75;
$brand-light: #353F80;
$chambray: #313A75;
$cold-purple: #A7B1DC;
$spindle: #B9C3E8;
$spindle-light: #F4F6FF;
$san-marino: #5162AA;
$grey-200: #1E2144;
$grey-400: #414141;
$grey-800: #808080;
$grey-1000: #C4C4C4;
$jungle-green: #26B29F;
$wild-blue: #7E8ABF;
$medium-violet-red: #D34E92;
