<div class="benefits">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h2>We believe in real trust. Like this:</h2>
				<h5>Flexible work and vacation policy (US)</h5>
				<p>Get your job done. Take the time you need.</p>
				<h5>Live where you want.</h5>
				<p>Do great work from an environment that you're comfortable in. We’re international and multicultural. We have offices in NYC, Oslo and Warsaw and employees distributed around the world.</p>
				<h5>Live a full life.</h5>
				<p>Hobbies and personal interests? Great, go after them. You bring more passion to your work when you live a full life.</p>
				<h5>Salary + Options</h5>
				<p>We're a well-funded startup and you’re vital to our success. We offer highly competitive salaries as well as bonus and equity options.</p>
				<h5>Beyond awesome team building.</h5>
				<p>We view team building a bit differently. Our last trip was in the Arctic Circle, in Svalbard. 24 hours of sun, polar bears, arctic foxes, and a lot, lot more. Help us plan our next destination!</p>
				<h5>No knives-in-the-back.</h5>
				<p>Politics are the worst.  If there’s one thing we’re adamant about, it’s not having them.</p>
				<h5>Talent and ability count.</h5>
				<p>We have degrees. We have no degrees. We have computer scientists. We have liberal arts majors. We’re about rewarding those who do great things.</p>
			</div><!-- END col-md-9 -->
			<div class="col-md-3 col-md-offset-1">
				<div><img src="/public/IMG_8182.png" /></div>
				<div><img src="/public/TapadNewOffice0314-2.png" /></div>
				<div><img src="/public/mariuszsara_websummit.png" /></div>
			</div><!-- END col-md-3 -->
		</div><!-- END row -->
	</div><!-- END container -->
</div><!-- END benefits -->