<div class="benefits">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h2>Perks</h2>
				<ul>
					<li>Flexible work and vacation policy - Get your job done. Take the time you need.</li>
					<li>Live where you want. We're international and multicultural. We have offices in NYC, Oslo and Warsaw - and virtual offices from coast-to-coast in the US, from San Francisco and Las Vegas to Indianapolis and Washington, DC.</li>
					<li>Hobbies and personal interests? Great, go after them. You bring more passion to your work when you live a full life.</li>
					<li>Beyond awesome team building. We're a little bit different (maybe a bit crazy?). Our last one was in Svalbard (on top of the North Pole). Twenty four hours of sun, polar bears, artic foxes, and a lot, lot more.</li>
					<li>No knives-in-the-back. Politics are the worst. If there's one thing we're adament about, it's not having them.</li>
					<li>Talent and ability count. We have degrees. We have no degrees. We have computer scientists. We have liberal arts majors. We have young. We have old. Of course, we don't discriminate in any way and we are an Equal Opportunity Employer, but it's a lot more than that. It's about rewarding those who do great things.</li>
				</ul>
				<h2>Benefits</h2>
				<ul>
					<li>Of course, we have the standard slew of benefits:</li>
					<li>Medical, dental, and vision (with tax-saving flexible spending accounts),</li>
					<li>Short and long term disability,</li>
					<li>Life insurance,</li>
					<li>Commuter benefits and more.</li>
					<li>Plus competitive compensation, bonuses and equity. Since we operate in different countries, specific benefits can vary based on where you live and on local regulations.</li>
				</ul>
			</div><!-- END col-md-9 -->
			<div class="col-md-3">
				<div><img src="/public/IMG_8182.png" /></div>
				<div><img src="/public/TapadNewOffice0314-2.png" /></div>
				<div><img src="/public/mariuszsara_websummit.png" /></div>
			</div><!-- END col-md-3 -->
		</div><!-- END row -->
	</div><!-- END container -->
</div><!-- END benefits -->