<div class="positions">
	<div class="container text-center">
		<h2>Open Positions</h2>
		<ul>
			<li>
				<h3><a href="https://syncano.workable.com/jobs/41529" target="_blank">Product Owner</a></h3>
				<h4>New York, NY</h4>
			</li>
			<!-- li>
				<h3><a href="#" target="_blank">Senior DevOps Engineer</a></h3>
				<h4>Mazowieckie, Warsaw</h4>
			</li -->
			<li>
				<h3><a href="https://syncano.workable.com/jobs/41523" target="_blank">Frontend &amp; Javascript Developer</a></h3>
				<h4>Mazowieckie, Warsaw</h4>
			</li>
			<li>
				<h3><a href="https://syncano.workable.com/jobs/32568" target="_blank">Senior Python Developer</a></h3>
				<h4>Mazowieckie, Warsaw</h4>
			</li>
		</ul>
	</div><!-- END container -->
</div><!-- END positions -->