{% include header.html %}

<div class="container archive {{page.catgeory}}">
  <div class="posts">
    <h1 class="text-center">All posts for category: {{page.category}}</h1>
    {% assign counter = 0 %}
    {% capture cat %}{{page.category}}{% endcapture %}
    {% for post in site.posts %}
      {% if post.categories contains cat %}
        {% assign counter=counter | plus:1 %}
        {% assign loopindex = forloop.index | modulo: 4 %}
        {% if counter > 1 %}
          {% if counter == 4 %}
            {% include blog/subscribe.html %}
          {% endif %}
        {% endif %}
        {% if counter > 8 %}
          {% if loopindex == 0 %}
            {% include blog/subscribe.html %}
          {% endif %}
        {% endif %}
        <div class="row">
          <div class="post-content">
            {% include blog/post.html %}
          </div><!-- END post content -->
        </div><!-- END row -->
      {% endif %}
    {% endfor %}
  </div><!-- END posts -->
</div><!-- END container -->

{% include footer.html %}