<div class="data">
	<div class="container">
		<h2 class="text-center">Control your data. <br/>Store, manage, and synchronize data <br/>anywhere, anytime, in any form.</h2>
		<div class="row">
			<div class="col-md-6">
				<img src="/public/up-down-up.png" class="text-center"/>
				<h3>Manage your own dashboard</h3>
				<p>Upload, download, manage and sync data <br/>visually with your own Dashboard.</p>
			</div>
			<div class="col-md-6">
				<img src="/public/database-stack.png" class="text-center"/>
				<h3>NoSQL database and file storage</h3>
				<p>NoSQL database and file storage not <br/>required. Define and create relations, store <br/> files, and update your structure based on your<br/> needs.</p>
			</div>
		</div>
	</div><!-- END container -->
</div><!-- END data -->