<div class="data">
	<div class="container">
		<h2 class="text-center">Control your data.</h2>
		<h5 class="text-center">Store, manage, and synchronize data anywhere, anytime, in any form.</h5>
		<div class="row">
			<div class="col-md-4 col-md-offset-2 text-center">
				<div>
					<img src="/public/dashboard.png" height="55"/>
				</div>
				<h3>Manage your own dashboard</h3>
				<p>Upload, download, manage and sync data <br/>visually with your own Dashboard.</p>
			</div>
			<div class="col-md-4 text-center">
				<div>
					<img src="/public/nosql.png" height="55"/>
				</div>
				<h3>NoSQL database and file storage</h3>
				<p>NoSQL database and file storage included. Define and create relations, store files, and update your structure based on your needs.</p>
			</div>
		</div>
	</div><!-- END container -->
</div><!-- END data -->