<div class="highlights">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 col-sm-4">
        <div class="">
          <h3>Take Control of Your Data</h3>
          <p>Syncano scales and syncs your data across devices in real-time. Get your data when you need it, where you need it, in the form you need it.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="">
          <h3>Build Your App Your Way</h3>
          <p>Syncano gives your the flexibility to run your code and define your data structures the way you want to - so you can focus on building powerful user experiences.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="">
          <h3>Join the Community</h3>
          <p>Syncano introduces Solutions, a marketplace that speeds up development, fosters collaboration among developers, and fuels creativity.</p>
        </div>
      </div>   
    </div><!-- END row -->
  </div><!-- END container -->
</div><!-- END highlights -->
