<div class="highlights">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 col-sm-4">
        <div class="">
          <h3>Data where you need it</h3>
          <p>Syncano scales and syncs your data across devices and servers in real-time. Deploy anywhere.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="">
          <h3>Data when you need it</h3>
          <p>Syncano scales with your needs, so if you get a sudden burst in usage, you're covered.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="">
          <h3>Data in the form you need it</h3>
          <p>Create hierarchical relations so your app defines the data structures, rather than being limited by them.</p>
        </div>
      </div>   
    </div><!-- END row -->
  </div><!-- END container -->
</div><!-- END highlights -->