<div class="highlights">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 col-sm-4">
        <div class="">
          <h3>Where you need it</h3>
          <p>Syncano scales and syncs your data across devices and servers in real-time. Deploy anywhere.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="">
          <h3>When you need it</h3>
          <p>Syncano scales with your needs, so if you get a sudden burst in usage, you're covered.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="">
          <h3>In the form you need it</h3>
          <p>Use hierarchies and many-to-many relations to create exactly the right data structure.</p>
        </div>
      </div>   
    </div><!-- END row -->
  </div><!-- END container -->
</div><!-- END highlights -->