<div class="middleware text-center">
	<div class="container">
		<h2>No middleware required!</h2>
		<p>With CodeBox<sup>TM</sup>, create and run any code, whether it's your own or a third-party's. Build complex <br/>logic into your app. Process data on the fly. Integrate with anything.</p>
		<p><strong>We support Javascript, Python, GO and Ruby</strong></p>
		<p><img src="/public/middleware-support-icons.png"/></p>
		<img src="/public/slide3.png"/>
	</div><!-- END container -->
	<div class="shadow"></div>
</div><!-- END middleware -->