<div class="showcase">
  <div class="container">
    <h2 class="text-center">Build apps with secure, best-practices authentication <br/>and access management.</h2>
    <div class="col-md-4">
      <h3>User Authentication</h3>
      <p>Authenticate your users using passwords or social media profiles.</p>
    </div>
    <div class="col-md-4">
      <h3>Access Management</h3>
      <p>Create Users and Groups. User Profiles enable you to store any user data.</p>
    </div>
    <div class="col-md-4">
      <h3>Data Security</h3>
      <p>Syncano is HIPAA compliant and Safe Harbor certified.</p>
      <img src="/public/safe-harbor.png" alt="safe harbor logo" />
    </div>
  </div><!-- END container -->
</div><!-- END showcase -->