<div class="showcase">
  <div class="container text-center">
    <h2>Build apps with secure, best-practices authentication <br/>and access management.</h2>
    <div class="col-md-4">
      <img src="/public/authentication.png" height="50"/>
      <h3>User Authentication</h3>
      <p>Authenticate your users using <br/>passwords or social media <br/>profiles.</p>
    </div>
    <div class="col-md-4">
      <img src="/public/management.png" height="50"/>
      <h3>Access Management</h3>
      <p>Create Users and Groups. User Profiles <br/>enable you to store any <br/>user data.</p>
    </div>
    <div class="col-md-4">
      <img src="/public/security.png" height="50"/>
      <h3>Data Security</h3>
      <p>Syncano is HIPAA compliant and <br/>Safe Harbor certified.</p>
    </div>
  </div><!-- END container -->
</div><!-- END showcase -->