<script src="//code.jquery.com/jquery-latest.min.js"></script>
<script src="//unslider.com/unslider.min.js"></script>

<div class="banner">
    <ul>
        <li><img src="/public/syncano-screen.png"/></li>
        <li><img src="/public/syncano-screen.png"/></li>
        <li><img src="/public/syncano-screen.png"/></li>
    </ul>
</div>

<style>
.banner { 
	background: -webkit-linear-gradient(#254376, #1E1E21); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#254376, #1E1E21); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#254376, #1E1E21); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#254376, #1E1E21); /* Standard syntax */
	position: relative; overflow: auto; }
.banner li { list-style: none; text-align: center;}
.banner ul li { float: left; }
</style>

<script>
$(function() {
    $('.banner').unslider();
});
</script>