<div class="solutions">
  <div class="container text-center">
    <h2>Speed up your development process with Solutions.</h2>
    <p>Create your own work, share it with others, and easily install it within your app. <br/>Simply enter our directory, find what you need and start building within seconds.</p>
    <div class="row">
    	{% for s in site.data.solutions limit:3 %}
    	<div class="col-md-4 item-{{s.id}}">
			<div class="image">
			{% if s.metadata.screenshots[0] %}
				<img src="{{s.metadata.screenshots[0]}}" />
			{% else %}
				<div class="placeholder"></div>
			{% endif %}
			</div>
		</div><!-- END col-md-4 -->
		{% endfor %}
    </div><!-- END row -->
  </div><!-- END container -->
</div><!-- END solutions -->