<div class="solutions">
  <div class="container text-center">
    <h2>Speed up your development process with Solutions.</h2>
    <p>Create your own work, share it with others, and easily install it within your app. <br/>Simply enter our directory, find what you need and start building within seconds.</p>
    <div class="row">
    	{% for s in site.data.solutions.objects limit:3 %}
			{% include solutions/item.html %}
		{% endfor %}
    </div><!-- END row -->
    <a href="/solutions" class="btn btn-dark-blue">See more Solutions</a>
  </div><!-- END container -->
</div><!-- END solutions -->